<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/outside_video.svg"
               alt=""></div>
        <h1>Видеонаблюдение на участке</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Присматривает за частным домом и придомовой территорией: ведет запись и
          онлайн-трансляцию на смартфон, при необходимости включит сирену и даст поговорить по двусторонней связи — с
          гостем или нарушителем.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/smartphone.svg"
                   alt="">
              <p class="workit-icon_descr">Видео высокого разрешения со звуком</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/motion.svg"
                   alt="">
              <p class="workit-icon_descr">Обнаружение движения</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/night_video.svg"
                   alt="">
              <p class="workit-icon_descr">Режим ночной съемки</p>
            </div>
          </div>
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/ruppor.svg"
                   alt="">
              <p class="workit-icon_descr"> Громкая сирена</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/two_voice.svg"
                   alt="">
              <p class="workit-icon_descr"> Двустороннее аудио — можно поговорить через камеру</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/free_video.svg"
                   alt="">
              <p class="workit-icon_descr">Доступ к видео без абонентской платы</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем камеры EZVIZ бренда Hikvision — мирового лидера в производстве
          систем видеонаблюдения. Эти камеры отличают хорошее соотношение цены и качества, надежность и удобство
          использования.</p>
        <img class="obor"
             src="..//assets/img/ezviz.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="outside4"
               (click)="gallery.open()"></a>
            <a class="outside1"
               (click)="gallery.open()"></a>
            <a class="outside3"
               (click)="gallery.open()"></a>
          </div>

          <a class="outside5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Удобный архив</h2>
          <p class="service-equipment_descr">Запись ведется, только когда в кадре есть движение, а видео сохраняется на
            карту памяти — доступ к нему обеспечивает приложение, не требующее абонентской платы. Опционально, для
            большей защищенности, записи можно сохранять на видеорегистратор или в облако.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/outside_video_phone.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Ночной режим</h2>
          <p class="service-equipment_descr">Запись идет круглосуточно: в ночное время — с помощью невидимой глазу
            инфракрасной подсветки дальностью до 30 метров.
          </p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Отпугнет нарушителя</h2>
          <p class="service-equipment_descr">При обнаружении нарушителя камера может активировать световой
            стробоскопический сигнал и сирену мощностью 100 децибел — по громкости звука сравнимую с сигналом
            автомобиля.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/outside_video1.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Двусторонняя связь</h2>
          <p class="service-equipment_descr">Динамики обеспечивают двустороннюю аудиосвязь в пределах 5 метров — вы
            можете прикрикнуть на нарушителя, не выходя из офиса, или поздороваться с пришедшими из школы детьми.
          </p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Работа при любой погоде</h2>
          <p class="service-equipment_descr">Все выбранные нами камеры защищены от воздействия сурового российского
            климата по стандарту IP66 и будут без проблем работать круглый год.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/outside_video2.png"
               alt="">
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 8 790 рублей. Итоговая цена зависит от количества камер.
        </p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько камер мне нужно?'">
          <p>По количеству зон, в которых вы хотите контролировать происходящее (угол обзора каждой — 110°). Если
            сомневаетесь, можем взять с собой дополнительную камеру. Не понадобится — заберем обратно.</p>

        </app-accordion>

        <app-accordion [title]="'Можно ли комбинировать видеонаблюдение на участке с другими решениями?'">
          <p>Конечно! Внутреннее видеонаблюдение и видеонаблюдение на участке построены на одном оборудовании и
            образуют единую систему. Решения по защите от воров, пожара и протечек органично дополняют ее, позволяя вам
            получать уведомления о неприятностях. Другие решения напрямую не связаны с безопасностью, но сделают дом
            комфортнее.
          </p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>