<app-modal-dialog #modal>
  <div style="width: 100vw; height: 100vh; display: flex;">
    <ngx-slick-carousel style="width: 100%; margin: auto;"
                        [config]="slidesGalleryConfig">
      <div style="display: flex; align-items: center; justify-content: center; height:-webkit-fill-available;"
           ngxSlickItem
           *ngFor="let item of items"
           class="slide">
        <img [src]="item.src"
             *ngIf="item.type === 'image'"
             style="max-height: 90vh; max-width: 90vw;">
        <iframe id="ytplayer"
                type="text/html"
                width="640"
                style="max-height: 90vh; max-width: 90vw;"
                *ngIf="item.type === 'video'"
                height="360"
                [src]="sanitizer.bypassSecurityTrustResourceUrl(item.src)"
                frameborder="0"></iframe>
      </div>
    </ngx-slick-carousel>
  </div>
</app-modal-dialog>