<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/appletv_dom.svg"
               alt=""></div>
        <h1>ТВ приставка Apple TV</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Для доступа к зарубежным и российским библиотекам: Netflix, ivi.ru, Amediateka — и
          сотням других приложений. Покажет фильмы и сериалы в невероятном качестве 4K, а еще — снимки с iPhone на
          большом экране.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/4k.svg"
                   alt="">
              <p class="workit-icon_descr">Идеальное изображение</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/languages.svg"
                   alt="">
              <p class="workit-icon_descr">Библиотека фильмов на русском и английском</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/sensor.svg"
                   alt="">
              <p class="workit-icon_descr">Удобный сенсорный пульт</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/airdrop_content.svg"
                   alt="">
              <p class="workit-icon_descr">Любой контент с iPhone и MacBook на экране вашего телевизора: от музыки и
                фото до вкладок браузера</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование Apple</h2>
        <p class="service-equipment_descr">Хотя в споре iPhone vs Android всегда остается два мнения, в ТВ-приставках
          Apple — очевидный лидер: с ними все просто работает как надо.
        </p>
        <img class="obor"
             src="..//assets/img/apple_logo.png"
             alt="">
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Идеальное изображение</h2>
          <p class="service-equipment_descr">Apple TV использует формат 4К, усиленный технологией HDR (High Dynamic
            Range), для четкой, вплоть до мельчайших деталей, картинки и реалистичной передачи цветов. Результат —
            завораживающий.</p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Все фильмы мира</h2>
          <p class="service-equipment_descr">Для разных возрастов и интересов: все фильмы и сериалы мира на русском и
            английском в вашем телевизоре и по вашему расписанию. </p>
          <img class="size_protect2"
               src="..//assets/img/appletv_logo.png"
               alt="">
          <img class="size_protect1"
               src="..//assets/img/appletv_logo_mob.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Сенсорный пульт</h2>
          <p class="service-equipment_descr">Интуитивно понятный, удобный и просто красивый. А благодаря подключению по
            Bluetooth работает из любого угла комнаты — на телевизор его направлять не надо. </p>
          <img class="size_protect"
               src="..//assets/img/service_img/appletv.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Фото и видео в новом качестве</h2>
          <p class="service-equipment_descr">Весь ваш фото- и видеоархив теперь можно увидеть на экране телевизора.
            Потому что воспоминаниям нужен простор.</p>
          <img class="size_protect"
               src="../assets/img/service_img/appletv_preview1.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Платформы Apple на экране телевизора</h2>
          <p class="service-equipment_descr">Еще одно устройство с доступом к играм из App Store и трекам из Apple
            Music — любимые развлечения теперь и на самом большом экране в доме.</p>
          <img class="size_protect"
               src="../assets/img/service_img/appletv_preview2.png"
               alt="">
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 11 490 рублей. Итоговая цена зависит от количества телевизоров и модели
          Apple TV.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Apple TV подходит только тем, у кого iPhone и MacBook?'">
          <p>Вовсе нет — приставка прекрасно живет своей жизнью и может стать единственной техникой от Apple в доме.
          </p>

        </app-accordion>
        <app-accordion [title]="'Можно ли комбинировать Apple TV с другими решениями?'">
          <p>Конечно! Саундбар станет отличным дополнением к Apple TV и обеспечит звук как в профессиональном домашнем
            кинотеатре. Видеонаблюдение или защита от воров, пожара и протечек с мультимедиа не связаны, но сделают дом
            безопаснее.</p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>