<app-landing-calculator *ngIf="isActive"
                        #calculator
                        (onAccept)="calculator.totalPrice > 0 ? notEmptyOrder() : emptyOrder()"
                        (onCancel)="calculatorClose()"
                        [categories]="categories"></app-landing-calculator>

<!-- Диалог. Спасибо за заказ -->
<app-modal-dialog id="ty-not-empty"
                  #tyNotEmpty>
  <div [ngSwitch]="requestStatus">

    <app-spinner *ngSwitchCase="'Loading'"
                 style="display: flex; justify-content: center; background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);"></app-spinner>

    <div class="thanks__block"
         *ngSwitchCase="'Success'"
         style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">
      <h1 class="thanks__title">Спасибо!</h1>
      <p class="thanks__subtitle">Мы отправили вам SMS со ссылкой на ваш расчет. Скоро мы позвоним вам,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда кликера, если вы захотите оформить заказ.</p>
      <a class="check__link"
         (click)="tyNotEmpty.close(); calculatorClose(); navigateToOreder(); calculatorClear();"
         routerLink="">К заказу</a>
    </div>

    <div *ngSwitchCase="'Error'">
      <h1 class="thanks__title">Ошибка при создании заказа</h1>
      <p class="thanks__subtitle">При создании заказа произошла ошибка, попробуйте снова</p>
      <a class="check__link"
         (click)="tyNotEmpty.close(); calculatorClose();"
         routerLink="//">Вернуться на clicker.one</a>
    </div>

  </div>
</app-modal-dialog>

<!-- Диалог. Спасибо за заказ -->
<app-modal-dialog id="ty-empty"
                  #tyEmpty>
  <div [ngSwitch]="requestStatus">

    <app-spinner *ngSwitchCase="'Loading'"
                 style="display: flex; justify-content: center; background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);"></app-spinner>

    <div class="thanks__block"
         *ngSwitchCase="'Success'"
         style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">
      <h1 class="thanks__title">Спасибо что оставили номер!</h1>
      <p class="thanks__subtitle">Вы ничего не выбрали из наших услуг. Но мы можем помочь вам определиться: скоро мы
        позвоним
        вам, проконсультируем по всем вопросам и назначим время приезда Кликера, если вы захотите оформить заказ.</p>
      <a class="check__link"
         (click)="tyEmpty.close(); calculatorClose();"
         routerLink="">Закрыть</a>
    </div>

    <div *ngSwitchCase="'Error'">
      <h1 class="thanks__title">Ошибка при создании заказа</h1>
      <p class="thanks__subtitle">При создании заказа произошла ошибка, попробуйте снова</p>
      <a class="check__link"
         (click)="tyEmpty.close(); calculatorClose();"
         routerLink="//">Вернуться на clicker.one</a>
    </div>

  </div>
</app-modal-dialog>

<!-- <app-modal-dialog id="order-thanks"
                  (afterClosed)="modalClosed(); calculatorClose();"
                  #modal>
  <div class="thanks__block"
       [ngSwitch]="requestStatus"
       style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">

    <div *ngSwitchCase="'Success'">
      <div *ngIf="orderStatus === 'Order'">
        <h1 class="thanks__title">Спасибо за ваш заказ!</h1>
        <p class="thanks__subtitle">Мы скоро свяжемся с вами</p>
        <a class="check__link"
           (click)="modal.close()"
           routerLink="//">Вернуться на clicker.one</a>
        <a class="check__link"
           (click)="modal.close(); calculatorClear();"
           routerLink="/order/{{createdOrderId}}">К заказу</a>
      </div>
      <div *ngIf="orderStatus === 'Calculation'">
        <h1 class="thanks__title">Спасибо!</h1>
        <p class="thanks__subtitle">Мы отправили вам ссылку на расчет, чтобы вы могли изучить его позже.</p>
        <a class="check__link"
           (click)="modal.close()"
           routerLink="//">Вернуться на clicker.one</a>
      </div>
    </div>
    <div *ngSwitchCase="'Error'">
      <h1 class="thanks__title">Ошибка при создании заказа</h1>
      <p class="thanks__subtitle">При создании заказа произошла ошибка, попробуйте снова</p>
      <a class="check__link"
         (click)="modal.close();"
         routerLink="//">Вернуться на clicker.one</a>
    </div>
    <app-spinner *ngSwitchCase="'Loading'"
                 style="display: flex; justify-content: center;"></app-spinner>
  </div>
</app-modal-dialog> -->