<!-- <button class="main-nav__btn"
        style="display: flex; align-items: center; width: auto; margin: auto; padding: 0px 16px;">
  <div *ngIf="displayPrice"
       style="flex: 0 0 auto;">
    {{displayPrice | localeCurrencyConverter}} ₽
  </div>
  <span *ngIf="displayPrice"
        style="border-left: 1px solid #fff; height: inherit; margin: 0px 8px;"></span>
  <div style="flex: 0 0 auto;">
    Вызвать кликер
  </div>
</button>

<a href="#"
   class="btn-nav">Рассчитать стоимость</a> -->

<app-button #btn (mouseenter)="hovered = true" (mouseleave)="hovered = false">
  <div *ngIf="displayPrice" style="flex: 0 0 auto; display: flex; align-items: center;">
    <app-cart [color]="hovered ? '#D0021B' : 'white'" style="width: 24px; height: 24px; margin-right: 8px;"></app-cart>
    <div>
      {{displayPrice | localeCurrencyConverter}} ₽
    </div>
  </div>
  <div *ngIf="!displayPrice" style="flex: 0 0 auto;">
    Рассчитать стоимость
  </div>
</app-button>

<!-- <button class="main-nav__btn2">
  <img class="white_cart"
       src="cart.svg"
       alt="">
       <img class="red_cart"
       src="cart_red.svg"
       alt="">
       &nbsp;&nbsp;15 999Р
</button>

<a href="#"
   id="big_btn"
   class="btn-nav">Рассчитать стоимость</a> -->