<svg version="1.1"
     id="Слой_1"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     x="0px"
     y="0px"
     viewBox="0 0 67.1 56.9"
     style="enable-background:new 0 0 67.1 56.9;"
     xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: none;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  </style>
  <title>иконки новые</title>
  <polyline class="st0"
            [attr.stroke]='color'
            points="6.1,5.7 17.5,5.7 25.3,39.3 57.5,39.3 " />
  <polyline class="st0"
            [attr.stroke]='color'
            points="23.8,32.1 56.5,32.1 61,12.9 19.2,12.9 " />
  <circle class="st0"
          [attr.stroke]='color'
          cx="29.9"
          cy="46.6"
          r="4.4" />
  <circle class="st0"
          [attr.stroke]='color'
          cx="53.1"
          cy="46.6"
          r="4.4" />
  <line class="st0"
        [attr.stroke]='color'
        x1="33.1"
        y1="12.9"
        x2="33.1"
        y2="32.1" />
  <line class="st0"
        [attr.stroke]='color'
        x1="47"
        y1="12.9"
        x2="47"
        y2="32.1" />
  <line class="st0"
        [attr.stroke]='color'
        x1="21.4"
        y1="22.5"
        x2="58.6"
        y2="22.5" />
</svg>