<app-landing-menu [closable]="true"></app-landing-menu>
<app-landing-page>
  <div class="doc_container">
    <h3>Заявление-согласие на обработку предоставленной информации</h3>
    <p>Компания предпринимает все разумные меры по защите предоставленных данных от уничтожения, искажения или
      разглашения.
      Лицо (субъект данных), предоставляющее данные, даёт согласие и в случае предоставления данных о третьих лицах
      гарантирует,
      что данное согласие получено от лиц (субъектов данных), чьи данные предоставляются Компании на обработку, т. е.
      осуществление
      любых действий (операций) с предоставленными данными, включая сбор, систематизацию, накопление, бессрочное
      хранение,
      обновление, изменение, использование, обезличивание, блокирование, уничтожение, обработку на бумажных носителях
      и/или
      посредством внесения данных в электронную базу данных, т. е. в том числе с использованием средств автоматизации,
      в целях
      предоставления доступа к Продуктам Компании, управления и совершенствования Продуктов, информирования о Продуктах
      и иной
      информации от имени Компании, а также защиты интересов Компании и в иных целях, не запрещённых применимым к
      сторонам
      законодательством и/или согласованных с Лицом, предоставляющим данные. При этом в случае направления любой
      информации
      в адрес лица, предоставившего данные, и/или лиц, чьи данные предоставлены, Компания оставляет за собой право
      выбирать
      любые каналы передачи указанной информации, а также любые способы фиксации факта передачи информации и содержания
      передаваемой
      информации. Лицо, передающее данные, выражает согласие с предоставлением Компании переданной информации третьим
      лицам,
      в том числе лицам, осуществляющим поддержку служб и услуг Компании, в необходимом для осуществления такой
      поддержки объёме,
      и/или компаниям, входящим в группу компаний, и/или иным лицам; права и обязанности по доступу к соответствующей
      информации
      установлены действующим законодательством, применимым к правоотношениям сторон. Согласие субъекта данных на
      обработку
      предоставленных данных, выраженное в настоящем Заявлении-согласии, действует бессрочно и может быть в любой
      момент отозвано
      субъектом данных путём письменного обращения. Компания обязуется в разумные сроки немедленно прекратить обработку
      предоставленных
      данных после получения соответствующего требования субъекта данных, оформленного в письменной форме в
      соответствии с
      действующим законодательством, применимым к правоотношениям сторон.
    </p>
  </div>
</app-landing-page>