:host {
    display: block;
}

.tab-headers {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
    flex-wrap: wrap;
}

.tab-header {
    // flex: 1 1 auto;
    cursor: pointer;
    // line-height: 38px;
    border: 1px solid #050DA8;
    padding-left: 18px;
    padding-right: 18px;
    flex: 1 0;
    text-align: center;
    font-size: 11pt;
    min-height: 40px;
    color: #050DA8;
    font-family: 'Proxima Nova RG';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
        color: #fff;
        background-color: #050DA8;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
    }
}