<ul class="tab-headers">
  <li *ngFor="let item of tabItems; index as i;"
      class="tab-header"
      (click)="selectTab(item)"
      [ngClass]="{active: item.active}">
    {{item.header}}
  </li>
</ul>
<ng-content></ng-content>