:host() {
    /* modals are hidden by default */
    display: none;
}

:host(.open) {
    /* modals are display*/
    display: block;
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 10000;
    /* enables scrolling for tall modals */
    overflow: auto;
}

.closeIcon {
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    color: white;
    z-index: 100;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-context {
    max-height: 100vh;
    overflow: auto;
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}