<div class="modal-background"
     *ngIf="isOpen"
     (click)="close();">
  <div class="closeIcon"
       (click)="$event.stopPropagation(); close()"
       *ngIf="closable">✕</div>
  <div (click)="$event.stopPropagation()">
    <div class="model-context">
      <ng-content></ng-content>
    </div>
  </div>
</div>