.service_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    max-width: 62.5rem;
    align-items: center;
    padding-top: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

.klone {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 62.5rem;
    flex-wrap: wrap;
}

.size_protect {
    max-width: 45rem;
}

.mob-cards_items {
    max-width: 768px;
    margin: 0 auto;
    display: none;
}

@media(max-width:768px) {
    .mob-cards_items {
        display: block;
    }
}

.collection__chat {
    width: 332px;
}

.message {
    padding-bottom: 18px;
}

.message__info {
    padding-bottom: 8px;
}

.service-chat {
    display: flex;
    justify-content: center;
    max-width: 62.5rem;
    margin: 0 auto;
}

.message__container.is-blue {
    border-color: #87a9f4;
}

.message__container.is-green {
    border-color: #5ae4aa;
}

.message__container.is-yellow {
    border-color: #f3b03c;
}

.message__container.is-yellow:before {
    border-color: transparent transparent #f3b03c;
}

.message__container.is-green:before {
    border-color: transparent transparent #5ae4aa;
}

.message__container.is-blue:before {
    border-color: transparent transparent #87a9f4;
}

.message__container {
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    min-height: 83px;
    padding: 11px 16px 10px;
}

.message__container:before,
.message__container:after {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}

.cont_block a:hover {
    border-radius: 50%;
    border: 0.2rem solid #D0021B;
}

.message__container:before {
    border-width: 0 4px 5px;
    border-style: solid;
}

.message__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 56px;
    height: 56px;
    text-align: center;
    font-size: 0;
    border-radius: 50%;
}

.message.is-left .message__img {
    float: left;
    margin-right: 20px;
}

.message__container.is-blue .message__img {
    border-color: #87a9f4;
}

.message.is-left .message__container:after {
    left: 11px;
}

.message.is-left .message__container:before {
    left: 10px;
}

.message__container:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 3px 4px 3px;
    border-color: transparent transparent #fff transparent;
}

.message__text {
    overflow: hidden;
    padding: 11px 0 6px;
}

.message.is-left .message__text {
    text-align: left;
}

.lazload {
    padding: 0.7rem;
}

.left .message__info time {
    float: left;
    margin-right: 8px;
}

.message__info:after {
    content: " ";
    display: table;
    clear: both;
}

.message__info time {
    color: #c8c8c8;
}

.message__container.is-green .message__img span {
    color: #5ae4aa;
}

.message__container.is-yellow .message__img span {
    color: #f3b03c;
}

.message__img span {
    font-size: 27px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.message__info.green {
    display: flex;
    justify-content: flex-end;
}

.message__info span {
    margin-right: 0.5rem;
}

.iphonexs {
    margin-top: 2rem;
    max-width: 35rem;
}

.message__container.is-green {
    display: flex;
}

.service-equipment.phone {
    max-width: 62.5rem;
    margin: 0 auto;
}

.message__container.is-green .message__img {
    border-color: #5ae4aa;
    margin-right: 1rem;
}

.message__container.is-yellow .message__img {
    border-color: #f3b03c;
}

.message__container:before,
.message__container:after {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}

.message__container:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 3px 4px 3px;
    border-color: transparent transparent #fff transparent;
}

.message.is-right .message__container:before {
    right: 10px;
}

.message.is-right .message__container:after {
    right: 11px;
}

.fire1,
.fire2,
.fire3,
.fire4,
.fire5 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.fire4 {
    background: url("/assets/img/service_img/fire1.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.fire1 {
    background: url("/assets/img/service_img/fire2.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.fire3 {
    background: url("/assets/img/service_img/ajax_app.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.fire2 {
    background: url("/assets/img/service_img/ajax_hub.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.fire5 {
    background: url("/assets/img/service_img/fire_protection_play.jpg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.how-need_descr {
    padding-bottom: 2rem;
}

.cards-header {
    max-width: 51rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;
}

.service-header h1 {
    font-size: 2.8125rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

.accordion {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.accordion div p {
    display: none;
    font-size: 1.1rem;
    padding: 0 0 30px;
    margin-left: 2rem;
    color: #000;
}

.accordion_cont h3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    font-weight: 600;
    color: #050DA8;
    font-size: 1.3rem;
    text-decoration: underline;
}

.service-how_need a {
    width: 13rem;
    height: 1.3rem;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #D0021B;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
}

.how-workit_icon img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.obor {
    width: 12rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.how-workit_icons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 62.5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

.service-header h1,
.service-how_workit h2,
.service-wyit h2,
.service-equipment h2,
.service-how_need h2,
.service-whodoit h2,
.cards h2 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.how-workit_descr{
    margin-bottom: 4rem !important;
}
.how-workit_descr,
.how-need_descr {
    font-size: 20px;
    max-width: 49rem;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.how-workit_icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.descr_of_title1{
    font-size: 1.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
      text-align: center;
      max-width: 40rem;
      margin: 0 auto 1.5rem auto;
  }
.workit-icon_descr {
    font-size: 16px;
    max-width: 155px;
}

.how-workit_icon img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.protechka-img {
    padding-top: 4rem;
    max-width: 569px;
    margin: auto;
}

.all_question {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px solid #050DA8;
    background-color: #f8f8f8;
    width: 13rem;
    height: 2.6rem;
    color: #050DA8;
    align-items: center;
    justify-content: center;
    margin-top: 1.8rem;
    cursor: pointer;
}

.all_question:hover {
    background-color: #050DA8;
    color: #fff;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

.accordion p {
    font-size: 1rem;
}

.title_block {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 50rem;
    margin: 0 auto; 
}

.service-how_workit {
    text-align: center;
}

.service-how_need {
    text-align: center;
}

.service-equipment {
    text-align: center;
}

.service-equipment_descr {
    font-size: 20px;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.service-wyit_img {
    margin: 3rem auto 0 auto;
    max-width: 714px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.service-how_workit,
.service-equipment,
.service-how_need,
.service-whodoit,
.cards {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

img {
    width: 100%;
    height: auto;
}

.service-whodoit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 50rem;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

.service-whodoit {
    text-align: center;
}

@media (max-width: 768px) {
    .descr_of_title1{
        font-size: 1.2rem;
      }
    .cards-header h2 {
        font-size: 2rem;
        margin-right: 2.2rem;
        margin-left: 2.2rem;
    }
    .title_block {
        font-size: 2rem;
        
    }
    .cards__container {
        display: none;
    }
}

@media ( max-width: 990px) {
    .cards-header h2 {
        margin-top: 8rem;
    }
    .protechka-img {
        margin-top: 8rem;
    }
}

/*===============/.Карточки========================*/

.item_cont4,
.item_cont3 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

a.active {
    color: #D0021B;
}

.cards {
    margin-top: 3.4375rem;
}

.cards-header {
    max-width: 51rem;
    margin: 0 auto;
}

.cards-header h2 {
    font-size: 2.8125rem;
    text-align: center;
}

.cards-header p {
    font-size: 1.25rem;
    text-align: center;
    max-width: 35rem;
    margin: 0 auto 1.6875rem auto;
}

.cards__container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    min-height: 500px;
}

@media (min-width: 1000px) {
    .cards__container {
        width: 1000px;
    }
}

@media (min-width: 1400px) {
    .cards__container {
        max-width: 1400px;
    }
}

-item {
    vertical-align: middle;
    line-height: 38px;
    border: 1px solid #050DA8;
    text-align: center;
    font-weight: bold;
    color: #050DA8;
    /*border-right: none;*/
    padding-left: 18px;
    padding-right: 18px;
}

-item:last-child {
    border-right: 1px solid #050DA8;
}

.cards__selector-item.active {
    color: #fff;
    background-color: #050DA8;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

.cards__selector-item.active a {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

.cards__selector-itemQ {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cards__selector-itemQ.q-link-5 {
    border-right: 1px solid #050DA8;
}

.cards__selector-itemQ.active {
    background-color: #050DA8;
}

.cards__selector-itemQ.active a {
    color: #fff !important;
    font-family: 'Proxima Nova Lt';
    font-weight: 600;
}

.cards__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cards__item,
.cardis__item {
    width: 279px;
    height: 420px;
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 240px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: relative;
}

@media(max-width: 660px) {
    .item_cont3,
    .item_cont4 {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .cards__selector {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .cards__selector-itemQ {
        border-left: none;
    }
    .cards__selector-itemQ.q-link-2,
    .cards__selector-itemQ.q-link-3,
    .cards__selector-itemQ.q-link-5 {
        border-top: 1px solid #050DA8;
        border-left: none !important;
    }
}

@media(max-width: 893px) {
    .item_cont3 {
        border: 1px solid #050DA8;
    }
    .item_cont4 {
        border: 1px solid #050DA8;
        border-top: none;
    }
    .cards__selector-itemQ.q-link-5 {
        border-right: none;
        border-left: 1px solid #050DA8;
    }
    .cards__selector-itemQ.q-link-3,
    .cards__selector-itemQ.q-link-2 {
        border-left: 1px solid #050DA8;
    }
    .cards__selector-itemQ.q-link-3,
    .cards__selector-itemQ.q-link-2,
    .cards__selector-itemQ.q-link-1,
    .cards__selector-itemQ.q-link-4,
    .cards__selector-itemQ.q-link-5 {
        height: 2rem;
    }
}

@media(min-width: 900px) {
    .cards__selector-itemQ {
        border: 1px solid #050DA8;
        border-right: none;
    }
}

@media(max-width: 768px) {
    .cards__selector-item.js-linik-1 {
        border-top: none;
        border-left: none;
        border-bottom: none;
    }
    .cards__selector-item.js-linik-2 {
        border: none;
    }
    .cards__selector-item.js-linik-3 {
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    .cards__selector-item.js-linik-4 {
        border: none;
    }
    .cards__selector-item {
        width: 12rem;
        height: 2.5rem;
        text-align: center;
        border: 1px solid #050DA8;
        align-items: center;
        justify-content: center;
        color: #050DA8;
    }
}

@media (min-width: 768px) {
    .cards__item {
        margin-right: 15px;
        display: none;
    }
    .cards__item.active {
        display: block;
    }
}

@media (min-width: 1000px) {
    .cards__item {
        margin-right: 15px;
    }
}

.cards__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-07.svg");
    background-size: 239px 230px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 239px;
    height: 230px;
}

.cards__item.js-card-1::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-02.svg");
}

.cards__item.js-card-2::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-01.svg");
}

.cards__item.js-card-3::before {
    background-color: #2bba92;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-05.svg");
}

.cards__item.js-card-4::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-08.svg");
}

.cards__item.js-card-5::before {
    background-color: #0f0d5e;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-03.svg");
}

.cards__item.js-card-6::before {
    background-color: #e8b432;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-04.svg");
}

.cards__item.js-card-7::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-06.svg");
}

.cards__item.js-card-10::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-09.svg");
}

.cards__item.js-card-11::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-10.svg");
}

.cards__item.js-card-12::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-12.svg");
}

.cards__item.js-card-14::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-13.svg");
}

.cards__item.js-card-15::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-14.svg");
}

.cards__item.js-card-16::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-11.svg");
}

.cards__item:hover {
    -webkit-box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14);
}

.cards__title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.cards__title {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-right: 40px;
    color: #000;
}

.cards__price {
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-size: 20px;
    color: #050DA8;
    margin-bottom: 10px;
}

.cards__text {
    margin: 0;
    color: #000;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-align: left;
    padding-bottom: 22px;
}

@media (min-width: 768px) {
    .cards__selector {
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 38px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 52px;
    }
    .cards__selector a {
        font-size: 16px;
        color: #050DA8;
        font-family: 'Proxima Nova RG';
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    .cards__selector-item {
        vertical-align: middle;
        line-height: 38px;
        border: 1px solid #050DA8;
        border-right: none;
        padding-left: 18px;
        padding-right: 18px;
    }
    .cards__selector-item:last-child {
        border-right: 1px solid #050DA8;
    }
    .cards__selector-item.active {
        color: #fff;
        background-color: #050DA8;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
    }
    .cards__selector-item.active a {
        color: #fff;
        font-family: 'Proxima Nova Lt';
        font-weight: 600;
    }
}

@media (max-width: 1016px) {
    .cards__container {
        max-width: 1000px;
        width: 100%;
    }
}

@media (max-width: 742px) {
    .cardis__item::before {
        left: 10px;
    }
}

@media (max-width: 720px) {
    .cardis__item::before {
        left: 0;
    }
}

@media (max-width: 611px) {
    .js-linik-4 {
        border-right: 1px solid #050DA8;
    }
}

@media (max-width: 430px) {
    .cards__selector-item {
        width: 12rem;
        font-size: 1rem;
    }
}

@media (max-width: 405px) {
    .cards__selector-item {
        width: 11rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 372px) {
    .cards__selector-item {
        width: 9rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 508px) {
    .js-linik-3 {
        border-right: 1px solid #050DA8;
    }
}

@media (max-width: 375px) {
    .js-linik-2 {
        border-right: 1px solid #050DA8;
    }
}