<app-admin-calculator *ngIf="isAdmin"
                      [categories]="categories"
                      #calculator
                      (onCancel)="calculatorClose()"
                      [(note)]="note"
                      (onAccept)="updateOrder(calculator.orderDevices)"
                      [phoneNumber]="phoneNumber"></app-admin-calculator>
<app-order-list *ngIf="!isAdmin"
                [orderDate]="orderDate"
                [orderNumber]="orderNumber"
                [note]='note'
                [services]="services"></app-order-list>

<!-- Диалог. Запрос на сервер -->
<app-modal-dialog id="order-change"
                  #modal>
    <div class="thanks__block"
         [ngSwitch]="requestStatus"
         style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">

        <div *ngSwitchCase="'Success'">
            <div *ngIf="orderStatus === 'Order'">
                <h1 class="thanks__title">Заказ изменен!</h1>
                <p class="thanks__subtitle">Заказ успешно изменен</p>
                <a class="check__link"
                   (click)="modal.close()"
                   [routerLink]="null">Закрыть</a>
            </div>
            <div *ngIf="orderStatus === 'Calculation'">
                <h1 class="thanks__title">Расчет изменен!</h1>
                <p class="thanks__subtitle">Расчет успешно изменен</p>
                <a class="check__link"
                   (click)="modal.close()"
                   [routerLink]="null">Закрыть</a>
            </div>
        </div>
        <div *ngSwitchCase="'Error'">
            <h1 class="thanks__title">Ошибка</h1>
            <p class="thanks__subtitle">При изменении заказа/расчета произошла ошибка</p>
            <a class="check__link"
               (click)="modal.close();"
               [routerLink]="null">Закрыть</a>
        </div>
        <app-spinner *ngSwitchCase="'Loading'"
                     style="display: flex; justify-content: center;"></app-spinner>
    </div>
</app-modal-dialog>