$mobile-max-width: "780px";
.service-card-container {
    display: flex;
    *.actions-container {
        width: 40px;
        height: 40px;
        margin: 20px 8px 8px 0px;
        flex: 0 0 auto;
        *.action-button {
            width: 100%;
            height: 100%;
            background-image: url("/assets/img/calc-add.svg");
            background-repeat: no-repeat;
            border: none;
            outline: none;
            background-color: transparent;
            border-radius: 50%;
            &:hover {
                background-image: url("/assets/img/calc-add-hover.svg");
            }
            &.active {
                background-image: url("/assets/img/calc-add-active.svg");
                background-color: #52b4ea;
                border: none;
                &:hover {
                    background-color: #d0021b;
                }
            }
        }
    }
    @media screen and (max-width: $mobile-max-width) {
        flex-wrap: wrap;
    }
}

.title {
    font-size: 16px;
    min-width: 130px;
    max-width: 130px;
    padding: 0;
    margin: 0;
    min-height: 55px;
    font-weight: bold;
    @media screen and (max-width: $mobile-max-width) {
        order: 0;
    }
}

.description {
    font-size: 14px;
    flex: 1 1 auto;
    margin: 0px 16px;
    @media screen and (max-width: $mobile-max-width) {
        order: 2;
        margin: unset;
    }
}

.device-list-description {
    margin: 0px;
    margin: 0px 16px 0px 44px;
    font-size: 0.9rem;
    @media screen and (max-width: $mobile-max-width) {
        margin: 0px 0px 8px 0px;
    }
}

.device-container {
    display: flex;
    margin-top: 24px;
    @media screen and (max-width: $mobile-max-width) {
        flex-direction: column;
    }
}

.guaranties-messages {
    margin-top: 0.5rem;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    list-style: none;
    * {
        font-weight: bold;
    }
}

.more-detail {
    color: #52b4ea;
    font-size: 14px;
}

.price {
    text-align: right;
    font-size: 16px;
    font-family: "Proxima Nova Rg";
    font-weight: bold;
    flex: 0 0 auto;
    margin-top: 0px;
    *.shadow-price {
        color: #979797;
    }
    *.tatal-price {
        color: #000000;
    }
    @media screen and (max-width: $mobile-max-width) {
        margin-top: 8px;
        order: 3;
    }
}

.service-card {
    transition: 300ms all ease-out;
    border: 1px dashed #979797;
    width: 100%;
    padding: 24px 32px 32px 32px;
    overflow: hidden;
    &.active {
        transition: 300ms all ease-in;
        border: none;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    *.card-preview {
        display: flex;
        img {
            margin: 0px 16px 0px 0px;
            @media screen and (max-width: $mobile-max-width) {
                order: 1;
                margin: 0px 0px 0px auto;
            }
        }
        @media screen and (max-width: $mobile-max-width) {
            flex-wrap: wrap;
        }
    }
}