<!-- <div class="calculator__container-card">
  <button class="calculator__add add-1"
          [class.active]="isActive"
          *ngIf="displayToggleButoon && !isReadOnly"
          (click)="toggle()"> </button>
  <div class="calculator__card"
       (click)="activate()"
       style="overflow: hidden;"
       [class.active]="isActive">
    <div class="calculator__intro intro-1">
      <div class="calculator__title title-1" style="display: flex; justify-content: space-between;">
        <h3>{{title}}</h3>
        <img height="35px" [src]="icon">
      </div>
      <div class="calculator__text">
        <p>{{description}}</p>
      </div>
      <div class="calculator__allprice">
        <div *ngIf="!isActive && shadowPrice !== 0">
          <span class="calculator__aboutprice aboutprice-1">{{deviceItems.length === 1 && deviceItems.first.isSingle ?
            ''
            : 'от'}}</span>{{getThousands(shadowPrice) === 0 ? '' : getThousands(shadowPrice)}}
          <span class="hs"></span>{{(getRemainderOfThousand(shadowPrice) === 0 && getThousands(shadowPrice) === 0) ?
          '0'
          : priceFormat(getRemainderOfThousand(shadowPrice))}}
          <span class="rhs"> </span>p.
        </div>
        <div *ngIf="isActive && totalPrice !== 0">
          {{getThousands(totalPrice) === 0 ? '' : getThousands(totalPrice)}}
          <span class="hs"></span>{{(getRemainderOfThousand(totalPrice) === 0 && getThousands(totalPrice) === 0) ? '0'
          :
          priceFormat(getRemainderOfThousand(totalPrice))}}
          <span class="rhs"> </span>p.
        </div>
      </div>

      <p class="calculator__inclusion"
         *ngIf="isActive"
         style="opacity: 1;">{{deviceListDescription}}</p>
    </div>
    <div *ngIf="isActive"
         @sizeInOut
         class="calculator__content content-1 ">

      <div class="calculator__content--left"></div>
      <div class="calculator__content--right">
        <ng-content></ng-content>
        <p class="calculator__inclusion__phone"
           *ngIf="isActive"
           style="opacity: 1;">{{deviceListDescription}}</p>
        <ul *ngIf="guaranteesMessagesDisplay"
            class="service-list">
          <li>Установка оборудования</li>
          <li>Техническая поддержка - 1 год</li>
          <li>Гарантия на оборудование - {{guaranteePeriod/12 | ageConverter}}</li>
        </ul>
        <p *ngIf="moreDetailLink">
          <a class="calculator__link"
             [routerLink]="['/', 'app', 'landing', moreDetailLink]">Подробнее об услуге «{{title}}»</a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="service-card-container">
  <button (click)="toggle()"
          [class.active]="isActive"
          class="action-button"></button>
  <div class="service-card"
       [class.active]="isActive">
    <div class="card-preview">
      <img style="max-height: 35px; max-width: 30px;"
           #iconHtml
           [src]="icon">
      <div class="title"
           #titleHtml>{{title}}</div>
      <div class="description">{{description}}</div>
      <div class="price">
        <div class="shadow-price"
             *ngIf="!isActive && shadowPrice !== 0">от {{shadowPrice | localeCurrencyConverter}}₽</div>
        <div class="total-price"
             *ngIf="isActive">{{totalPrice | localeCurrencyConverter}}₽</div>
      </div>
    </div>
    <div *ngIf="isActive"
         @sizeInOut>

      <div></div>
      <div>
        <ng-content></ng-content>
        <p *ngIf="isActive"
           class="device-list-description"
           style="opacity: 1;">{{deviceListDescription}}</p>
        <ul class="guaranties-messages"
            *ngIf="guaranteesMessagesDisplay">
          <li>Установка оборудования</li>
          <li>Техническая поддержка - 1 год</li>
          <li>Гарантия на оборудование - {{guaranteePeriod/12 | ageConverter}}</li>
        </ul>
        <p class="more-detail"
           *ngIf="moreDetailLink">
          <a [routerLink]="['/', 'app', 'landing', moreDetailLink]">Подробнее об услуге «{{title}}»</a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="service-card-container">
  <div class="actions-container">
    <button (click)="toggle()"
            *ngIf="displayToggleButoon"
            [class.active]="isActive"
            class="action-button"></button>
  </div>

  <div class="service-card"
       (click)="activate()"
       [class.active]="isActive">
    <div class="card-preview">
      <img style="max-height: 35px; max-width: 30px;"
           #iconHtml
           [src]="icon">
      <div class="title"
           #titleHtml>{{title}}</div>
      <div class="description">{{description}}</div>
      <div class="price">
        <div class="shadow-price"
             *ngIf="!isActive && shadowPrice !== 0">от {{shadowPrice | localeCurrencyConverter}} ₽</div>
        <div class="total-price"
             *ngIf="isActive">{{totalPrice | localeCurrencyConverter}} ₽</div>
      </div>
    </div>
    <div *ngIf="isActive"
         @sizeInOut>

      <div class="device-container">
        <div style="width: 190px; flex: 0 0 auto;">
          <p *ngIf="isActive"
             class="device-list-description"
             style="opacity: 1;">{{deviceListDescription}}</p>
        </div>
        <div style="width: 100%;">
          <ng-content></ng-content>

          <ul class="guaranties-messages"
              *ngIf="guaranteesMessagesDisplay">
            <li>Установка оборудования</li>
            <li>Техническая поддержка - 1 год</li>
            <li>Гарантия на оборудование - {{guaranteePeriod/12 | ageConverter}}</li>
          </ul>
          <p class="more-detail"
             *ngIf="moreDetailLink">
            <a [routerLink]="['/', 'service', moreDetailLink]">Подробнее об услуге «{{title}}»</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>