:host {
    overflow: hidden;
    
}

.title {
    word-wrap: break-word;
}

.card {
    // margin: 0px 0px 20px 0px;
    // background: transparent;

    // &.active{
    //     background: white;
    // }
}
.calculator__card{
    margin-bottom:0.5rem;
}
a {
    text-decoration: none;
}
.calculator__title h3 {
    display: block;
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-right: 0.7rem;
    word-break:normal;
}
.calculator__text p {
    font-size: 1rem;
    padding-left:0.5rem;
    margin: 0;
}


.calculator__allprice {
    font-size: 16px;
    font-family: 'Proxima Nova Rg';
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 4.4rem;
    color: #979797;
}
.calculator__card.active .calculator__allprice {
    color: #000;
}

.calculator__allprice.smarthab {
    opacity: 0;
}

.card-hab.active .calculator__allprice.smarthab {
    opacity: 1;
}
.calculator__allprice {
    font-size: 16px;
}
