<table>
  <tr>
    <th>Номер</th>
    <th>Дата</th>
    <th>Статус</th>
    <th>Телефон</th>
    <th>Цена</th>
    <th>Ссылка</th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.orderNumber}}</td>
    <td>
      <a [routerLink]="'/order/history/'+ order.id">{{order.orderDate | localeDateConverter}}</a>
    </td>
    <td>{{orderStateToRu[order.orderStatus]}}</td>
    <td>{{order.phoneNumber}}</td>
    <td>{{order.totalCost}}</td>
    <td>
      <a [routerLink]="['order', order.id]">{{order.orderLink}}</a>
    </td>
  </tr>
</table>
<div class="pagination-container">
  <button [disabled]="startIndex === 0"
          (click)="pageBack()">Back</button>
  <button [disabled]="orders.length < displayOrders"
          (click)="pageFront()">Front</button>
</div>