<div @flyInOut>

  <div class="calculator">
    <div class="calculator__page active"
         style="position: relative; display:block; min-height: auto;">
      <header class="calculator__header">
        <a href="#"
           class="page-header__logo">Clicker</a>
        <a class="calculator__close"
           (click)='close()'></a>
      </header>
      <div>

        <app-calculator #calculator
                        (totalPriceChange)="totalPriceChangeHandler($event)"
                        [categories]="categories"></app-calculator>
        <div class="result_price_cont">
          <p class="result_price">Итого: {{totalPrice | localeCurrencyConverter}} р.</p>
        </div>




        <div class="flex_cont">

          <img class="main_icon"
               src="/assets/img/icon_calculator/submit_phone.svg"
               alt="">
          <p class="text_of_cont">Укажите номер телефона, и мы пришлем вам ссылку на подробный расчет стоимости
            выбранных вами решений, и проконсультируем по срокам и процессу установки.</p>
        </div>

        <!-- Специальное место для того чтобы Форма его занимала когда скролинг доходит до футера -->
        <div #footerPlace
             [ngStyle]="{'height': actionForm.offsetHeight + 'px'}">
          <form [formGroup]="complexForm"
                class="calculator__form"
                [class.isActionFormFixed]="isActionFormFixed"
                [ngStyle]="{'width' : footerComp.width + 'px'}"
                (ngSubmit)="accept()"
                #actionForm>
            <!-- <div class="calculator__bottom-shadow"
    style="pointer-events: none;"></div> -->
            <app-input-phone-number placeholder='ваш номер'
                                    name="phoneInput"
                                    #phoneInput
                                    required="true"
                                    [formControl]="complexForm.controls['phoneNumber']"
                                    class="calculator__phone">
            </app-input-phone-number>


            <button class="calculator__button"
                    [disabled]="complexForm.invalid"
                    type="submit">{{complexForm.invalid && (complexForm.touched || complexForm.dirty) ? 'Введите номер'
              : 'Выслать расчет'}}</button>

          </form>
        </div>
        <app-footer #footerComp></app-footer>
      </div>
    </div>
  </div>
</div>

<!-- Диалог. Ошибка ввода номера -->
<!-- <app-modal-dialog id="phone-number-error"
                  #phoneNumberErrorModal>
  <div class="thanks__block"
       style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">
    <h1 class="thanks__title">Ошибка при создании заказа</h1>
    <p class="thanks__subtitle">Заполните поле телефонный номер</p>
    <a class="check__link"
       (click)="phoneNumberErrorModal.close();"
       routerLink="">Закрыть</a>
  </div>
</app-modal-dialog> -->