:host {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; // background-color: rgba(0, 0, 0, 0.8);
  background-color: #f8f8f8;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; // Айфон скроллинг
  -webkit-overflow-scrolling: touch; // Айфон скроллинг
}

.isActionFormFixed {
  position: fixed;
  z-index: 1000;
}

.result_price_cont {
  display: flex;
  font-weight: bold;
  font-size: 1.3rem;
  justify-content: center;
}

.flex_cont {
  display: flex;
  max-width: 55rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1rem;
}

.main_icon {
  max-width: 3rem;
  opacity: 0.54;
}

img {
  width: 100%;
  height: auto;
}

.text_of_cont {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}
