.alert-danger {
    color: #ff4444;
}

.default.calculator__button:hover {
    background: #0086ff;
}

.main_icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.flex_cont {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 57rem;
}

.text_of_cont {
    margin: 0 auto;
    max-width: 40rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
}

.result_price {
    max-width: 59rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;
}

@media (max-width: 768px) {
    .text_of_cont {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .result_price {
        max-width: 44rem;
    }
}

@media (max-width: 768px) {
    .result_price {
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .calculator__phone {
        height: 50px;
    }
    .calculator__button {
        height: 50px;
    }
    .calculator__form {
        height: auto;
        bottom: 0;
        margin-bottom: 0;
    }
    .phone-number-container {
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .calculator__phone input {
        width: 11rem;
    }
}

.service-list li {
    font-weight: bold;
}