<div class="calculator">
  <div class="calculator__page active"
       style="position: relative; display:block; min-height: auto;">
    <div>
      <div class="calculator__container"
           style="height: auto; position: relative; display: flex; flex-direction: column;">

        <ng-container *ngFor="let category of categories;">
          <h2 class="calculator__section"
              *ngIf="!isCategoryHasSmartHub(category)">{{category.name}}</h2>
          <div style="margin-bottom: 8px;">
            <ng-container *ngFor="let service of category.services;">
              <app-service-item #serviceItem
                                style="width: 100%;"
                                [accessMode]="accessMode"
                                [title]="service.name"
                                [icon]="service.calculatorIcon"
                                [displayToggleButoon]="!isServiceHasSmartHub(service)"
                                [description]="service.description"
                                [deviceListDescription]="'В стоимость входит:'"
                                [moreDetailLink]="service.moreInfoPath"
                                [guaranteePeriod]="service.guaranteePeriod"
                                [closable]="!isServiceHasSmartHub(service)"
                                [hidden]="isServiceHasSmartHub(service) ? !requiredSmartHubDevices > 0 : false"
                                [guaranteePeriod]="service.guaranteePeriod"
                                [guaranteesMessagesDisplay]="!isServiceHasMkad(service)"
                                (onActivate)="serviceActivated(service)"
                                (onDeactivate)="serviceDeactivated(service)">
                <!-- [moreDetailMessage]="isServiceHasSmartHub(service) || isServiceHasMkad(service) ? null : 'Подробнее об услуге ' + '«' + service.name + '»'" -->
                <app-device-item *ngFor="let device of service.devices;"
                                 (onTotalPriceChanged)="deviceTotalPriceChanged($event)"
                                 [(count)]="device.count"
                                 (countChanged)="deviceCountChanged($event, device)"
                                 [accessMode]="accessMode"
                                 [title]="device.name"
                                 [model]="device.model"
                                 [isDefault]="device.isDefault"
                                 [isSingle]="device.type === 'Single' || device.type === 'SmartHub' || device.type === 'MkadOut'"
                                 [isDeclineMode]="device.type === 'SmartHub'"
                                 [selectMessage]="'У меня уже есть «' + device.name + '»'"
                                 [description]="device.description"
                                 [price]="device.price">
                </app-device-item>
              </app-service-item>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>