<div class="phone-number-container">
    <div class="start-num">{{startNumber}}</div>
    <input [(ngModel)]="partNumber"
           [placeholder]="placeholder"
           #input
           type="text"
           [textMask]="{mask: mask}"
           (change)="onChange($event)"
           (keyup)="onChange($event)">
</div>