:host{
    display: block;
}

.phone-number-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.start-num {
    margin-right: 8px;
}

input[type=text] {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    overflow: visible;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]::placeholder {
    color: #fff;
    opacity: 0.24;
}