<header class="page-header__container">
  <a href="#"
     class="page-header__logo">Clicker</a>
</header>
<div class="check__page">
  <h1 class="check__title">Расчет №{{orderNumber}}</h1>
  <p class="check__subtitle">от {{orderDate | localeDateConverter}}</p>
  <div class="check__block">

    <ng-container *ngFor="let service of services">
      <app-order-service-item *ngIf="!isEmptyService(service)"
                              [icon]="service.calculatorIcon"
                              [title]="service.name"
                              [totalPrice]="calcTotalServicePrice(service) | localeCurrencyConverter">
        <ng-container *ngFor="let device of service.devices">
          <app-order-device-item *ngIf="device.count !== 0 && (device.type !== 'MkadOut' && device.type !== 'SmartHub')"
                                 [isSingle]="device.type === 'MkadOut' || device.type === 'SmartHub'"
                                 [title]="device.name"
                                 [count]="device.count"
                                 [price]="device.price | localeCurrencyConverter"></app-order-device-item>
        </ng-container>
        <div *ngIf="!isServiceHasMkad(service)"
             style="margin-top: 8px;">
          <div>Установка оборудования</div>
          <div>Техническая поддержка - 1 год</div>
          <div>Гарантия на оборудование - {{service.guaranteePeriod / 12 | ageConverter}}</div>
        </div>
      </app-order-service-item>
    </ng-container>
    <p class="check__price">Итого: <span>{{totalPrice | localeCurrencyConverter}}</span><span class="rubl">₽</span></p>
  </div>
  <div class="flex_text">
    <h3>Что будет дальше?</h3>
    <p>{{note}}</p>
  </div>
  <div id="how_we_work"
       class="how-workwe">
    <div class="how-workwe_items">
      <div class="how-workwe_2blcok">
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/profi.svg"
               alt="">
          <p class="workwe-header"
             class="workwe-header">Только профи</p>
          <p class="workwe-descr">Все кликеры проверены временем и строгими экзаменами</p>
        </div>
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/one_day.svg"
               alt="">
          <p class="workwe-header">Приедем завтра</p>
          <p class="workwe-descr">Установка возможна уже на следующий день после заказа</p>
        </div>
      </div>
      <!-- /.how-workwe_2blcok -->
      <div class="how-workwe_2blcok">
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/fast.svg"
               alt="">
          <p class="workwe-header">Сделаем быстро</p>
          <p class="workwe-descr">В среднем работа занимает около пары часов</p>
        </div>
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/clean.svg"
               alt="">
          <p class="workwe-header">И чисто</p>
          <p class="workwe-descr">Ремонт квартиры не потребуется. Да и уборка тоже</p>
        </div>
      </div>
      <!-- /.how-workwe_2blcok -->
    </div>
    <div class="how-workwe_items">
      <div class="how-workwe_2blcok">
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/safety.svg"
               alt="">
          <p class="workwe-header">Надежное оборудование</p>
          <p class="workwe-descr">Лучшее, что есть на рынке по соотношению «цена-качество»</p>
        </div>
        <div class="how-workwe_item">
          <img class="workwe_img"
               src="/assets/img/icon/support.svg"
               alt="">
          <p class="workwe-header">Всегда на связи</p>
          <p class="workwe-descr">Звоните и пишите нам хоть каждый день — с 9.00 до 22.00</p>
        </div>
      </div>
      <!-- /.how-workwe_2blcok -->
      <div class="how-workwe_2blcok">
        <div class="how-workwe_item">
          <img class="workwe_imgpr"
               src="/assets/img/icon/pay.svg"
               alt="">
          <p class="workwe-header">Один платеж</p>
          <p class="workwe-descr">Цена известна сразу и включает оборудование, установку и техподдержку</p>
        </div>
        <div class="how-workwe_item">
          <img class="workwe_imgpr"
               src="/assets/img/icon/two_week.svg"
               alt="">
          <p class="workwe-header">Две недели на возврат</p>
          <p class="workwe-descr">Не устроит работа гаджетов — вернем деньги без лишних вопросов</p>
        </div>
      </div>
      <!-- /.how-workwe_2blcok -->
    </div>
    <!-- /.how-workwe_items -->
  </div>
  <a class="line"></a>
  <a class="check__link"
     [routerLink]="['//']">Вернуться на clicker.one</a>
</div>