body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova Rg";
  background: #f8f8f8;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.check_b {
  width: 625px;
  height: 4rem;
  background: #52b4ea;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-left: -94px;
  z-index: 2;
  font-family: "Proxima Nova Rg";
  font-size: 1.3rem;
  /* margin: 0 auto; */
}

.check_b:hover {
  background: #d0021b;
}

.flex_text {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 50rem;
  font-family: "Proxima Nova Rg";
  text-align: center;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 5rem;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex_text h3 {
  font-size: 1.5rem;
}

.flex_text p {
  font-size: 1.3rem;
}

.how-workwe {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 62.5rem;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.how-workwe_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.how-workwe_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.workwe-descr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}

.workwe-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

.how-workwe_2blcok {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.workwe_img {
  height: 3.7rem;
}

.workwe_imgpr {
  height: 3.7rem;
  margin-top: 1.2rem;
}

.descr_of_title {
  font-size: 1.25rem;
  text-align: center;
  max-width: 35rem;
  margin: 0 auto 1.5rem auto;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .how-workwe {
    margin-top: 2rem;
  }
}

.check__page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.check__item {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.check__item_dop {
  position: relative;
}

.check__item_dop.end {
  position: relative;
  margin-bottom: 1.5rem;
}

.check__item.item-1::before {
  background-image: url("/assets/img/icon/fire.svg");
}

.check__item.item-2::before {
  background-image: url("/assets/img/icon/steel.svg");
}

.check__item.item-3::before {
  background-image: url("/assets/img/icon/hub.svg");
}

.check__title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.check__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.check__list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 28px;
}

.check__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.check__line.first-line {
  margin-top: 20px;
  margin-bottom: 10px;
}

.check__item-title {
  margin: 0;
  padding: 0;
}

.check__qt {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 5px;
}

.check__item-price {
  font-size: 1rem;
  font-weight: bold;
}

.check__subitem-price {
  font-weight: bold;
  white-space: nowrap;
}

.check__subtitle--stroke {
  margin: 0;
  padding: 0;
  display: block;
  height: 1px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  background-color: lightgray;
}

.check__subtitle--stroke::after {
  width: 100%;
}

.check__price {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 24px;
  padding-right: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.check__link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0086ff;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.line {
  border-bottom: 2px solid #cccccc;
  margin-top: 2rem;
}

.check__block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  width: 625px;
  border: 1px solid #eeeded;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
}

.check__block::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  left: 0;
  bottom: 69px;
  height: 1px;
  background-color: #cccccc;
}

.check__item::before {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 34px;
  height: 50px;
  top: 20px;
  left: -50px;
}

@media (max-width: 745px) {
  .flex_text {
    width: 300px;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 320px;
  height: 32px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.page-header__logo {
  font-family: "Proxima Nova Bl";
  font-size: 32px;
  line-height: 32px;
  color: #d0021b;
  margin-left: 20px;
  z-index: 4;
}

@media (max-width: 630px) {
  .check__block {
    width: 540px;
  }
}

@media (max-width: 721px) {
  .check__block {
    width: 500px;
  }
  .check__item-title {
    font-size: 1rem;
  }
}

@media (max-width: 572px) {
  .check__block {
    width: 400px;
  }
}

@media (max-width: 562px) {
  .check__block {
    width: 100%;
    padding: 16px;
    box-shadow: none;
  }
}

@media (max-width: 430px) {
  .check__block {
    width: 100%;
    padding: 16px;
    box-shadow: none;
  }
  .check__subtitle--stroke {
    display: none;
  }
  .rubl {
    margin-left: 0.1rem;
  }
}

.rubl {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 0.3rem;
}

@media (max-width: 354px) {
  .check__list {
    font-size: 0.95rem;
  }
  .check__item::before {
    height: 30px;
  }
  .check__block {
    width: 100%;
    padding: 16px;
    box-shadow: none;
  }
  .check__item {
    margin-top: 20px;
  }
  .check__item-price {
    font-size: 1rem;
  }
  
}

.cont_price {
  display: flex;
}
