:host {
    display: block;
    overflow: auto;
    height: 100vh;
    background: #f8f8f8;
    -ms-overflow-style: -ms-autohiding-scrollbar; // Айфон скроллинг
    -webkit-overflow-scrolling: touch; // Айфон скроллинг
}