<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/Illyustratsii_dlinnye-191.svg"
               alt=""></div>
        <h1>Защита от протечек</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Система защиты от протечек предупредит, если вас затопят соседи, в доме прорвет
          трубу
          или дети забудут закрыть кран. Вы и члены вашей семьи немедленно получат уведомление на смартфон.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_1.svg"
                   alt="">
              <p class="workit-icon_descr">Небольшие размеры датчика</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_2.svg"
                   alt="">
              <p class="workit-icon_descr">Отбой тревоги при высыхании воды</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_3.svg"
                   alt="">
              <p class="workit-icon_descr">Беспроводные датчики</p>
            </div>
          </div>
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_4.svg"
                   alt="">
              <p class="workit-icon_descr">Заряда батареек хватает до 5 лет</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_5.svg"
                   alt="">
              <p class="workit-icon_descr">Приложение для получения уведомлений</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/icon_leaksprotection_6.svg"
                   alt="">
              <p class="workit-icon_descr">Два канала связи - GSM и Интернет</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем оборудование Ajax: оно качественное, у него классный дизайн и
          продуманная техническая начинка. Это новое поколение профессиональных беспроводных систем безопасности.</p>
        <img class="obor"
             src="..//assets/img/ajax.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="circle4"
               (click)="gallery.open()"></a>
            <a class="circle1"
               (click)="gallery.open()"></a>
            <a class="circle2"
               (click)="gallery.open()"></a>
            <a class="circle3"
               (click)="gallery.open()"></a>
          </div>
          <a class="circle5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Небольшие размеры</h2>
          <p class="service-equipment_descr">Датчик протечки — это небольшое устройство, всего 6x6 см. Оно совершенно
            незаметно и впишется в квартиру с любым ремонтом.</p>
          <img class="size_protect"
               src="..//assets/img/leak_protect.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">До пяти лет без замены батареек</h2>
          <p class="service-equipment_descr">Замена батареек в большом числе датчиков — трудоемкое занятие, о котором
            часто забывают, лишая помещение защиты. Оборудование Ajax разрабатывалось с фокусом на энергосбережение.
            Схемотехнические решения, софт и комплектующие подбирались так, чтобы о батарейках вообще не пришлось
            вспоминать.</p>
          <img class="size_protect"
               src="..//assets/img/leak_protect2.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Защита от сбоев</h2>
          <p class="service-equipment_descr">При отключении электричества - система продолжит работу от резервного
            аккумулятора. При поломке роутера или сбое у провайдера - сигнал тревоги пройдет по резервному GSM каналу
            связи. Если датчик выйдет из строя, об этом сразу станет известно.</p>
        </div>
      </section>
      <div class="service-equipment">
        <h2 class="title_block">Подключите вашу семью и друзей</h2>
        <p class="service-equipment_descr">В сложных ситуациях важно чувствовать поддержку близких. Вы сможете
          предоставить родственникам, друзьям или соседям доступ к системе. Подписчики узнают о протечке и смогут
          прийти
          к вам на помощь.</p>
      </div>
      <div class="service-chat">
        <div class="collection__chat js-collection-chat"
             style="">
          <div class="message is-left js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info">
              <span>Ajax</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-blue">
              <div class="message__img">
                <img class="lazload"
                     data-laz="..//assets/img/msg-logo.svg"
                     alt=""
                     src="..//assets/img/msg-logo.svg">
              </div>
              <div class="message__text js-msg-text">
                <p></p>
                <p>Внимание.</p>
                <p>Сработал датчик протечки.</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="message is-right js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info green">
              <span>Мама</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-green">
              <div class="message__img">
                <span>М</span>
              </div>
              <div class="js-msg-dots message__dots-wrap"
                   data-dots="1"><i class="message__dots"></i></div>
              <div class="message__text js-msg-text is-animated"
                   data-text="1"
                   style="opacity: 1;">
                <p>Получила сообщение от Ajax.</p>
                <p>Все нормально?</p>
              </div>
            </div>
          </div>
          <div class="message is-left js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info">
              <span>Брат</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-yellow">
              <div class="message__img">
                <span>B</span>
              </div>
              <div class="js-msg-dots message__dots-wrap"
                   data-dots="2"><i class="message__dots"></i></div>
              <div class="message__text js-msg-text is-animated"
                   data-text="2"
                   style="opacity: 1;">
                <p>Я рядом, могу проверить.</p>
                <p>Перезвоню, если что.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект защиты от протечки с установкой, настройкой, обучением и гарантией
          на
          один год стоит всего 6900 рублей. Итоговая стоимость зависит от количества датчиков.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько датчиков протечки мне нужно?'">
          <p>Датчики устанавливают во “влажных” зонах: около раковины, стиральной машины, унитаза или в котельной
            частного дома. Если помещение небольшое, пол без уклона и на нем лежит плитка, достаточно одного датчика на
            одну комнату. Если не можете определиться - позвоните или напишите нам, мы поможем. Заказать всегда можно с
            запасом и отказаться от лишних датчиков на месте.
        </app-accordion>

        <app-accordion [title]="'Можно ли комбинировать защиту от протечек с другими решениями?'">
          <p>Конечно! Защита от пожара, воров, протечки воды и тревожная кнопка построены на одном оборудовании и
            образуют единую систему охраны. Видеонаблюдение органично дополняет ее, позволяя вам в реальном времени
            увидеть, что произошло. Другие решения напрямую не связаны с безопасностью, но делают ваш дом более
            комфортным местом.</p>
        </app-accordion>

        <app-accordion [title]="'А вода автоматически перекроется?'">
          <p>Датчик протечки просто предупреждает о наличии проблемы — присылает уведомление на смартфон. Чтобы
            водоснабжение перекрывалось автоматически, нужно будет поставить электрозадвижку на вводной кран (обычно он
            расположен около счетчика воды). Это потребует сантехнических работ. Мы пока их не выполняем но посоветуем,
            как это решить - просто напишите нам.</p>
        </app-accordion>

        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>