<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/ill_service_big_burglarprotection.svg"
               alt=""></div>
        <h1>Защита от воров</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Сообщит о непрошенных гостях: в случае проникновения пришлет уведомление и включит
          сирену, но может и вооруженную бригаду вызвать.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/ignore.svg"
                   alt="">
              <p class="workit-icon_descr">Функция игнорирования животных</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/ruppor.svg"
                   alt="">
              <p class="workit-icon_descr">Громкая сирена</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/wireless_sensors.svg"
                   alt="">
              <p class="workit-icon_descr"> Беспроводные датчики</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/battery.svg"
                   alt="">
              <p class="workit-icon_descr">Емкость батареек до 4 лет</p>
            </div>
          </div>
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/two_chanell.svg"
                   alt="">
              <p class="workit-icon_descr">Два канала связи — сотовая сеть и интернет</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/application.svg"
                   alt="">
              <p class="workit-icon_descr">Мобильное приложение для получения уведомлений</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/one_click.svg"
                   alt="">
              <p class="workit-icon_descr">Подключение к охранной компании в один клик</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/safe.svg"
                   alt="">
              <p class="workit-icon_descr">Защита от сбоев</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем Ajax — новое поколение профессиональных беспроводных систем
          безопасности: качественное, c классным дизайном и продуманной технической начинкой.</p>
        <img class="obor"
             src="..//assets/img/ajax.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="steel4"
               (click)="gallery.open()"></a>
            <a class="steel1"
               (click)="gallery.open()"></a>
            <a class="steel2"
               (click)="gallery.open()"></a>
            <a class="steel3"
               (click)="gallery.open()"></a>
          </div>
          <a class="steel5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Защита от ложных срабатываний</h2>
          <p class="service-equipment_descr">В стерильных условиях все системы охраны работают одинаково. Но мы живем в
            мире, где есть сквозняки, шум, радиопомехи, а наши домашние питомцы отказываются сидеть на месте.
            Используемые нами датчики не дают ложных тревог в самых сложных условиях и не реагируют на животных.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/steel_protect_black.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">До четырех лет без замены батареек</h2>
          <p class="service-equipment_descr">Оборудование Ajax разработано с фокусом на энергосбережение, так что
            батарейки вы будете заменять так редко, как это вообще возможно.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/steel_protect_white.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Защита от сбоев и взлома</h2>
          <p class="service-equipment_descr">Система надежно защищена от глушения радиоканала и физического взлома
            датчиков. Если выключат свет, система продолжит работу от резервного аккумулятора. При отключении интернета
            сигнал тревоги пройдет по каналу сотовой связи. Если датчик выйдет из строя, вы получите уведомление на
            телефон.
          </p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Громкая сирена</h2>
          <p class="service-equipment_descr">По желанию при возникновении тревоги может сработать сирена — громкость
            звука в 105 децибел (сравнимо по громкости с сигналом автомобиля) распугает всех недоброжелателей. Сирену
            можно установить и дома, и на улице.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/home_siren.png"
               alt="">
        </div>
      </section>
      <div class="service-equipment">
        <h2 class="title_block">Подключите семью и друзей</h2>
        <p class="service-equipment_descr">Доступ к системе можно предоставить родственникам, друзьям или соседям.
          Все они узнают о возгорании и смогут прийти на помощь.
        </p>
      </div>

      <div class="service-chat">
        <div class="collection__chat js-collection-chat"
             style="">
          <div class="message is-left js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info">
              <span>Ajax</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-blue">
              <div class="message__img">
                <img class="lazload"
                     data-laz="..//assets/img/msg-logo.svg"
                     alt=""
                     src="..//assets/img/msg-logo.svg">
              </div>
              <div class="message__text js-msg-text">
                <p></p>
                <p>Внимание.</p>
                <p>Сработал датчик движения.</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="message is-right js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info green">
              <span>Мама</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-green">
              <div class="message__img">
                <span>М</span>
              </div>
              <div class="js-msg-dots message__dots-wrap"
                   data-dots="1"><i class="message__dots"></i></div>
              <div class="message__text js-msg-text is-animated"
                   data-text="1"
                   style="opacity: 1;">
                <p>Получила сообщение от Ajax.</p>
                <p>Все нормально?</p>
              </div>
            </div>
          </div>
          <div class="message is-left js-collection-msg is-animated"
               style="opacity: 1;">
            <div class="message__info">
              <span>Брат</span>
              <time>10:45, Сегодня</time>
            </div>
            <div class="message__container is-yellow">
              <div class="message__img">
                <span>B</span>
              </div>
              <div class="js-msg-dots message__dots-wrap"
                   data-dots="2"><i class="message__dots"></i></div>
              <div class="message__text js-msg-text is-animated"
                   data-text="2"
                   style="opacity: 1;">
                <p>Я рядом, могу проверить.</p>
                <p>Перезвоню, если что.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="service-equipment phone">
        <h2 class="title_block">И охранную компанию</h2>
        <p class="service-equipment_descr">Наше оборудование отвечает всем профессиональным требованиям и легко
          подключается ко всем популярным ЧОПам в один клик.</p>
        <img class="iphonexs"
             alt=""
             src="..//assets/img/iphonexs.png">
      </div>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 12 180 рублей. Итоговая цена зависит от количества датчиков.
        </p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько датчиков движения мне нужно?'">
          <p>Обычно по одному на каждое помещение с дверьми и окнами, через которые может проникнуть злоумышленник.
            Если не можете определиться, позвоните или напишите нам, мы поможем. Заказать всегда можно с запасом и
            отказаться от лишних датчиков на месте.</p>

        </app-accordion>

        <app-accordion [title]="'Можно ли комбинировать защиту от воров с другими решениями?'">
          <p>Конечно! Защита от пожара, воров, протечки воды и тревожная кнопка построены на одном оборудовании и
            образуют единую систему охраны. Ее органично дополнит видеонаблюдение, позволяя в реальном времени увидеть,
            что произошло. Другие решения напрямую не связаны с безопасностью, но сделают дом комфортнее.</p>
        </app-accordion>

        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>