<div class="workers">
  <div class="slider-workers">
    <ngx-slick-carousel [config]="slidesWorkersConfig">
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/fedor.jpg"
             alt="Фёдор">
        <p class="name-worker">Фёдор</p>
      </div>
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/alexandr.jpg"
             alt="Александр">
        <p class="name-worker">Александр</p>
      </div>
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/genadiy.jpg"
             alt="Геннадий">
        <p class="name-worker">Геннадий</p>
      </div>
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/alesha.jpg"
             alt="Алексей">
        <p class="name-worker">Алексей</p>
      </div>
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/ivan.jpg"
             alt="Иван">
        <p class="name-worker">Иван</p>
      </div>
      <div ngxSlickItem
           class="slider-workers_icon slide">
        <img src="/assets/img/petya.jpg"
             alt="Петр">
        <p class="name-worker">Петр</p>
      </div>
    </ngx-slick-carousel>
  </div>
</div>