.workers {
    max-width: 750px;
    margin: 0 auto;
    padding-top: 3rem;
}

.slider-workers.slider-workers_icon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
}

.slider-workers .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.85rem;
    font-size: 3.75rem;
    color: #979797;
}

.slider-workers .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.85rem;
    font-size: 3.75rem;
    color: #979797;
}

.slider-workers_icon {
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.slider-workers_icon img {
    max-width: 226px;
    margin: 0 auto;
}