<div class="footer_block">


  <div class="left_footer_cont">
    <div class="first_column">
      <a [routerLink]="['/']"
         class="logo_white">Clicker</a>
    </div>
    <div class="second_column">
      <div class="menu_punkt">
        <a [routerLink]="['/']"
           class="punkt">Все услуги</a>
        <a class="punkt"
           [routerLink]="['/', 'service', 'faq']">Вопросы</a>
        <a class="punkt"
           (click)="openCalculator()">Рассчитать стоимость</a>
      </div>

      <a [routerLink]="['/', 'service', 'legal-documents', 'terms-of-use']"
         class="doc">Пользовательское соглашение</a>

      <a class="ip"> ИП Соболев Олег Александрович</a>
    </div>
  </div>
  <div class="right_footer_cont">
    <p class="quest">Задайте вопрос</p>
    <div class="row_socialicon">
      <a href="https://tele.click/ClickerOne_Bot"
         target="_blank"
         (click)="tgClick()"
         class="telegram"></a>
      <a href="https://wa.me/74951506594"
         target="_blank"
         (click)="waClick()"
         class="whatsapp"></a>
      <a href="http://m.me/267273217167690"
         target="_blank"
         (click)="msClick()"
         class="messenger"></a>
      <a href="http://vk.me/club168100414"
         target="_blank"
         (click)="vkClick()"
         class="vk"></a>

    </div>
    <a class="phone_number"
       href="tel:+74951506594">+7 (495) 150-65-94</a>
    <a class="mail">info@clicker.one</a>
  </div>
</div>