:host {
    display: block;
}

.closeDialogButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 16px;
    z-index: 10000;
    cursor: pointer;
    font-size: x-large;
}

.quest {
    font-weight: 800;
}

.viber {
    background: url("/assets/img/viber.svg");
}

.viber:hover {
    background: url("/assets/img/viber_hover.svg");
}

.whatsapp {
    background: url("/assets/img/whatsapp.svg");
}

.whatsapp:hover {
    background: url("/assets/img/whatsapp_hover.svg");
}

.telegram {
    background: url("/assets/img/telegram.svg");
}

.telegram:hover {
    background: url("/assets/img/telegram_hover.svg");
}

.vk {
    background: url("/assets/img/vk_icon.svg");
}

.vk:hover {
    background: url("/assets/img/vk_hover.svg");
}

.messenger {
    background: url("/assets/img/messenger.svg");
}

.messenger:hover {
    background: url("/assets/img/messenger_hover.svg");
}

.footer_block a {
    color: #fff;
}

.quest {
    margin: 0;
}

.row_socialicon {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.row_socialicon a {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.ip {
    margin-top: 0.3rem;
    text-decoration: none !important;
    font-weight: 500 !important;
    opacity: 0.7;
}

.ip:hover {
    color: #fff !important;
}

.footer_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    min-height: 17rem;
    background: #050DA8;
    color: #fff;
}

.left_footer_cont {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 50%;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.first_column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.second_column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.ip :hover {
    color: #fff !important;
}

.logo_white {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Proxima Nova Bl';
    color: #fff;
    margin-right: 3rem;
}

.menu_punkt {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.doc {
    font-weight: 500 !important;
    cursor: pointer;
    color: #fff;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    text-decoration: underline;
}
.mail{
    margin-top: 0.5rem;
}
.callback {
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.phone_number {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.right_footer_cont {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 50%;
    border-left: 1px solid #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.left_cont {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 40%;
}

.left_cont p {
    text-align: left;
}

.right_cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.punkt {
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}

.menu_punkt {
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.quest,
.ip,
.doc {
    font-size: 1rem;
}

.footer_block a:hover {
    color: #52B4EA;
}

@media(max-width: 900px) {
    .footer_block {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        min-height: 26rem;
    }
    .mail {
        margin-top: 1rem;
    }
    .first_column {
        display: none;
    }
    .left_footer_cont {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        justify-content: center;
    }
    .ip {
        margin-bottom: 2rem;
    }
    .second_column {
        flex-direction: column;
    }
    .quest {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .menu_punkt {
        flex-direction: row;
    }
    .right_footer_cont {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0;
        margin: 0 !important;
        border-left: none;
        padding-bottom: 2rem;
        border-bottom: 0.5px solid #fff;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    .row_socialicon {
        justify-content: center;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .callback {
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 20px;
        width: 15rem;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .second_column {
        margin-top: 1rem;
        text-align: center;
    }
    .menu_punkt a {
        font-size: 1rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .row_socialicon img {
        height: 1.5rem;
    }
    .phone_number {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .callback {
        font-size: 0.8rem;
        width: 13rem;
    }
}