<div class="check__item check-item">
  <div class="icon-container">
    <img [src]="icon">
  </div>
  <div style="flex: 1 1 auto;">
    <div class="check__line first-line">
      <h3 class="check__item-title">{{title}}</h3>
      <div class="check__subtitle--stroke"></div>
      <div class="cont_price">
        <span class="check__item-price">{{totalPrice}} ₽</span>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>