$mobile-max-width: "780px";
.check-item {
    display: flex;
    *.icon-container {
        width: 40px;
        margin: 16px;
    }
    @media screen and (max-width: $mobile-max-width) {
        flex-direction: column;
        *.icon-container {
            width: 40px;
            margin: 0px;
        }
    }
}