:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
}

:host /deep/ a {
    margin-right: 1rem;
    cursor: pointer;
}

.menu {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.call {
    color: #000;
}

// @media(max-width:358px){
//   .logo{
//       display: none;
//   }
// }
nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 900;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #f8f8f8;
}

.call_phone1 {
    display: none;
}

.call_phone {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.call {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.mob_cont.default {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: #f8f8f8;
}

.mobile-menu {
    display: none;
}

.menu .btn-nav:hover {
    background: transparent;
    border: 1px solid #D0021B;
    color: #D0021B !important;
    transition: background-color 0.3s ease;
}

a.active {
    color: #D0021B !important;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

.call1 {
    font-size: 1.3rem;
    color: #D0021B;
}

.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

.menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin-right: 1rem;
}

.menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

.menu ul li a:hover {
    color: #D0021B;
}

.menu .btn-nav {
    width: 13rem;
    height: 1.3rem;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #D0021B;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
}

.menu .btn-nav:hover {
    color: #fff;
}

.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Proxima Nova Bl';
    color: #D0021B;
    margin: auto;
}

@media( max-width: 1265px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 1169px) {
    .mobile-menu {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        height: 48px;
        background-color: #fff;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        align-items: center;
        padding: 0 4px;
        z-index: 2;
        justify-content: center;
        vertical-align: baseline;
        margin-top: 3.2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.5);
    }
    .mobile-menu a {
        padding: 1rem;
        vertical-align: baseline;
    }
    .mobile-menu ul li a {
        color: #000;
    }
    .menu ul {
        display: none;
    }
    .mobile-menu .slick-prev,
    .mobile-menu .slick-next {
        display: none !important;
    }
}

@media (max-width: 550px) {
    .mobile-menu {
        justify-content: flex-start;
        align-items: center;
    }
    .menu {
        flex: unset;
    }
}

@media (max-width: 1050px) {
    .mob_cont.default {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;
        background: #f8f8f8;
    }
}

@media (max-width: 768px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 580px) {
    nav {
        justify-content: space-between;
    }
    .call {
        display: none;
    }
    .call_phone1 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        height: 2.7rem;
        width: 2.7rem;
        margin: auto;
    }
}

@media(max-width: 450px) {
    .menu {
        justify-content: center;
    }
}

@media(max-width: 430px) {
    .call_phone1 {
        width: 2.2rem;
        height: 2.2rem;
    }
    .logo a {
        font-size: 1.5rem;
    }
}

// @media(max-width: 450px){
//   .logo a{
//     display: none;
//   }
// }
img {
    width: 100%;
    height: auto;
}

.closeIcon {
    font-size: 1.6rem;
    cursor: pointer;
    margin-left: 1rem;
}