<div #menu
     style="transition: all 0.3s linear"
     [ngStyle]="{'box-shadow': isTop ? 'none' : '0px 5px 17px -7px rgba(0, 0, 0, 0.5)'}"
     class="mob_cont">
  <nav style="position: relative;">
    <div class="logo"><a [routerLink]="['/']">Clicker</a></div>
    <a class="call_phone1"
       href="tel:+74951506594">
      <img src="..//assets/img/call_red.svg"
           alt="">
    </a>
    <div class="menu">
      <div *ngIf="!mobileMode">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
      </div>
      <a class="call"
         href="tel:+74951506594">+7 (495) 150-65-94</a>


      <app-price-button (click)="openCalculator()"></app-price-button>
    </div>
    <div class="closeIcon"
         (click)="closeClick()"
         *ngIf="closable">✕</div>
    <!-- menu -->
  </nav>
  <div>
    <div style="position: relative; margin: auto; box-shadow: none;"
         class="mobile-menu"
         *ngIf="mobileMode && !closable">


      <ng-container class="mobile-menu"
                    *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
  </div>
  <!-- mobile-menu -->
</div>
<ng-template #contentTpl>
  <ng-content></ng-content>
</ng-template>