<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/audio.svg"
               alt=""></div>
        <h1>Беспроводная аудиосистема</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Воспроизводит музыку, аудиокниги, подкасты, интернет-радио или стриминговые сервисы
          с телефона без проводов. Колонки могут работать по одной или все вместе, чтобы музыка играла по всему дому.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/high_quality.svg"
                   alt="">
              <p class="workit-icon_descr">Отличное качество звука</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/realy_loud.svg"
                   alt="">
              <p class="workit-icon_descr">Внушительная громкость</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/one_zone.svg"
                   alt="">
              <p class="workit-icon_descr">Режим объединения в одну зону</p>
            </div>
          </div>
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/link.svg"
                   alt="">
              <p class="workit-icon_descr">Работа в связке с саундбаром</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/airdrop.svg"
                   alt="">
              <p class="workit-icon_descr"> Связь с iPhone через Airplay</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/link_bluetooth.svg"
                   alt="">
              <p class="workit-icon_descr">Связь с Android по Bluetooth</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем акустическую систему Yamaha Music Cast — бренда, одно название
          которого гарантирует отличное качество звука и удобство беспроводного использования. </p>
        <img class="obor"
             src="..//assets/img/Yamaha.svg"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="yamaha4"
               (click)="gallery.open()"></a>
            <a class="yamaha1"
               (click)="gallery.open()"></a>
            <a class="yamaha3"
               (click)="gallery.open()"></a>
          </div>

          <a class="yamaha5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Качество Yamaha</h2>
          <p class="service-equipment_descr">Четко продуманная система с двухполосной акустикой и двумя динамиками —
            2,5 см для высоких частот и 9 см для низких. Слева и справа вмонтированы пассивные излучатели, которые
            обеспечивают необычные для столь компактной конструкции мощь и динамику звучания.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/yamaha_sound_black.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Музыка из любых источников</h2>
          <p class="service-equipment_descr">Аудиосистема работает с телефоном, планшетом или ноутбуком, подключенными
            по Bluetooth или Airplay, и открывает доступ к огромным библиотекам российских и зарубежных исполнителей,
            подкастов и аудиокниг.</p>
          <img class="size_protect2"
               src="..//assets/img/logo_sound.png"
               alt="">
          <img class="size_protect1"
               src="..//assets/img/logo_sound_mob.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Впишется в любой интерьер</h2>
          <p class="service-equipment_descr">Небольшую колонку — 12х16х13 сантиметров — можно поставить на стол или
            повесить на стену. Мы предлагаем на выбор два цвета — черный или белый, а пыль на сетчатом гриле не заметна
            в обоих вариантах.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/yamaha_sound_white.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Музыка в одной комнате или во всем доме</h2>
          <p class="service-equipment_descr">Система гибко настраивается: можно слушать музыку на одной колонке в одной
            комнате, а можно на всех сразу, объединив их
            в мобильном приложении, чтобы музыка играла по всему дому.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/yamaha_sound_phone.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Образует стереопару</h2>
          <p class="service-equipment_descr">Для объемного звука в одной комнате можно объединить в приложении две
            колонки — они образуют стереопару и будут играть как левый и правый динамик.
          </p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Связка с саундбаром</h2>
          <p class="service-equipment_descr">Если в одной из комнат на телевизоре установлен саундбар, его тоже можно
            подключить к колонкам.</p>
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 17 490 рублей. Итоговая цена зависит от количества колонок.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько колонок мне нужно?'">
          <p>По количеству комнат, в которых вы хотите слушать музыку. Если сомневаетесь, можем взять с собой
            дополнительные колонки. Не понадобятся — заберем обратно.</p>

        </app-accordion>

        <app-accordion [title]="'Можно ли комбинировать аудиосистему с другими решениями? '">
          <p>Конечно! Беспроводная аудиосистема и саундбар построены на одном оборудовании Yamaha и образуют единую
            систему. Видеонаблюдение или защита от воров, пожара и протечек напрямую с аудиосистемой не связаны, но
            сделают ваш дом безопаснее.</p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>