@import url(cards.css);
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Rg';
  background: #f8f8f8; }
  a {
    color: black;
    text-decoration: none; }

#big_btn {
      width: 17rem;
      height: 2.5rem;
      padding:0;
      padding-top: 0.7rem !important;
      font-size: 1.3rem;
      margin-top: 2rem;
  }
.mfp-close{
  cursor: pointer !important;
}
.service_cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cont_block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  max-width: 62.5rem;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
}
.klone{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 62.5rem;
  flex-wrap: wrap;
}
.size_protect{
  max-width: 45rem;
}
.collection__chat {
  width: 332px;
}
.message {
  padding-bottom: 18px;
}
.message__info {
  padding-bottom: 8px;
}
.service-chat{
  display: flex;
  justify-content: center;
  max-width: 62.5rem;
  margin: 0 auto;
}
.message__container.is-blue {
  border-color: #87a9f4;
}
.message__container.is-green {
  border-color: #5ae4aa;
}
.message__container.is-yellow {
  border-color: #f3b03c;
}
.message__container.is-yellow:before {
  border-color: transparent transparent #f3b03c;
}
.message__container.is-green:before {
  border-color: transparent transparent #5ae4aa;
}
.message__container.is-blue:before {
  border-color: transparent transparent #87a9f4;
}
.message__container {
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  min-height: 83px;
  padding: 11px 16px 10px;
}
.message__container:before, .message__container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
}
.cont_block a:hover{
  width: 11.5rem;
  height: 11.5rem;
  transition: 0.5s;
  margin: 0;
}
.message__container:before {
  border-width: 0 4px 5px;
  border-style: solid;
}
.message__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 0;
  border-radius: 50%;
}
.message.is-left .message__img {
  float: left;
  margin-right: 20px;
}
.message__container.is-blue .message__img {
  border-color: #87a9f4;
}
.message.is-left .message__container:after {
  left: 11px;
}
.message.is-left .message__container:before {
    left: 10px;
}
.message__container:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 4px 3px;
  border-color: transparent transparent #fff transparent;
}
.message__text {
  overflow: hidden;
  padding: 11px 0 6px;
}
.message.is-left .message__text {
  text-align: left;
}
.lazload{
  padding:0.7rem;
}
.left .message__info time {
  float: left;
  margin-right: 8px;
}
.message__info:after {
  content: " ";
  display: table;
  clear: both;
}
.message__info time {
  color: #c8c8c8;
}
.message__container.is-green .message__img span {
  color: #5ae4aa;
}
.message__container.is-yellow .message__img span {
  color: #f3b03c;
}
.message__img span {
  font-size: 27px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.message__info.green{
  display: flex;
  justify-content: flex-end;
}
.message__info span{
  margin-right:0.5rem;
}
.iphonexs{
  margin-top: 2rem;
  max-width: 35rem;
}
.message__container.is-green{
  display: flex;
}
.service-equipment.phone{
  max-width: 62.5rem;
  margin: 0 auto;
}
.message__container.is-green .message__img {
  border-color: #5ae4aa;
  margin-right: 1rem;
}
.message__container.is-yellow .message__img {
  border-color: #f3b03c;
}
.remodal.slider{
  display: flex;
  margin: 0 auto;
  background: none;
}
.message__container:before, .message__container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
}
.message__container:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 4px 3px;
  border-color: transparent transparent #fff transparent;
}
.message.is-right .message__container:before {
  right: 10px;
}
.message.is-right .message__container:after {
  right: 11px;
}
.circle1,.circle2,.circle3,.circle4,.circle5{
  background-color: green;
  border-radius: 50%;
  width:10rem;
  height: 10rem;
  margin-left: 1rem;
  margin-right:1rem;
  margin-bottom: 1rem;
}
.circle4{
  background: url("/assets/img/Leaks.JPG") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.circle1{
  background: url("/assets/img/Leaks1.JPG") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.circle3{
  background: url("/assets/img/Ajax_App.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.circle2{
  background: url("/assets/img/Ajax_Hub.JPG") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.circle5{
  background: url("/assets/img/play.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
#big_btn:hover{
    background: transparent;
    border: 1px solid #D0021B;
    color: #D0021B !important;
     -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s  ease;
    -webkit-transition: background-color 0.3s  ease;
  }
    p{
  margin: 0;
}
a {
  text-decoration: none;
  }
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
    z-index: 900;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #f8f8f8;
}
.doc_container a{
  font-size: 1.2rem;
  color: #050DA8;
}
.cards-header h2{
  margin-top: 10rem;
}
.slider-workers.slider-workers_icon{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
}
.call_phone1{
  display: none;
}
.footer_block a{
  color: #fff;
}
.call_phone{
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
.call{
  font-size: 1.3rem;
  margin-right: 1rem;
}
.item_cont1{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border: 1px solid #050DA8;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.check_b {
    width: 625px;
    height: 4rem;
    background: #52B4EA;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    margin-left: -94px;
    z-index: 2;
    font-family: 'Proxima Nova Rg';
    font-size: 1.3rem;
    /* margin: 0 auto; */
}
.check_b:hover{
  background: #D0021B;
}
.flex_text{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 50rem;
  font-family: 'Proxima Nova Rg';
  text-align: center;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 5rem;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.flex_text h3{
  font-size: 1.5rem;
}
.flex_text p{
  font-size: 1.3rem;
}
.item_cont2{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border: 1px solid #050DA8;
  border-top: none;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.quest{
  font-weight: 800;
}
.viber{
  background: url("/assets/img/viber.svg");
}
.viber:hover{
  background: url("/assets/img/viber_hover.svg");
}
.whatsapp{
  background: url("/assets/img/whatsapp.svg");
}
.whatsapp:hover{
  background: url("/assets/img/whatsapp_hover.svg");
}
.telegram{
  background: url("/assets/img/telegram.svg");
}
.telegram:hover{
  background: url("/assets/img/telegram_hover.svg");
}
.vk{
  background: url("/assets/img/vk.svg");
}
.vk:hover{
  background: url("/assets/img/vk_hover.svg");
}
.messenger{
  background: url("/assets/img/messenger.svg");
}
.messenger:hover{
  background: url("/assets/img/messenger_hover.svg");
}
.calculator__close1{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("/assets/img/close.png");
  background-repeat: no-repeat;
  cursor: pointer; }
  .calculator__close2{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("/assets/img/close.png");
  background-repeat: no-repeat;
  cursor: pointer; }
.btn-nav2{
  width: 10.3125rem;
    height: 1.3rem;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
     border: 1px solid #D0021B;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
    background: #D0021B;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    display: block; }


.mob_cont.default{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
}
.mobile-menu{
  display: none;
}
.menu .btn-nav:hover{
  background: transparent;
  border: 1px solid #D0021B;
  color: #D0021B !important;
   -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s  ease;
  -webkit-transition: background-color 0.3s  ease;
}
.btn-nav {
    width: 13rem;
    height: 1.3rem;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
     border: 1px solid #D0021B;
    color: #fff;
    background: #D0021B;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: block;
}
#big_btn {
    width: 17rem;
    height: 2.5rem;
    padding:0;
    padding-top: 0.7rem !important;
    font-size: 1.3rem;
     border: 1px solid #D0021B;
    margin-top: 1rem;
}
a.active{
  color: #D0021B !important;
  text-decoration: none;
}
a:focus{
outline:0;
}
#big_btn:hover{
  background: transparent;
  border: 1px solid #D0021B;
  color: #D0021B !important;
   -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s  ease;
  -webkit-transition: background-color 0.3s  ease;
}
.red:hover{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.main-nav__btn2:hover{
  background: transparent;
  color: #D0021B; 
  border: 1px solid #D0021B;
   -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s  ease;
  -webkit-transition: background-color 0.3s  ease;
}
.calculator__clicker:hover{
  color: #D0021B;
}

.ip{
  margin-top: 1rem;
  text-decoration: none !important;
  font-weight: 500 !important;
  opacity: 0.7;
}
.ip:hover{
  color: #fff !important;
}
.png{
  margin-left: 1rem;
  margin-right: 2rem !important;
  width: 3rem !important;
  height: 4rem !important;
}
.footer_block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  min-height: 17rem;
  background: #050DA8;
  color: #fff;
}

.left_footer_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 50%;
  padding-top:2.5rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
.first_column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.second_column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.row_question{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.ip :hover{
  color: #fff !important;
}

.logo_white{
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Proxima Nova Bl';
    color: #fff;
    margin-right: 3rem;
}
.menu_punkt{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.doc{
  font-weight: 500 !important;
  cursor:pointer;
  color: #fff;
  margin-top: 1rem;
  text-decoration: underline;
}
.callback{
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}
.phone_number{
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.right_footer_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 50%;
  border-left: 1px solid #fff;
  padding-top:3rem;
  padding-bottom:3rem;
  padding-left: 4rem;
  padding-right: 2rem;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.accordion {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.service-header{
  text-align: center;
}

.service-header h1{
  font-size: 2.8125rem;
  margin: 0;
  font-weight: 700;
}
.accordion div p {
  display: none;
  font-size: 1.1rem;
  padding: 0 0 30px;
  margin-left: 2rem;
  color: #000;
}
.row_socialicon{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
.row_socialicon a{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.accordion{
  padding-top:1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.accordion_cont h3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  font-weight: 600;
  color: #050DA8;
  font-size: 1.3rem;
  text-decoration: underline;
}

.title_popup{
  text-decoration: underline;
}
.accordion_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.accordion_cont img{
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.header_question{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 0.6rem;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 0.6rem;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900;
}
.header_question1{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 0.6rem;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 0.6rem;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.service-how_need a {
  width: 13rem;
  height: 1.3rem;
  padding: 0.6rem 0;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: #D0021B;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}
.how-workit_icon img{
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}
.obor{
  width:12rem;
  margin-top: 2rem;
}
.how-workit_icons{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 62.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  margin: 0 auto;
}

.service-equipment_descr,.sensor-descr{
  margin: 0 auto;
padding-right: 1rem;
padding-left: 1rem;
}
.service-header h1,.service-how_workit h2, .service-wyit h2, .service-equipment h2, .service-how_need h2, .service-whodoit h2, .cards h2{
 padding-right: 1rem;
padding-left: 1rem;
}
.how-workit_descr,
.service-wyit_descr,
.how-need_descr{
font-size: 20px;
max-width: 49rem;
margin: 0 auto;
padding-right: 1rem;
padding-left: 1rem;
}


.how-workit_icon{
margin-top: 2rem;
margin-right: 1rem;
margin-left: 1rem;
margin-bottom: 2rem;
}


.workit-icon_descr{
font-size: 16px;
max-width: 155px;
}
.how-workit_icon img{
width: 4rem;
height: 4rem;
margin-bottom: 1rem;
}
.prev-sl{
background: url(/assets/img/left.png) no-repeat center;
-webkit-background-size: contain;
background-size: contain;
display: block;
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -35px;
}

.next-sl{
background: url(/assets/img/right.png) no-repeat center;
-webkit-background-size: contain;
background-size: contain;
display: block;
cursor: pointer;
position: absolute;
right: -30px;
top: 50%;
margin-top: -35px;
}

.next-sl,
.prev-sl{
z-index: 5;
width: 30px;
height: 70px;
}

@media (max-width: 870px){
.prev-sl{
  right: 0px;
}

.next-sl{
  left: 0px;
}
}

@media (max-width: 422px){
.service-desct_text{
  max-width: 22rem;
}

.how-workit_icon{
  margin-left: 0.5rem;
  margin-right:0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
}
@media (max-width: 900){
.footer_block{
  min-height: 26rem;
}
}
.sensor-img{
    max-width: 253px;
    margin: 3rem auto;
}
.protechka-img{
  padding-top: 4rem;
  max-width: 569px;
  margin: auto;
}
.remodal-close:before{
  font-size: 3rem;
  right: 0 !important;
}
.remodal-wrapper{
  padding:0 !important;
  z-index: 999;
}
.remodal-wrapper:after{
  margin: 0;
}
.header_question.default{
  z-index: 900;
  background: #f8f8f8;
  box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
}
.header_question1.default{
  z-index: 900;
  background: #f8f8f8;
  box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
}
.remodal{
  max-width: 100% !important;
  min-height: 100vh;
  margin:0;
  background: #f8f8f8;
}
.remodal-close{
  top:3rem;
  right:2rem;
}
.remodal .cards__selector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 52px; }
    .cards__selector-item{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      font-weight: 700;
    }
.call1{
    font-size: 1.3rem;
    color: #D0021B;
}
.remodal .cards__selector a {
    font-size: 16px;
    color: #050DA8;
    font-family: 'Proxima Nova RG';
    font-weight: 700; }

.remodal .cards__selector-item {
    vertical-align: middle;
    line-height: 38px;
    border: 1px solid #050DA8;
    border-right: none;
    padding-left: 18px;
    padding-right: 18px; }
.remodal .cards__selector-item:last-child {
    border-right: 1px solid #050DA8; }
.remodal .cards__selector-item.active {
    color: #fff;
    background-color: #050DA8;
    font-family: 'Proxima Nova Lt';
    font-weight: 600; }
.remodal .cards__selector-item.active a {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-weight: 600; }

.remodal .accordion{
  display: none;
}

.remodal .accordion.active{
  display: block;
}

.remodal-wrapper{
  padding:0;
  margin:0;
}

.remodal .cards__selector{
  justify-content: center;
}

.remodal .accordion{
  text-align: left;
}

.all_question {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid #050DA8;
  background-color: #f8f8f8;
  width: 13rem;
  height: 2.6rem;
  color: #050DA8;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
  cursor:pointer;
}
.all_question:hover{
  background-color: #050DA8;
  color: #fff;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s  ease;
  -webkit-transition: background-color 0.3s  ease;
}
.accordion p {
  font-size: 1rem;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          align-items: center; }
  .menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu ul li {
      list-style: none;
      margin-right: 1rem; }
      .menu ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: #000; }
        .menu ul li a:hover {
          color: #D0021B; }
  .menu .btn-nav {
    width: 13rem;
    height: 1.3rem;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #D0021B;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    display: block; }
    .menu .btn-nav:hover {
      color: #fff; }

.logo a {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Proxima Nova Bl';
  color: #D0021B; }


.title_block{
  text-align: center;
  font-size: 2.5rem;
  margin-top:7rem;
  margin-bottom: 1.7rem;
}
.how-workwe{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 62.5rem;
  margin:0 auto;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
    -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}
.how-workwe_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.how-workwe_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12rem; 
  margin-bottom:1rem;
  margin-right: 1rem;

}
.workwe-descr{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
}
.workwe-header{
      font-weight: bold;
      text-align: center;
      margin-bottom:0;
      margin-top: 2rem;
}

.how-workwe_2blcok{
   display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
   justify-content: center;
}
.workwe_img{
  height: 3.7rem;
}
.workwe_imgpr{
  height: 3.7rem;
  margin-top:1.2rem;
}
.descr_of_title{
  font-size: 1.25rem;
    text-align: center;
    max-width: 35rem;
    margin: 0 auto 1.5rem auto;
}
.text_history_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
    -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
   justify-content: space-between;
}
.history_container{
   max-width: 62.5rem;
   margin: 0 auto;
}

.history_container img{
  max-width: 1000px;
  margin: 0 auto;
}

.img_smarthouse{
  margin-bottom: 1rem;
}

.subtitle_history{
  font-size: 1.375rem;
  font-weight: bold;
}
.left_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 40%;
}
.left_cont p{
  text-align: left;
}
.right_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
      -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
   justify-content: flex-end;

}
.service-how_workit{
  text-align: center;
}
.service-how_need{
  text-align: center;
}
.service-wyit,
.service-equipment{
  text-align: center;
}
.service-equipment_descr{
  font-size: 20px;
  max-width: 38rem;
  margin: 0 auto;
}
.service-wyit_img{
  margin: 3rem auto 0 auto;
  max-width: 714px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.service-how_workit,
.service-wyit,
.service-equipment,
.service-how_need,
.service-whodoit,
.cards{
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.left_cont p{
  margin-bottom: 0.5rem;

}
.time_plant{
  font-size: 0.875rem;
}
.category{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 1.3rem;
  max-width: 25rem;
}
.descr_history{
  margin-top:0;
}
.category img{
  height: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
}
.case{
  margin-bottom: 1.7rem;
}
.logo_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
      -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
   justify-content: center;
   max-width: 55rem;
   margin: 0 auto;
}

.company-mob_img{
  display: none;
}

img{
  width: 100%;
  height: auto;
}
.descr_of_title1{
  font-size: 1.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
    text-align: center;
    max-width: 40rem;
    margin: 0 auto 1.5rem auto;
}
nav.default { 
box-shadow: 0 0 5px rgba(57, 70, 78, 0.2);
}
.service-whodoit{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 50rem;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin:0 auto;
}
.question_cont{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 40rem;
  margin: 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.end {
  margin-bottom: 0 !important;
}
.question_cont h3{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.question_cont p{
  font-size: 1rem;
margin-bottom: 1.5rem;
}

.mob-cards_items{
  max-width: 768px;
  margin: 0 auto;
  display: none;
}

.cardis__selector{
  padding-left: 0;
}

.cardis__selector li{
  list-style: none;
}

.history_container .prev-sl{
  right: -3rem;
}

.history_container .next-sl{
  left: -3rem;
}

.history_container .next-sl,
.history_container .prev-sl{
  top: 35%;
}

.rouble{
  font-family: 'als_rublregular', sans-serif;
}

/*============team===========*/
.service-whodoit{
  text-align: center;
}
.main-nav__btn2:hover .white_cart{
  display: none;
}
.main-nav__btn2:hover .red_cart{
  display: block;
}
.red_cart{
  display: none;
}
.main-nav__btn2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  font-size: 1rem;
  height: 2.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: "Proxima Nova Rg";
  font-weight: bold;
  background-color: #D0021B;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-style: normal; 
  position: relative;}
.main-nav__btn2 a{
  margin-left: 0.5rem;
  color: #fff;
}
/* .service-how_workit h2,
.service-wyit h2,
.service-equipment h2,
.service-how_need h2,
.service-whodoit h2,
.cards h2{
  font-size: 2.5rem;
    margin-top: 7rem;
    margin-bottom: 1.7rem;
  font-weight: 700;
} */

.whodoit-descr{
  font-size: 20px;
  max-width: 30rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


.workers{
  max-width: 750px;
  margin-top: 3rem;
}

.slider-workers .fa-angle-right{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.85rem;
  font-size: 3.75rem;
  color: #979797;
}
.main-nav__btn2 img{
  width: 1.5rem;
  height: 1.5rem;
}
.slider-workers .fa-angle-left{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.85rem;
  font-size: 3.75rem;
  color: #979797;
}

.slider-workers_icon{
  text-align: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.slider-workers_icon img{
  max-width: 230px;
  margin: 0 auto;
}

.name-worker{
  font-weight: 700;
  font-size: 16px;
  margin-top: 1rem;
}

.slick-slide{
 outline: 0;
}
.title_block_remodal{
  font-size: 2.5rem;
  margin-top: 5rem;
  text-align: center;
}
.prev-sl{
  background: url(/assets/img/right.svg) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  cursor: pointer;
  position: absolute;
  right:-30px;
  top: 50%;
  margin-top: -35px;
}
.next-sl{
  background: url(/assets/img/left.svg) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  display: block;
  cursor: pointer;
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -35px;
}
.punkt{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
  }
.menu_punkt{
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.quest,.ip,.doc{
  font-size: 1rem;
}
.next-sl,
.prev-sl{
  z-index: 5;
  width: 30px;
  height: 70px;
}

.order-form_block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.order_button:hover{
  background-color: #D0021B;
}
.order-form{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
  .footer_block a:hover{
    color: #52B4EA;
  }
.order-form input{
  height: 58px;
  width: 75%;
  margin: 0;
  padding: 2px 10px;
  border-radius: 0;
  font-size: 1.5rem;
  font-weight: 800 !important;
  font-family: 'Proxima Nova Rg';
  font-weight: bolder;
  outline: none;
  padding-left: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.order-form ::-webkit-input-placeholder {color:#000; font-weight: normal;}
.order-form ::-moz-placeholder          {color:#000; font-weight: normal;}/* Firefox 19+ */
.order-form :-moz-placeholder           {color:#000; font-weight: normal;}/* Firefox 18- */
.order-form :-ms-input-placeholder      {color:#000; font-weight: normal;}

.accordion_cont.active h3{
  text-decoration: none;
}
.order_button {
    padding: 0;
    margin: 0;
    height: 64px;
    min-height: 64px;
    width: 25%;
    border: none;
    background-color:#050DA8;
    font-family: 'Proxima Nova Rg';
    font-weight: bolder;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
.remodal{
  padding:0;
}
.remodal-wrapper{
  text-align: left;
}
/*=====media=======*/
@media (max-width: 1112px){
  .history_container .prev-sl{
    right: -2rem;
  }
  .history_container .next-sl{
    left: -2rem;
  }
}
@media( max-width: 1265px){
  nav{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header_question{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 1080px){
  .history_container .prev-sl{
    right: 0rem;
  }

  .history_container .next-sl{
    left: 0rem;
  }
}
@media (max-width: 1169px){
  .mobile-menu {
    display: flex;
    flex-wrap: nowrap;
    white-space:nowrap;
    height: 48px;
    background-color: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    padding: 0 4px;
    z-index: 2;
    justify-content: center;
    vertical-align: baseline;
    margin-top: 3.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.5);
  }
  .mobile-menu a{
    padding:1rem;
    vertical-align: baseline;
  }
  .mobile-menu ul li a{
    color: #000;
  }

  .menu ul{
    display: none;
  }

  .mobile-menu .slick-prev,
  .mobile-menu .slick-next{
    display: none !important;
  }
}

@media (max-width: 550px)
{
  .mobile-menu{
    justify-content: flex-start;
  }
}
@media (max-width: 870px){
  .prev-sl{
    right:  0px;
  }

  .next-sl{
    left:0px;
  }
}
@media(max-width: 900px){
  .footer_block{
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding:0;
    min-height: 26rem;
  }

  .first_column{
    display: none;
  }
  .left_footer_cont{
    width: 100%;
    padding:0 !important;
    margin:0 !important;
    justify-content: center;
  }
  .ip{
    margin-bottom: 2rem;
  }
  .second_column{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .quest{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .menu_punkt{
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .right_footer_cont{
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0;
    margin:0 !important;
    border-left:none;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .row_socialicon{
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .callback{
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 15rem;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    text-align: center;
  }
  .second_column{
  margin-top: 1rem;
  text-align: center;
}
.menu_punkt a{
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
  .row_socialicon img{
    height: 1.5rem;
  }
  .phone_number{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1050px){
    .mob_cont.default{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
}
}
@media (max-width: 768px) 
{ 
  
  .cards-header h2{
    font-size: 2rem;
    margin-right: 2.2rem;
    margin-left: 2.2rem;
  }
  .descr_of_title{
    margin-right: 1.8rem !important;
    margin-left: 1.8rem !important;
  }
  .logo_cont .company-img{
     display: none;
  }
  nav{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .how-workwe{
    margin-top: 2rem;
  }

.title_block{
    font-size: 2rem;
    margin-top: 5rem;
  }
  
  .descr_of_title1{
    font-size: 1.2rem;
  }
  .company-mob_img{
    display: block;
    max-width: 18.75rem;
  }
  

  .question_cont{
    padding: 0 1rem;
  }

  .order-form_block{
    margin-top: 2rem;
  }

  .order-form_block{
    padding: 0 1rem;
  }

    .cards__container{
    display: none;
  }

  .mob-cards_items{
    display: block;
  } 
}

@media (max-width: 715px){
  .text_history_cont{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .left_cont{
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 25rem;
  }

  .history_container .prev-sl,
  .history_container .next-sl{
    top: 10rem;
  }

  .history_container .prev-sl{
    right: 0;
  }
}

@media (max-width: 666px) {
  .slick-slider .cardis__item{
    width: 250px;
  }
}

@media (max-width: 611px) {
  .slick-slider .cardis__item{
    width: 279px;
  }
}

@media (max-width: 560px) {
.accordion_cont h3:after{
display: none;
}
.accordion_cont h3{ 
text-decoration: underline;
}
  }

@media (max-width: 555px){
  .mobile-menu .slick-slider{
    padding-left: 0;
    margin: 0;
  }

  .mobile-menu .slick-slider li{
    padding: 1rem 0;
  }
  .title_block_remodal{
  font-size: 2rem;
}
}
.slick-slider{
  padding: 0rem ;
}
@media (max-width: 580px){
  nav{
    justify-content: space-between;
  }
  .call{
    display: none;
  }
  .call_phone{
    display: none;
  }
  .call1{
    display: none;
  }
  .header_question{
    justify-content: space-between;
  }
  .call_phone1{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 2.7rem;
    width: 2.7rem;
  }
}
@media(max-width: 426px){
  .call_phone1{
    width: 2.2rem;
    height: 2.2rem;
  }
  .menu .btn-nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    align-items: center;
    width: 10.5rem;
  }
  .main-nav__btn2{
    height: 2rem;
  }
  .logo a{
    font-size: 1.5rem;
  }
}
@media(max-width: 359px){
  .logo a{
    display: none;
  }
}
@media (max-width: 507px) {
  .remodal .cards__selector-item{
    width: 100%;
    border: 1px solid #050DA8;
  }

  .remodal .cards__selector{
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media ( max-width: 468px){
  .history_container .prev-sl,
  .history_container .next-sl{
    top: 10rem;
  }
}
@media (max-width: 900px){
 
}
@media ( max-width: 990px) {
  .cards-header h2{
    margin-top: 8rem;
  }
  .protechka-img{
    margin-top: 8rem;
  }
  .right_footer_cont{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom:2rem;
    justify-content: flex-start;
  }
}
.calculator__clicker{
  text-align: center;
}
.remodal{
  z-index: 3;
}
.mobile-menu.default{
  z-index: 2;
}
.doc_window{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position:absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}
.card-wish {
  margin-top: 40px; }

.wish-item {
  line-height: 20px;
  margin-bottom: 10px; }

.check__page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
   -moz-flex-direction: column;
   -ms-flex-direction: column;
   -o-flex-direction: column;
   flex-direction: column; }

.check__item {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative; }



.check__item.item-1::before {
  background-image: url("/assets/img/icon/fire.svg"); }

.check__item.item-2::before {
  background-image: url("/assets/img/icon/steel.svg"); }
  .check__item.item-3::before {
  background-image: url("/assets/img/icon/hub.svg"); }

.check__title {
  text-align: center;
  padding: 0;
  margin: 0; }

.check__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center; }

.check__list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 28px; }

.check__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.check__line.first-line {
  margin-top: 20px;
  margin-bottom: 10px; }

.check__item-title {
  margin: 0;
  padding: 0; }

.check__qt {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 5px; }

.check__item-price {
  font-size: 18px;
  font-weight: bold; }

.check__subitem-price {
  font-weight: bold; }

.check__subtitle--stroke {
  margin: 0;
  padding: 0;
  display: block;
  height: 1px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  background-color: lightgray; }

.check__subtitle--stroke::after {
  width: 100%; }

.check__price {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 24px;
  padding-right: 30px;
  font-weight: bold;
  text-align: center;
  position: relative; }

.check__link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0086ff;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-decoration: underline; }
.line{
  border-bottom: 2px solid #cccccc;
  margin-top: 2rem;
}
  .check__block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 73px;
    padding-right: 43px;
    width: 625px;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative; }
  .check__block::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    bottom: 69px;
    height: 1px;
    background-color: #cccccc; }
  .check__item::before {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    top: 10px;
    left: -50px; }

.thanks__title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;
  margin-top: 60px; }

.thanks__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 60px; }
@media (max-width: 745px){
  .flex_text{
    width: 300px;
  }
}
@media (min-width: 768px) {
  .thanks__block {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 625px;
    border: 1px solid #eeeded;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 60px; } }
    .page-container {
  background-color: #f8f8f8;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 320px;
  height: 32px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
.page-header__logo {
  font-family: 'Proxima Nova Bl';
  font-size: 32px;
  line-height: 32px;
  color: #D0021B;
  margin-left: 20px;
  z-index: 4; }
@media (max-width: 350px){
  .cards__selector{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .logo a{
  font-size: 1.5rem;
  }
  .header_question,.header_question1{
   align-items: center;
  }
  
}
@media (max-width: 300px) {

.title_block_remodal{
  font-size: 1.5rem;
}
  .callback{
    font-size: 0.8rem; 
    width: 12rem;
  }
}
@media (max-width: 630px){
  .check__block{
    width: 540px
  }
}

@media ( max-width: 721px){
  .check__block{
    width: 500px;
  }
}
@media ( max-width: 572px){
  .check__block{
    width: 400px;
  }
}
@media ( max-width: 562px){
  .check__block{
    width: 370px;
  }
}
@media ( max-width: 430px){
  .check__block{
    width: 330px;
    padding-left:63px;
    padding-right:23px;
  }
  .check__subtitle--stroke{
    display: none;
  }
  .rubl{
  margin-left: 0.1rem;  
  }
}
.rubl{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-left: 0.3rem;
}
@media ( max-width: 354px){
  .check__list{
    font-size: 0.95rem;
  }
  .check__item::before{
    height: 30px;
  }
  .check__block{
    width: 314px;
  }
  .check__item{
    margin-top: 20px;
  }
  .check__item-price{
    font-size: 1rem;
  }
  .check__item-title{
    font-size: 1rem;
  }
  .check__block{
    padding-left: 58px;
    padding-right: 15px;
  }
  }
