<div class="cards__container">
  <app-tab-control>
    <app-tab-item header="{{'Популярное'}}">
      <ul class="cards__list service-tiles-container">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_burglarprotection.svg"
                                  title="Защита от воров"
                                  price="12180"
                                  [routerLink]="['../', 'burglarprotection']"
                                  description="Среагирует на взлом"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_soundbar.svg"
                                  title="Саундбар"
                                  price="36400"
                                  [routerLink]="['../', 'soundbar']"
                                  description="Звук как кинотеатре на вашем ТВ"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_panicbutton.svg"
                                  title="Тревожная кнопка"
                                  price="10780"
                                  [routerLink]="['../', 'panicbutton']"
                                  description="Позаботится о близких"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_remote.svg"
                                  title="Универсальный пульт управления"
                                  price="3800"
                                  [routerLink]="['../', 'remote']"
                                  description="Для всей вашей техники"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_insidecameras.svg"
                                  title="Внутреннее видеонаблюдение"
                                  price="6800"
                                  [routerLink]="['../', 'insidecameras']"
                                  description="Запишет все происходящее"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_audio.svg"
                                  title="Беспроводная аудиосистема"
                                  price="17490"
                                  [routerLink]="['../', 'audio']"
                                  description="Музыка в отличном качестве — там, где вам удобно"></app-landing-service-card>
      </ul>
    </app-tab-item>
    <app-tab-item header="{{'Безопасность'}}">
      <ul class="cards__list service-tiles-container">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_fireprotection.svg"
                                  title="Защита от пожара"
                                  price="12980"
                                  [routerLink]="['../', 'fireprotection']"
                                  description="Сообщит о задымлении"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_burglarprotection.svg"
                                  title="Защита от воров"
                                  price="12180"
                                  [routerLink]="['../', 'burglarprotection']"
                                  description="Среагирует на взлом"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_panicbutton.svg"
                                  title="Тревожная кнопка"
                                  price="10780"
                                  [routerLink]="['../', 'panicbutton']"
                                  description="Позаботится о близких"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_leaksprotection.svg"
                                  title="Защита от протечек"
                                  price="12080"
                                  [routerLink]="['../', 'leaksprotection']"
                                  description="Сработает при потопе"></app-landing-service-card>
      </ul>
    </app-tab-item>
    <app-tab-item header="{{'Видеонаблюдение'}}">
      <ul class="cards__list service-tiles-container">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_insidecameras.svg"
                                  title="Внутреннее видеонаблюдение"
                                  price="6800"
                                  [routerLink]="['../', 'insidecameras']"
                                  description="Запишет все происходящее"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_outsidecameras.svg"
                                  title="Видеонаблюдение на участке"
                                  price="8790"
                                  [routerLink]="['../', 'outsidecameras']"
                                  description="Дом под присмотром"></app-landing-service-card>
      </ul>
    </app-tab-item>
    <app-tab-item header="{{'Развлечения и комфорт'}}">
      <ul class="cards__list service-tiles-container">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_audio.svg"
                                  title="Беспроводная аудиосистема"
                                  price="17490"
                                  [routerLink]="['../', 'audio']"
                                  description="Музыка в отличном качестве — там, где вам удобно"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_appletv.svg"
                                  title="ТВ приставка Apple TV"
                                  price="11490"
                                  [routerLink]="['../', 'appletv']"
                                  description="Откроет доступ ко всем фильмам мира"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_soundbar.svg"
                                  title="Саундбар"
                                  price="36400"
                                  [routerLink]="['../', 'soundbar']"
                                  description="Звук как кинотеатре на вашем ТВ"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_remote.svg"
                                  title="Универсальный пульт управления"
                                  price="3800"
                                  [routerLink]="['../', 'remote']"
                                  description="Для всей вашей техники"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_wifi.svg"
                                  title="Усиление сигнала WiFi"
                                  price="8090"
                                  [routerLink]="['../', 'wifi']"
                                  description="Гарантирует стабильный интернет"></app-landing-service-card>
      </ul>
    </app-tab-item>
  </app-tab-control>
</div>

<!--/.cards-->
<div class="mob-cards_items">
  <!--/.mobile-cards-->`
  <app-tab-control>
    <app-tab-item header="{{'Популярное'}}"
                  (select)="slickPopularModal.el.nativeElement.slick.$nextArrow.click()">
      <ngx-slick-carousel [config]="slidesServiceConfig"
                          #slickPopularModal
                          class="carousel">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_burglarprotection.svg"
                                  title="Защита от воров"
                                  price="12180"
                                  ngxSlickItem
                                  [routerLink]="['../', 'burglarprotection']"
                                  description="Среагирует на взлом"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_soundbar.svg"
                                  title="Саундбар"
                                  price="36400"
                                  ngxSlickItem
                                  [routerLink]="['../', 'soundbar']"
                                  description="Звук как кинотеатре на вашем ТВ"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_panicbutton.svg"
                                  title="Тревожная кнопка"
                                  price="10780"
                                  ngxSlickItem
                                  [routerLink]="['../', 'panicbutton']"
                                  description="Позаботится о близких"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_remote.svg"
                                  title="Универсальный пульт управления"
                                  price="3800"
                                  ngxSlickItem
                                  [routerLink]="['../', 'remote']"
                                  description="Для всей вашей техники"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_insidecameras.svg"
                                  title="Внутреннее видеонаблюдение"
                                  price="6800"
                                  ngxSlickItem
                                  [routerLink]="['../', 'insidecameras']"
                                  description="Запишет все происходящее"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_audio.svg"
                                  title="Беспроводная аудиосистема"
                                  price="17490"
                                  ngxSlickItem
                                  [routerLink]="['../', 'audio']"
                                  description="Музыка в отличном качестве — там, где вам удобно"></app-landing-service-card>
      </ngx-slick-carousel>
    </app-tab-item>
    <app-tab-item (select)="slickSequrityModal.el.nativeElement.slick.$nextArrow.click()"
                  header="{{'Безопасность'}}">
      <ngx-slick-carousel #slickSequrityModal
                          [config]="slidesServiceConfig"
                          class="carousel">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_fireprotection.svg"
                                  title="Защита от пожара"
                                  price="12980"
                                  ngxSlickItem
                                  [routerLink]="['../', 'fireprotection']"
                                  description="Сообщит о задымлении"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_burglarprotection.svg"
                                  title="Защита от воров"
                                  price="12180"
                                  ngxSlickItem
                                  [routerLink]="['../', 'burglarprotection']"
                                  description="Среагирует на взлом"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_panicbutton.svg"
                                  title="Тревожная кнопка"
                                  price="10780"
                                  ngxSlickItem
                                  [routerLink]="['../', 'panicbutton']"
                                  description="Позаботится о близких"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_leaksprotection.svg"
                                  title="Защита от протечек"
                                  price="12080"
                                  ngxSlickItem
                                  [routerLink]="['../', 'leaksprotection']"
                                  description="Сработает при потопе"></app-landing-service-card>
      </ngx-slick-carousel>
    </app-tab-item>
    <app-tab-item (select)="slickKlimatModal.el.nativeElement.slick.$nextArrow.click()"
                  header="{{'Видеонаблюдение'}}">
      <ngx-slick-carousel [config]="slidesServiceConfig"
                          #slickKlimatModal
                          class="carousel">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_insidecameras.svg"
                                  title="Внутреннее видеонаблюдение"
                                  ngxSlickItem
                                  price="6800"
                                  [routerLink]="['../', 'insidecameras']"
                                  description="Запишет все происходящее"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_outsidecameras.svg"
                                  title="Видеонаблюдение на участке"
                                  ngxSlickItem
                                  price="8790"
                                  [routerLink]="['../', 'outsidecameras']"
                                  description="Дом под присмотром"></app-landing-service-card>
      </ngx-slick-carousel>
    </app-tab-item>
    <app-tab-item (select)="slickRKModal.el.nativeElement.slick.$nextArrow.click()"
                  header="{{'Развлечения и комфорт'}}">
      <ngx-slick-carousel [config]="slidesServiceConfig"
                          #slickRKModal
                          class="carousel">
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_audio.svg"
                                  title="Беспроводная аудиосистема"
                                  ngxSlickItem
                                  price="17490"
                                  [routerLink]="['../', 'audio']"
                                  description="Музыка в отличном качестве — там, где вам удобно"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_appletv.svg"
                                  title="ТВ приставка Apple TV"
                                  ngxSlickItem
                                  price="11490"
                                  [routerLink]="['../', 'appletv']"
                                  description="Откроет доступ ко всем фильмам мира"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_soundbar.svg"
                                  title="Саундбар"
                                  ngxSlickItem
                                  price="36400"
                                  [routerLink]="['../', 'soundbar']"
                                  description="Звук как кинотеатре на вашем ТВ"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_remote.svg"
                                  title="Универсальный пульт управления"
                                  ngxSlickItem
                                  price="3800"
                                  [routerLink]="['../', 'remote']"
                                  description="Для всей вашей техники"></app-landing-service-card>
        <app-landing-service-card img="assets/img/landing-serveces-ill/ill_service_small_wifi.svg"
                                  title="Усиление сигнала WiFi"
                                  ngxSlickItem
                                  price="8090"
                                  [routerLink]="['../', 'wifi']"
                                  description="Гарантирует стабильный интернет"></app-landing-service-card>
      </ngx-slick-carousel>
    </app-tab-item>
  </app-tab-control>
</div>