<div class="calculator__item"
     *ngIf="!isSingle">

  <div class="calculator__line">

    <p class="calculator__subtitle">{{title}}</p>
    <div class="calculator__subtitle--stroke"></div>
    <div class="calculator__counter">
      <span class="calculator__plus-minus minus"
            (click)="decCountClick($event)">-</span>
      <div class="calculator__counter--item">{{count}}</div>
      <span class="calculator__plus-minus"
            (click)="incCountClick($event)">+</span>
    </div>
    <span style="text-align: right;" class="calculator__price">{{getThousands(totalPrice) === 0 ? '' : getThousands(totalPrice)}}
      <span class="hs"></span>{{(getRemainderOfThousand(totalPrice) === 0 && getThousands(totalPrice) === 0) ? '0' : priceFormat(getRemainderOfThousand(totalPrice))}}
      <span class="rhs"> </span>p.
    </span>

  </div>
  <p class="calculator__description">
    {{description}}
    <br> Модель: {{model}}
  </p>
</div>

<div class="calculator__intro"
     *ngIf="isSingle && isDeclineMode">
  <div class="calculator__text">

    <div class="calculator__smarthab-check">
      <input class="filter-input-checkbox"
             type="checkbox"
             [checked]="isDeclineMode ? count === 0 : count === 1"
             [disabled]="isReadOnly"
             (change)="toggleSelect($event)"
             id="checkhab">
      <label for="checkhab"
             class="calculator__checkbox-hab">{{selectMessage}}</label>
    </div>
  </div>
</div>