<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/inside_video.svg"
               alt=""></div>
        <h1>Внутреннее видеонаблюдение</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Даст уверенность, что дома все в порядке, пока вас нет. Ведет запись и
          онлайн-трансляцию на смартфон, а камера обладает двусторонней связью — по ней можно разговаривать.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/smartphone.svg"
                   alt="">
              <p class="workit-icon_descr">Видео высокого разрешения со звуком</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/motion.svg"
                   alt="">
              <p class="workit-icon_descr">Обнаружение движения</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/night_video.svg"
                   alt="">
              <p class="workit-icon_descr">Режим ночной съемки</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/auto_control.svg"
                   alt="">
              <p class="workit-icon_descr">Автослежение за объектом</p>
            </div>
          </div>
          <div class="service_cont">

            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/two_voice.svg"
                   alt="">
              <p class="workit-icon_descr"> Двустороннее аудио — можно поговорить через камеру</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/full_view.svg"
                   alt="">
              <p class="workit-icon_descr"> Панорамный обзор</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/private.svg"
                   alt="">
              <p class="workit-icon_descr">Режим приватности</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/free_video.svg"
                   alt="">
              <p class="workit-icon_descr">Доступ к видео без абонентской платы</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем камеры EZVIZ бренда Hikvision — мирового лидера в производстве
          систем видеонаблюдения. Эти камеры отличают хорошее соотношение цены и качества, надежность и удобство
          использования.</p>
        <img class="obor"
             src="..//assets/img/ezviz.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="inside4"
               (click)="gallery.open()"></a>
            <a class="inside1"
               (click)="gallery.open()"></a>
          </div>
          <a class="inside2"
             (click)="gallery.open()"></a>
          <a class="inside3"
             (click)="gallery.open()"></a>
          <a class="inside5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Удобный архив</h2>
          <p class="service-equipment_descr">Запись ведется, только когда в кадре есть движение, а видео сохраняется на
            карту памяти — доступ к нему обеспечивает приложение, не требующее абонентской платы. Опционально, для
            большей защищенности, записи можно сохранять на видеорегистратор или в облако.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/inside_video_phone.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Ночной режим</h2>
          <p class="service-equipment_descr">Запись идет круглосуточно: в ночное время — с помощью невидимой глазу
            инфракрасной подсветки дальностью до 10 метров.
          </p>
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Две камеры для разных задач</h2>
          <p class="service-equipment_descr">У нас есть два вида оборудования для разных целей и помещений. C2mini с
            небольшими габаритами и магнитным креплением нужна, чтобы просто следить за домом: специальный объектив
            дает широкий угол обзора и не оставляет слепых зон. Поворотная C6T с двусторонней связью хорошо подходит
            для наблюдения за детьми и общения — например, с их няней, а обзор дает максимальный — 360°.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/inside_video_camera1.png"
               alt="">
          <img class="size_protect"
               style="margin-top: 32px;"
               src="..//assets/img/service_img/inside_video_camera3.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Режим приватности</h2>
          <p class="service-equipment_descr">Если вы не хотите, чтобы съемка велась, пока вы дома — выберите функцию
            скрытого режима в приложении, и объектив автоматически закроется.
          </p>
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 6 800 рублей. Итоговая цена зависит от количества камер.
        </p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько камер мне нужно?'">
          <p>По количеству комнат, в которых вы хотите контролировать происходящее. Если сомневаетесь, можем взять с
            собой дополнительные камеры. Не понадобятся — заберем обратно.</p>

        </app-accordion>

        <app-accordion [title]="'Какую камеру мне выбрать?'">
          <p>Если вам просто нужно знать что происходит, c2mini — лучший вариант. Она записывает звук, незаметна в
            интерьере и имеет широкий угол обзора. Если у вас маленькие дети, вам нравится разговаривать с домашними
            животными или вы хотите удивить друзей функцией автослежения, ваш вариант — поворотная C6T. Если
            сомневаетесь, мы возьмем обе, а вы решите на месте.</p>
        </app-accordion>
        <app-accordion [title]="'Можно ли комбинировать внутреннее видеонаблюдение с другими решениями?'">
          <p>Конечно! Внутреннее видеонаблюдение и видеонаблюдение на участке построены на одном оборудовании и
            образуют единую систему. Решения по защите от воров, пожара и протечек органично дополняют ее, позволяя вам
            получать уведомления о неприятностях. Другие решения напрямую не связаны с безопасностью, но сделают дом
            комфортнее.</p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>