:host {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; // background-color: rgba(0, 0, 0, 0.8);
    background-color: #f8f8f8;
    z-index: 10000;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.isActionFormFixed {
    position: fixed;
    z-index: 1000;
}
