<div @flyInOut>

  <div class="calculator">
    <div class="calculator__page active"
         style="position: relative; display:block; min-height: auto;">
      <header class="calculator__header">
        <a href="#"
           class="page-header__logo">Clicker</a>
        <a class="calculator__close"
           (click)='close()'></a>
      </header>
      <div>
        <div style="position: fixed; top: 10px; background: #0086ff; color: white; padding: 8px; z-index: 100; border-radius: 0 5px 5px 0;">Админка</div>

        <app-calculator #calculator
                        [categories]="categories"></app-calculator>

        <p class="result_price">Итого: {{calculator.totalPrice}} р.</p>
        <div class="flex_cont">

          <img class="main_icon"
               src="/assets/img/magic.png"
               alt="">
          <p class="text_of_cont">Укажите номер телефона и пришлем ссылка на подробный расчет стоимости оборудования, сроков
            и процесса установки для выбранной вами конфигурации.</p>
        </div>

        <div style="margin: 8px 16px;">
          <div>Что будет дальше</div>
          <textarea style="resize: vertical; width: 100%;"
                    [(ngModel)]="note"></textarea>
        </div>

        <!-- Специальное место для того чтобы Форма его занимала когда скролинг доходит до футера -->
        <div [ngStyle]="{'height': actionForm.offsetHeight + 'px'}">
          <form class="calculator__form"
                (submit)="accept()"
                [class.isActionFormFixed]="isActionFormFixed"
                [ngStyle]="{'width' : footerComp.width + 'px'}"
                #actionForm>
            <!-- <div class="calculator__bottom-shadow"
    style="pointer-events: none;"></div> -->
            <app-input-phone-number placeholder='ваш номер'
                                    required
                                    style="display: flex; align-items: center; justify-content: center;"
                                    [(ngModel)]='phoneNumber'
                                    [ngModelOptions]="{standalone: true}"
                                    class="calculator__phone">
            </app-input-phone-number>

            <!-- Очень сложное при клике -->
            <!-- если выбрано отослать на эмейл то проверяется правильность эмейла  -->
            <!-- и если все хорошо открывается сообщение о создании заказа -->
            <!-- иначе отображение сообщение о не верности эмейла. -->
            <!-- если отослать на эмейл не выбрано то просто проверсяется правильность телефонного номера  -->
            <!-- и если все хорошо открывается сообщение о создании заказа -->
            <input class="calculator__button"
                   [class.default]="calculator.totalPrice === 0"
                   type="submit"
                   value="Изменить заказ"
                   name="button">
          </form>
        </div>
        <app-footer #footerComp></app-footer>
      </div>
    </div>
  </div>
</div>