<router-outlet></router-outlet>
<app-main></app-main>
<!-- <app-calculator *ngIf="isActive"
                #calculator
                [categories]="categories"
                [orderStatus]="orderStatus"
                (onCancel)="calculator.toggleState()"
                (onAccept)="createOrder(calculator.phoneNumber, calculator.orderStatus); modal.open();"></app-calculator>
<app-modal-dialog id="order-thanks"
                  (afterClosed)="modalClosed()"
                  #modal>
    <div class="thanks__block"
         [ngSwitch]="requestStatus"
         style="background: white; border-radius: 2px; padding: 16px; margin:auto; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">

        <div *ngSwitchCase="'success'">
            <h1 class="thanks__title">Спасибо за ваш заказ!</h1>
            <p class="thanks__subtitle">Мы скоро свяжемся с вами</p>
            <a class="check__link"
               (click)="modal.close()"
               routerLink="//">Вернуться на clicker.one</a>
            <a class="check__link"
               [routerLink]="['/order/', createdOrderId]">К заказу</a>
        </div>
        <div *ngSwitchCase="'error'">
            <h1 class="thanks__title">Ошибка при создании заказа</h1>
            <p class="thanks__subtitle">При создании заказа произошла ошибка, попробуйте снова</p>
            <a class="check__link"
               (click)="modal.close()"
               routerLink="//">Вернуться на clicker.one</a>
        </div>
        <app-spinner *ngSwitchCase="'loading'"
                     style="display: flex; justify-content: center;"></app-spinner>
    </div>
</app-modal-dialog> -->