.cards-header h2{
    margin-top: 10rem;
  }
  
  .accordion {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  
  .accordion div p {
    display: none;
    font-size: 1.1rem;
    padding: 0 0 30px;
    margin-left: 2rem;
    color: #000;
  }
  .accordion{
    padding-top:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .service-whodoit h2{
   padding-right: 1rem;
  padding-left: 1rem;
  }
  
  .all_question {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px solid #050DA8;
    background-color: #f8f8f8;
    width: 13rem;
    height: 2.6rem;
    color: #050DA8;
    align-items: center;
    justify-content: center;
    margin-top: 1.8rem;
    cursor:pointer;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .all_question:hover{
    background-color: #050DA8;
    color: #fff;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s  ease;
    -webkit-transition: background-color 0.3s  ease;
  }
  .accordion p {
    font-size: 1rem;
  }
  
  .title_block{
    text-align: center;
    font-size: 2.5rem;
    margin-top:7rem;
    margin-bottom: 1.7rem;
  }
  .how-workwe{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 62.5rem;
    margin:0 auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
      -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
  }
  .how-workwe_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .how-workwe_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 12rem; 
    margin-bottom:1rem;
    margin-right: 1rem;
  
  }
  .workwe-descr{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  .workwe-header{
        font-weight: bold;
        text-align: center;
        margin-bottom:0;
        margin-top: 2rem;
  }
  
  .workwe_img{
    height: 3.7rem;
  }
  .workwe_imgpr{
    height: 3.7rem;
    margin-top:1.2rem;
  }
  .descr_of_title{
    font-size: 1.25rem;
      text-align: center;
      max-width: 35rem;
      margin: 0 auto 1.5rem auto;
  }
  .text_history_cont{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
      -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
     justify-content: space-between;
  }
  .history_container{
     max-width: 62.5rem;
     margin: 0 auto;
  }
  .left_cont p {
    margin-bottom: 0.5rem;
  }
  
  .left_cont p {
    text-align: left;
  }
  .subtitle_history {
    font-size: 1.375rem;
    font-weight: bold;
  }
  .history_container img{
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .img_smarthouse{
    margin-bottom: 1rem;
  }
  .service-how_need{
    text-align: center;
  }
  .service-wyit,
  .service-equipment{
    text-align: center;
  }
  .service-wyit_img{
    margin: 3rem auto 0 auto;
    max-width: 714px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .service-whodoit{
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .left_cont p{
    margin-bottom: 0.5rem;
  
  }
  .time_plant{
    font-size: 0.875rem;
  }
  .category{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 1.3rem;
    max-width: 25rem;
  }
  .descr_history{
    margin-top:0;
  }
  .category img{
    height: 2rem;
    max-width: 2rem;
    margin-right: 1rem;
  }
  .case{
    margin-bottom: 1.7rem;
  }
  .logo_cont{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
        -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
     justify-content: center;
     max-width: 62rem;
     margin: 0 auto;
  }
  
  .company-mob_img{
    display: none;
  }
  
  img{
    width: 100%;
    height: auto;
  }
  .descr_of_title1{
    font-size: 1.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
      text-align: center;
      max-width: 40rem;
      margin: 0 auto 1.5rem auto;
  }
  .service-whodoit{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    max-width: 50rem;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin:0 auto;
  }
  .mob-cards_items{
    max-width: 768px;
    margin: 0 auto;
    display: none;
  }
  @media(max-width:768px){
    .mob-cards_items{
      display: block;
    }
  
  }
  .logo_cont img{
    height: 100%;
  }
  .cardis__selector{
    padding-left: 0;
  }
  
  .cardis__selector li{
    list-style: none;
  }
  
  .history_container .prev-sl{
    right: -3rem;
  }
  
  .history_container .next-sl{
    left: -3rem;
  }
  
  .history_container .next-sl,
  .history_container .prev-sl{
    top: 35%;
  }
  
  
  /*============team===========*/
  .service-whodoit{
    text-align: center;
  }
  .accordion_cont.active h3{
    text-decoration: none;
  }
  /*=====media=======*/
  @media (max-width: 1112px){
    .history_container .prev-sl{
      right: -2rem;
    }
    .history_container .next-sl{
      left: -2rem;
    }
  }
  @media (max-width: 1080px){
    .history_container .prev-sl{
      right: 0rem;
    }
  
    .history_container .next-sl{
      left: 0rem;
    }
  }
  
  @media (max-width: 870px){
    .prev-sl{
      right:  0px;
    }
  
    .next-sl{
      left:0px;
    }
  }
  
  @media (max-width: 768px) 
  { 
    
    .cards-header h2{
      font-size: 2rem;
      margin-right: 2.2rem;
      margin-left: 2.2rem;
    }
  
    .logo_cont .company-img{
       display: none;
    }
    @media (max-width: 990px){
    .cards-header h2 {
        margin-top: 8rem;
    }
  }
  @media (max-width: 768px){
  .cards-header h2 {
      font-size: 2rem !important;
      margin-right: 1.3rem;
      margin-left: 1.3rem;
  }
  }
    .how-workwe{
      margin-top: 2rem;
    }
  
  .title_block{
      font-size: 2rem;
      margin-top: 5rem;
    }
    
    .descr_of_title1{
      font-size: 1.2rem;
    }
    .company-mob_img{
      display: block;
      max-width: 18.75rem;
    }
      .cards__container{
      display: none;
    } 
  }
  
  @media (max-width: 560px) {
  .accordion_cont h3:after{
  display: none;
  }
  .accordion_cont h3{ 
  text-decoration: underline;
  }
  }
  
    
  @media (min-width: 768px) {
      .page-container {
    background-color: #f8f8f8;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
    }
  
  @media (max-width: 350px){
    .cards__selector{
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  @media (max-width: 715px){
    .text_history_cont{
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .left_cont{
      margin: 0 auto 2rem auto;
      width: 100%;
      max-width: 25rem;
    }
  }
  .how-workwe_2blcok{
    display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
    justify-content: center;
  }
  /*===============mobile-cards========================*/
  .cardis__selector{
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .mobile-cards a{
    max-width: 279px;
    margin: 1.5rem 0.5rem;
  }
  .cont_mob_filter{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .cardis__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
    background-image: url("/assets/img/ill-07.svg");
    background-size: 239px 230px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 239px;
    width: 100%;
    height: 230px; }
  
  .cardis__item{
    max-width: 250px;
  }
  
  .cardis__selector li{
    cursor: pointer;
  }
  
  .cardis__item.actives{
    display: flex;
  }
  .cardis__item.js-cardi-1::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-02.svg"); }
  
  .cardis__item.js-cardi-2::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-01.svg"); }
  
  .cardis__item.js-cardi-3::before {
    background-color: #2bba92;
    background-color: #fff;
    background-image: url("/assets/img/ill-05.svg"); }
  
  .cardis__item.js-cardi-4::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-15.svg"); }
  
  .cardis__item.js-cardi-5::before {
    background-color: #0f0d5e;
    background-color: #fff;
    background-image: url("/assets/img/ill-04.svg"); }
  
  .cardis__item.js-cardi-6::before {
    background-color: #e8b432;
    background-color: #fff;
    background-image: url("/assets/img/ill-06.svg"); }
  
  .cardis__item.js-cardi-7::before {
    background-color: #fff; 
    background-image: url("/assets/img/ill-09.svg");}
  
  
  .cardis__item.js-cardi-10::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-10.svg"); }
  
  .cardis__item.js-cardi-11::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-11.svg"); }
  
  .cardis__item.js-cardi-12::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-12.svg"); }
  
  .cardis__item.js-cardi-14::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-13.svg"); }
  
  .cardis__item.js-cardi-15::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-14.svg"); }
  
  .cardis__item.js-cardi-16::before {
    background-color: #fff;
    background-image: url("/assets/img/ill-16.svg"); }
  
  .cardis__item:hover {
    -webkit-box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14); }
  /*===============/.Карточки========================*/
  .item_cont4,.item_cont3{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  a.active{
    color: #D0021B;
  }
  .cards {
    margin-top: 3.4375rem; }
  
  .cards-header{
    max-width: 51rem;
    margin: 0 auto;
  }
  
  .cards-header h2{
    font-size: 2.8125rem;
    text-align: center;
  }
  
  .cards-header p{
    font-size: 1.25rem;
    text-align: center;
    max-width: 35rem;
    margin: 0 auto 1.6875rem auto;
  }
  
  .cards__container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    min-height: 500px; }
  
  @media (min-width: 1000px) {
    .cards__container {
      width: 1000px; } }
  
  @media (min-width: 1400px) {
    .cards__container {
      max-width: 1400px; } }
  
  -item {
      vertical-align: middle;
      line-height: 38px;
      border: 1px solid #050DA8;
      text-align: center;
      font-weight: bold;
      color: #050DA8;
      /*border-right: none;*/
      padding-left: 18px;
      padding-right: 18px; }
    -item:last-child {
      border-right: 1px solid #050DA8; }
    .cards__selector-item.active {
      color: #fff;
      background-color: #050DA8;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; }
    .cards__selector-item.active a {
      color: #fff;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; }
  .cards__selector-itemQ{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cards__selector-itemQ.q-link-5{
    border-right: 1px solid #050DA8;
  }
  .cards__selector-itemQ.active{
    background-color: #050DA8;
  }
  .cards__selector-itemQ.active a{
     color: #fff !important;
    font-family: 'Proxima Nova Lt';
      font-weight: 600;
  }
  .cards__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  
  .cards__item,
  .cardis__item{
    width: 279px;
    height: 420px;
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 240px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    position: relative; }
  @media(max-width: 660px){
    .item_cont3,.item_cont4{
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .cards__selector{
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .cards__selector-itemQ{
      border-left: none;
    }
    .cards__selector-itemQ.q-link-2,.cards__selector-itemQ.q-link-3,.cards__selector-itemQ.q-link-5{
      border-top: 1px solid #050DA8;
      border-left: none !important;
    }
  }
  @media(max-width: 893px){
    .item_cont3{
      border: 1px solid #050DA8;
    }
     .item_cont4{
      border: 1px solid #050DA8;
      border-top: none;
    }
    .cards__selector-itemQ.q-link-5{
      border-right: none;
      border-left: 1px solid #050DA8;
    }
    .cards__selector-itemQ.q-link-3,.cards__selector-itemQ.q-link-2{
      border-left: 1px solid #050DA8;
    }
    .cards__selector-itemQ.q-link-3,.cards__selector-itemQ.q-link-2,.cards__selector-itemQ.q-link-1,.cards__selector-itemQ.q-link-4,.cards__selector-itemQ.q-link-5{
      height: 2rem;
    }
  }
  @media(min-width: 900px){
    .cards__selector-itemQ {
      border: 1px solid #050DA8;
      border-right: none;
    }
  }
  @media(max-width: 768px){
    .cards__selector-item.js-linik-1{
      border-top:none;
      border-left:none;
      border-bottom: none;
    }
     .cards__selector-item.js-linik-2{
      border:none;
    }
     .cards__selector-item.js-linik-3{
      border-left: none;
      border-top: none;
      border-bottom: none;
    }
     .cards__selector-item.js-linik-4{
      border: none;
    }
    .cards__selector-item{
      width: 12rem;
      height: 2.5rem;
      text-align: center;
      border: 1px solid #050DA8;
      align-items: center;
      justify-content: center;
      color: #050DA8;
    }
  }
  @media (min-width: 768px) {
    .cards__item {
      margin-right: 15px;
      display: none; }
    .cards__item.active {
      display: block; } }
  
  @media (min-width: 1000px) {
    .cards__item {
      margin-right: 15px; } }
  
  .cards__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-07.svg");
    background-size: 239px 230px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 239px;
    height: 230px; }
  
  .cards__item.js-card-1::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-02.svg"); }
  
  .cards__item.js-card-2::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-01.svg"); }
  
  .cards__item.js-card-3::before {
    background-color: #2bba92;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-05.svg"); }
  
  .cards__item.js-card-4::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-08.svg"); }
  
  .cards__item.js-card-5::before {
    background-color: #0f0d5e;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-03.svg"); }
  
  .cards__item.js-card-6::before {
    background-color: #e8b432;
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-04.svg"); }
  
  .cards__item.js-card-7::before {
    background-color: #fff; 
    background-image: url("/assets/img/ill/ill-06.svg");}
  
  
  .cards__item.js-card-10::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-09.svg"); }
  
  .cards__item.js-card-11::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-10.svg"); }
  
  .cards__item.js-card-12::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-12.svg"); }
  
  .cards__item.js-card-14::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-13.svg"); }
  
  .cards__item.js-card-15::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-14.svg"); }
  
  .cards__item.js-card-16::before {
    background-color: #fff;
    background-image: url("/assets/img/ill/ill-11.svg"); }
  
  .cards__item:hover {
    -webkit-box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14); }
  
  .cards__title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 8px; }
  
  .cards__title {
    margin: 0;
    font-size: 20px;
    text-align: left;
    margin-right: 40px;
    color: #000; }
  
  .cards__price {
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-size: 20px;
    color: #050DA8;
    margin-bottom: 10px; }
  
  .cards__text {
    margin: 0;
    color: #000;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-align: left;
    padding-bottom: 22px; }
  
  @media (min-width: 768px) {
    .cards__selector {
      justify-content:center;
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 38px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 52px; }
    .cards__selector a {
      font-size: 16px;
      color: #050DA8;
      font-family: 'Proxima Nova RG';
      font-weight: bold; } }
  
  @media (min-width: 768px) {
    .cards__selector-item {
      vertical-align: middle;
      line-height: 38px;
      border: 1px solid #050DA8;
      border-right: none;
      padding-left: 18px;
      padding-right: 18px; }
    .cards__selector-item:last-child {
      border-right: 1px solid #050DA8; }
    .cards__selector-item.active {
      color: #fff;
      background-color: #050DA8;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; }
    .cards__selector-item.active a {
      color: #fff;
      font-family: 'Proxima Nova Lt';
      font-weight: 600; } }
  
  @media (max-width: 1016px){
    .cards__container{
      max-width: 1000px;
      width: 100%;
    }
  }
  
  @media (max-width: 742px){
    .cardis__item::before{
      left: 10px;
    }
  }
  
  @media (max-width: 720px){
    .cardis__item::before{
      left: 0;
    }
  }
  
  @media (max-width: 611px){
    .js-linik-4{
      border-right: 1px solid #050DA8;
    }
  }
  @media (max-width: 430px){
  .cards__selector-item{
    width: 12rem;
    font-size: 1rem;
    }
  }
  @media (max-width: 405px){
  .cards__selector-item{
    width: 11rem;
    font-size: 0.9rem;
    }
  }
  @media (max-width: 372px){
  .cards__selector-item{
    width: 9rem;
    font-size: 0.9rem;
    }
  }
  @media (max-width: 508px){
    .js-linik-3{
      border-right: 1px solid #050DA8;
    }
  }
  
  @media (max-width: 375px){
    .js-linik-2{
      border-right: 1px solid #050DA8;
    }
  }
  