<app-landing-menu>
  <a (click)="scroll(resheniya)">Решения</a>
  <a (click)="scroll(how_we_work)">Как это работает</a>
  <a (click)="scroll(history)">Истории</a>
  <a (click)="scroll(quest)">Отвечаем</a>
  <a (click)="scroll(people)">Люди</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <div>

      <main>
        <section #resheniya class="cards">
          <div class="cards-header">
            <h2>Умные решения<br>для вашего дома</h2>
            <p class="descr_of_title">Все, чего не хватает вашему дому — в одном клике от вас. Приедем, установим,
              научим
              пользоваться.</p>
          </div>
          <app-categories-of-services></app-categories-of-services>
        </section>



        <!-- /.mob-cards_items -->
        <h2 #how_we_work class="title_block">Как это работает</h2>
        <section class="how-workwe">
          <div class="how-workwe_items">
            <div class="how-workwe_2blcok">
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/profi.svg" alt="">
                <p class="workwe-header" class="workwe-header">Только профи</p>
                <p class="workwe-descr">Все кликеры проверены временем и строгими экзаменами</p>
              </div>
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/one_day.svg" alt="">
                <p class="workwe-header">Приедем завтра</p>
                <p class="workwe-descr">Установка возможна уже на следующий день после заказа</p>
              </div>
            </div>
            <!-- /.how-workwe_2blcok -->
            <div class="how-workwe_2blcok">
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/fast.svg" alt="">
                <p class="workwe-header">Сделаем быстро</p>
                <p class="workwe-descr">В среднем работа занимает около пары часов</p>
              </div>
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/clean.svg" alt="">
                <p class="workwe-header">И чисто</p>
                <p class="workwe-descr">Ремонт квартиры не потребуется. Да и уборка тоже</p>
              </div>
            </div>
            <!-- /.how-workwe_2blcok -->
          </div>
          <div class="how-workwe_items">
            <div class="how-workwe_2blcok">
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/safety.svg" alt="">
                <p class="workwe-header">Надежное оборудование</p>
                <p class="workwe-descr">Лучшее, что есть на рынке по соотношению «цена-качество».</p>
              </div>
              <div class="how-workwe_item">
                <img class="workwe_img" src="/assets/img/icon/support.svg" alt="">
                <p class="workwe-header">Всегда на связи</p>
                <p class="workwe-descr">Звоните и пишите нам хоть каждый день — с 9.00 до 22.00</p>
              </div>
            </div>
            <!-- /.how-workwe_2blcok -->
            <div class="how-workwe_2blcok">
              <div class="how-workwe_item">
                <img class="workwe_imgpr" src="/assets/img/icon/pay.svg" alt="">
                <p class="workwe-header">Один платеж</p>
                <p class="workwe-descr">Цена известна сразу и включает оборудование, установку и техподдержку</p>
              </div>
              <div class="how-workwe_item">
                <img class="workwe_imgpr" src="/assets/img/icon/two_week.svg" alt="">
                <p class="workwe-header">Две недели на возврат</p>
                <p class="workwe-descr">Не устроит работа гаджетов — вернем деньги без лишних вопросов</p>
              </div>
            </div>
            <!-- /.how-workwe_2blcok -->
          </div>
          <!-- /.how-workwe_items -->
        </section>
        <!-- /.how-workwe -->
        <h2 #history class="title_block">Истории из жизни</h2>
        <p class="descr_of_title1">Мы сделали десятки заказов и установили сотни устройств. Вот несколько примеров
          нашей
          работы.</p>
        <section class="history_container">
          <ngx-slick-carousel arrows="true" [config]="slidesHistoryConfig">
            <div ngxSlickItem class="sl-hostory slide">
              <div class="img_smarthouse">
                <img class="case" src="/assets/img/render_history/kvartira_na_tverskoy.jpg" alt="">
              </div>
              <div class="text_history_cont">
                <div class="left_cont">
                  <p class="subtitle_history">Трехкомнатная квартира на Тверской</p>
                  <p>Стоимость: 49 000 руб.</p>
                  <p class="time_plant">Время установки: 2,5 часа</p>
                </div>
                <div class="right_cont">
                  <div class="category">
                    <img src="/assets/img/icon/fire.svg" alt="">
                    <p class="descr_history"><strong>Защита от пожара: </strong>Предупредит о задымлении у вас дома:
                      сработает
                      сирена и придет уведомление на телефон. Если подключить к охранной компании - еще и группа
                      быстрого
                      реагирования
                      приедет.
                    </p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/sound.svg" alt="">
                    <p class="descr_history"><strong>Саундбар: </strong>Звук как кинотеатре на вашем телевизоре.</p>
                  </div>

                </div>
              </div>
            </div>
            <!-- /.sl-hostory -->
            <div ngxSlickItem class="sl-hostory slide">
              <div class="img_smarthouse">
                <img class="case" src="/assets/img/render_history/kvartira_hamovniki.jpg" alt="">
              </div>
              <div class="text_history_cont">
                <div class="left_cont">
                  <p class="subtitle_history">Двухкомнатная квартира в Хамовниках</p>
                  <p>Стоимость: 25 000 руб.</p>
                  <p class="time_plant">Время установки: 4 часа</p>
                </div>
                <div class="right_cont">
                  <div class="category">
                    <img src="/assets/img/icon/appltv.svg" alt="">
                    <p class="descr_history"><strong>AppleTV: </strong>Получите доступ к зарубежным и российским
                      библиотекам
                      Netflix, ivi.ru, Amediateka и сотням других приложений. Смотрите фильмы и сериалы в невероятном
                      качестве
                      4K. Показывайте снимки с iPhone на большом экране.</p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/steel.svg" alt="">
                    <p class="descr_history"><strong>Защита от воров: </strong> Защитит ваш дом от непрошенных гостей.
                      В
                      случае
                      проникновения, вы получите сообщение и сработает сирена. Опционально может приехать вооруженная
                      бригада.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.sl-hostory -->
            <div ngxSlickItem class="sl-hostorys slide">
              <div class="img_smarthouse">
                <img class="case" src="/assets/img/render_history/kvartira_ostankino.jpg" alt="">
              </div>
              <div class="text_history_cont">
                <div class="left_cont">
                  <p class="subtitle_history">Студия в Останкино</p>
                  <p>Стоимость: 17 000 руб.</p>
                  <p class="time_plant">Время установки: 3 часа</p>
                </div>
                <div class="right_cont">
                  <div class="category">
                    <img src="/assets/img/icon/water.svg" alt="">
                    <p class="descr_history"><strong>Защита от протечек: </strong>Предупредит, если вас затопят соседи,
                      в
                      доме
                      прорвет трубу или дети забудут закрыть кран. Вы и члены вашей семьи немедленно получат
                      уведомление
                      на
                      смартфон.
                    </p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/video.svg" alt="">
                    <p class="descr_history"><strong>Видеонаблюдение внутреннее: </strong> Будьте уверены, что с вашей
                      квартирой
                      и детьми все в порядке, когда вы не дома.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.sl-hostory -->
            <div ngxSlickItem class="sl-hostory slide">
              <div class="img_smarthouse">
                <img class="case" src="/assets/img/render_history/stidia_himki.jpg" alt="">
              </div>
              <div class="text_history_cont">
                <div class="left_cont">
                  <p class="subtitle_history">Студия в Химках</p>
                  <p>Стоимость: 18 000 руб.</p>
                  <p class="time_plant">Время установки: 2 часа</p>
                </div>
                <div class="right_cont">
                  <div class="category">
                    <img src="/assets/img/icon/steel.svg" alt="">
                    <p class="descr_history"><strong>Тревожная кнопка: </strong>Пожилые люди или дети всегда смогут
                      позвать
                      на помощь, если что-то случится.</p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/dy.svg" alt="">
                    <p class="descr_history"><strong>Универсальный пульт управления: </strong>Всю огромную кучу пультов
                      в
                      доме
                      можно будет убрать в тумбочку, а пользоваться удобным мобильным приложением.</p>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="sl-hostory slide">
              <div class="img_smarthouse">
                <img class="case" src="/assets/img/render_history/dom.jpg" alt="">
              </div>
              <div class="text_history_cont">
                <div class="left_cont">
                  <p class="subtitle_history">Частный дом в Черкизово</p>
                  <p>Стоимость: 120 000 руб.</p>
                  <p class="time_plant">Время установки: 6 часов</p>
                </div>
                <div class="right_cont">
                  <div class="category">
                    <img src="/assets/img/icon/video.svg" alt="">
                    <p class="descr_history"><strong>Видеонаблюдение на участке: </strong>Ваш частный дом и придомовая
                      территория
                      всегда под присмотром.</p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/wifi.svg" alt="">
                    <p class="descr_history"><strong>Усиление сигнала wi-fi: </strong>Гарантирует стабильный и быстрый
                      интернет</p>
                  </div>
                  <div class="category">
                    <img src="/assets/img/icon/audio.svg" alt="">
                    <p class="descr_history"><strong>Беспроводная аудиосистема: </strong>Слушайте музыку и аудиокниги с
                      телефона,
                      через интернет радио или стриминговые сервисы. Несколько колонок можно объединить и слушать одну
                      и
                      ту
                      же композицию по всему дому.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.sl-hostory -->
          </ngx-slick-carousel>


        </section>
        <h2 class="title_block">Наше оборудование</h2>
        <p class="descr_of_title1">Мы устанавливаем гаджеты, в работе которых уверены на 100%. Для каждой конкретной
          задачи
          мы выбрали лучшее на рынке решение по соотношению “цена-качество”.</p>
        <div class="logo_cont">
          <img class="company-img" src="/assets/img/company.jpg" alt="">
          <img class="company-mob_img" src="/assets/img/company-mob.jpg" alt="">
        </div>
        <h2 #quest class="title_block">Отвечаем</h2>
        <section class="accordion">
          <app-accordion [title]="'Что такое Clicker?'">
            <p>Это сервис по установке гаджетов, делающих дом безопаснее и удобнее, — от защиты от воров и
              видеонаблюдения
              до саундбаров и AppleTV. Оборудование уже подобрано — вам осталось только выбрать нужные функции и ждать
              наших
              специалистов.
            </p>
          </app-accordion>
          <app-accordion [title]="'В каких городах вы работаете?'">
            <p>В Москве и Подмосковье.</p>
          </app-accordion>
          <app-accordion [title]="'Какие гаджеты вы устанавливаете?'">
            <p>Совместимые между собой и лучшие по соотношению «цена-качество». Мы проверяли их на надежность,
              функциональность,
              простоту использования и выбрали для каждого решения один лучший вариант. Чтобы вам не пришлось
              разбираться
              в
              потоках информации: просто заказываете и пользуетесь.</p>
          </app-accordion>
          <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
            <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
              только
              аттестованные кликеры — так мы называем обученных специалистов.</p>
          </app-accordion>
          <app-accordion [title]="'Что входит в стоимость?'">
            <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
              находитесь
              за МКАД, мы добавим к стоимости 500 рублей.</p>
          </app-accordion>
          <a class="all_question" type="button" [routerLink]="['../','faq']">Все вопросы</a>
        </section>
        <section #people class="service-whodoit">
          <h2 class="title_block">Кто все это сделает?</h2>
          <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
            экзаменами.
            Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
          <app-workers></app-workers>
          <!-- /.slider-workers -->
        </section>

        <h2 class="title_block">Как сделать заказ?</h2>
        <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
          проконсультируем
          по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>

        <app-calculate-price-button></app-calculate-price-button>
      </main>


    </div>
  </div>
</app-landing-page>