<app-landing-menu [closable]="true"></app-landing-menu>
<app-landing-page>
  <div class="doc_container">
    <h3>Политика защиты персональных данных</h3>
    <p>Настоящая Политика защиты персональных данных применяется ко всем Пользователям информационных систем и
      веб-сайтов (Продуктов)
      сервиса clicker.one Дополнительные правила о защите персональных данных могут применяться к определённым
      категориям Пользователей
      (например, Специалистам). Пользователи прямо соглашаются на обработку своих персональных данных, как это описано
      в настоящей
      Политике. Обработка означает любую операцию с персональными данными независимо от используемых средств и
      процедуры, в
      частности сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение и извлечение
      персональных
      данных, а также их использование, передачу, распространение, предоставление, доступ, обезличивание, блокирование,
      удаление
      и уничтожение. Сервис clicker.one предоставляется ИП “Соболев Олег Александрович”, дочерними компаниями,
      концессионерами,
      подрядчиками и лицензиатами (связанные компании). Компания является контролёром данных, отвечает за цели
      обработки персональных
      данных Пользователей и может передавать персональные данные или поручать их обработку любой из связанных компаний
      в порядке,
      предусмотренном законодательством.</p>
    <h3>Сбор персональных данных</h3>
    <p>Компания, предлагая свои Продукты, нуждается в сведениях о коммуникационных реквизитах Пользователей. При этом
      Компания
      запрашивает у Пользователя минимальный объём этих сведений, чтобы поддерживать связь с клиентом:<br> -имя
      Пользователя;<br> -мобильный
      телефон;
      <br> -адрес электронной почты.<br> В процессе обработки заказов Компания может собирать и хранить следующую
      личную информацию,
      включая персональные данные: адрес и иную контактную информацию (в зависимости от используемых Продуктов), при
      оплате
      через сервис clicker.one — финансовую информацию, такую как номера кредитных карт и банковских счетов; сообщения,
      направляемые
      с использованием Продуктов, и сообщения, направляемые в Компанию; иную информацию о взаимодействии Пользователя с
      информационными
      системами Компании и её партнёров, результаты сбора статистики посещений сайтов Компании и общедоступной
      информации о
      программах и устройствах, используемых для такового доступа, включая данные о геолокации или IP-адресе
      Пользователя;
      дополнительную информацию, которую Компания запрашивает у Пользователей для удостоверения их личности (например,
      для
      сертификации Специалистов Компания может попросить Специалиста прислать копии удостоверения личности, документов
      о получении
      образования или иных соответствующих ситуации документов для подтверждения личности и профессиональных сведений о
      Специалисте).</p>
    <h3>Использование</h3>
    <p>Главная цель Компании при сборе персональных данных — предоставление Пользователям безопасных и эффективных
      Продуктов.
      Пользователи соглашаются с тем, что Компания также может использовать их персональные данные для:<br>
      -предоставления
      услуг и клиентской поддержки по запросу Пользователей;<br> -исполнения соглашений с Пользователями;<br>
      -разрешения споров,
      сбора отзывов и выявления неисправностей;<br> индивидуальной настройки, анализа и совершенствования услуг,
      информационного
      наполнения и рекламы Продуктов; информирования Пользователей о Продуктах, целевом маркетинге, обновлении услуг и
      рекламных
      предложениях на основании информационных предпочтений Пользователей; рассылки индивидуальных маркетинговых
      сообщений
      посредством электронной почты и SMS (от чего Пользователи могут отказаться в любой момент, изменив свои
      информационные
      предпочтения); сравнения персональных данных для подтверждения их точности и проверки их третьими сторонами в
      случаях,
      предусмотренных законодательством.</p>
    <h3>Маркетинг</h3>
    <p>Компания не продаёт и не предоставляет персональные данные Пользователей третьим лицам для маркетинговых целей,
      не предусмотренных
      Условиями использования, без прямого согласия Пользователей. Компания может объединять обезличенные данные с иной
      информацией,
      полученной от третьих лиц, и использовать их для совершенствования и персонификации услуг, информационного
      наполнения
      и рекламы. Компания может также предоставлять персональные данные Пользователей: провайдерам услуг, которые
      оказывают
      предусмотренное соглашениями содействие в предоставлении Продуктов (например, расследование мошенничеств, сбор
      платежей,
      обслуживание клиентов, услуги консультантов); третьим лицам, которым Пользователи прямо просят Компанию направить
      свои
      персональные данные (или о которых Пользователи прямо уведомлены иным образом и соглашаются при использовании
      специальных
      услуг); правоохранительным органам, иным государственным органам или третьим лицам в ответ на запрос информации в
      рамках
      расследования уголовных дел, иной противоправной деятельности или любой деятельности, которая может повлечь
      привлечение
      к ответственности Компании или её Пользователей. Не ограничивая вышеизложенное, стараясь уважать личную
      информацию Пользователей,
      Компания не будет предоставлять персональные данные любым лицам, включая уполномоченные государственные органы,
      без запроса,
      оформленного в строгом соответствии с законом.</p>
    <h3>Куки-файлы</h3>
    <p>Компания может использовать куки-файлы (cookies) и веб-маяки (beacons) для помощи в анализе потока информации,
      индивидуальной
      настройки услуг, информационного наполнения и рекламы, а также для измерения эффективности сайтов и обеспечения
      надёжности
      и безопасности, с целью исследований рынка, отслеживания доходов, а также для улучшения функциональности веб-
      сайтов,
      мониторинга выполнения настоящих условий, охраны законных прав и интересов. Несмотря на то, что куки-файлы
      деперсонализированы,
      Пользователи всегда могут отказаться от их сохранения, поскольку эта функция определяется настройками браузера
      Пользователя.</p>
    <h3>Безопасность</h3>
    <p>Персональные данные Пользователей хранятся в информационных системах Компании и сохраняются различными способами
      (шифрование,
      пароли, ограничение доступа связанных компаний, сотрудников и подрядчиков, физическая безопасность и т. д.) для
      защиты
      персональных данных Пользователей от несанкционированного доступа и разглашения. Информационные системы
      веб-сайтов Компании,
      осуществляющие сбор, запись, систематизацию, накопление, хранение, уточнение, обновление, изменение и извлечение
      персональных
      данных Пользователей, размещаются в России; при первичной регистрации Пользователей и актуализации персональных
      данных
      трансграничная передача персональных данных не осуществляется, в исключительных случаях заменяется средствами
      удалённого
      доступа для неавтоматизированной обработки либо, если такая передача необходима в связи с законами
      соответствующих стран
      нахождения Пользователей, она осуществляется в соответствии с Конвенцией Совета Европы о защите физических лиц
      при автоматизированной
      обработке персональных данных. Использование, передача, распространение, предоставление, доступ, обезличивание,
      блокирование,
      удаление и уничтожение персональных данных Пользователей осуществляется только на основании решений
      уполномоченных представителей
      Компании в соответствии с требованиями применимого законодательства и законными интересами Пользователей.
      Компания не
      принимает решений, затрагивающих права и законные интересы Пользователей, на основании исключительно
      автоматизированной
      обработки персональных данных, за исключением случаев предоставления информации по результатам запроса,
      сделанного самим
      Пользователем с использованием интерфейса автоматизированных систем. При принятии юридически значимых решений,
      взаимодействии
      с Пользователями третьих лиц по просьбе Компании, во исполнение соглашений с Пользователями или по запросам
      Пользователей
      осуществляется неавтоматизированная обработка персональных данных в объёме, обусловленном целями такого
      взаимодействия,
      и с соблюдением требований о безопасности иных данных, не затрагиваемых обработкой.</p>
    <h3>Третьи лица</h3>
    <p>Если иное прямо не указано в настоящей Политике, настоящий документ касается только использования Компанией
      персональных
      данных, предоставленных Пользователями. Если Пользователи разглашают свои персональные данные другим лицам
      (например,
      по запросу от Специалистов или сторонних агентов), то к такому использованию и раскрытию персональных данных
      могут применяться
      иные правила. Компания советует Пользователям уточнять цели использования до предоставления своих персональных
      данных
      другим лицам.</p>
    <h3>Изменения</h3>
    <p>Компания постоянно совершенствует способы сбора, хранения и обработки данных, включая меры безопасности. В связи
      с этим,
      а также в случаях изменения законодательства о персональных данных Компания в любой момент может изменить
      настоящую Политику,
      уведомив об этом Пользователей на веб-сайтах Компании. Продолжение использования Продуктов после внесения таких
      изменений
      подтверждает согласие Пользователя с такими изменениями, если получение отдельного согласия не требуется законом.</p>
  </div>
</app-landing-page>