:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.doc_container {
    display: flex;
    margin: 0 auto;
    max-width: 62.5rem;
    flex-direction: column;
}

@media (max-width: 1100px) {
    .doc_container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 400px) {
    .doc_container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 830px) {
    h1 {
        font-size: 1.5rem;
    }
}

.doc_container a {
    font-size: 1.2rem;
    color: #050DA8;
}

.point {
    font-size: 1.5rem;
    color: #050DA8;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

@media (max-width: 830px) {
    .point {
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .point {
        font-size: 1.1rem;
    }
}