<app-landing-menu [closable]="true"></app-landing-menu>
<app-landing-page>
  <div class="doc_container">
    <h3>Область применения (предмет, принятие, изменение)</h3>
    <p>Компания предлагает вам свои Продукты при условии, что вы в соответствии с применимым к сторонам
      законодательством вправе
      заключить юридически обязательное соглашение (далее — Условия использования) и вами были осуществлены все
      необходимые
      действия в целях его заключения. С Условиями использования вам необходимо ознакомиться полностью, поскольку эти
      положения
      важны и составляют юридический документ, условия которого будут распространяться на вас как Пользователя, как
      только
      вы его примете. Предметом настоящих Условий использования являются условия использования Продуктов Компании, в
      том числе,
      но не ограничиваясь: веб-сайтов и/или сервисов, и/или служб, и/или приложений, и/или программного обеспечения,
      предоставляемых
      Компанией. C даты начала использования любого из Продуктов (веб-сайта и/или сервиса, и/или службы, и/или
      приложения)
      Компании Пользователь считается принявшим Условия использования в полном объёме, без всяких оговорок и
      исключений. В
      случае несогласия Пользователя с какими‑либо из положений Условий использования, Пользователь не вправе
      использовать
      Продукты Компании. В случае внесения Компанией изменений в Условия использования или если Пользователь начал
      использовать
      Продукты Компании, но с условиями не согласен, последний обязан прекратить использование Продуктов Компании. При
      этом
      к отношениям, возникшим в период использования Пользователем Продуктов Компании, применяются положения Условий
      использования,
      если иное не установлено дополнительно. Использование Продуктов Компании регулируется настоящими Условиями
      использования,
      а также отдельными условиями использования отдельных Продуктов и иными документами, размещёнными на официальном
      сайте
      Компании: http://clicker.one/documents и/или в информации о Продукте. Компания оставляет за собой право
      пересматривать
      Условия использования и иные правовые документы Компании в любое время без предварительного уведомления. Компания
      оставляет
      за собой право вносить любые изменения в Продукты Компании в любое время по собственному усмотрению, без любых
      (предварительных
      и последующих) уведомлений Пользователей. Вы соглашаетесь регулярно отслеживать информацию об изменениях Условий
      использования
      и других документов. Как правило, любые изменения в текстах правовых документов вступают в силу не ранее
      четырнадцати
      дней с момента публикации. Тем не менее вам стоит обратить внимание на то, что в некоторых случаях такие
      изменения будут
      применяться немедленно.
    </p>
    <h3>Надлежащее поведение</h3>
    <p>
      В случае несоблюдения Пользователями Компании настоящих Условий использования и/или иных правовых документов,
      регламентирующих
      права и обязанности Пользователей, а также применимого законодательства, общепринятых норм этики и морали,
      Компания имеет
      право в любой момент осуществить блокирование (временно запретить доступ к информации) Пользователя и/или удалить
      учетную
      запись Пользователя со всей информацией, содержащейся в ней, и/или информацию, размещенную в отношении и/или от
      имени
      Пользователя.
    </p>
    <h3>Оплата услуг</h3>
    <p>В некоторых случаях использование Продуктов Компании возможно только после оплаты. В таких ситуациях к вам
      применяются
      условия отдельных документов, регламентирующих условия оплаты за использование Продуктов Компании.
    </p>
    <h3>Отказ от использования Продуктов</h3>
    <p>
      Пользователь в любое время вправе прекратить использование Продуктов Компании и/или заявить об отказе от
      использования в
      случае, если обязательный срок уведомления о предстоящем отказе от использования был оговорён в документах,
      регламентирующих
      правоотношения сторон. В специально оговорённых случаях Пользователь обязан оплатить Продукты Компании в
      соответствии
      с документами, регламентирующими правоотношения сторон.
    </p>
    <h3>Передача прав и обязанностей</h3>
    <p>Компания в любое время по собственному усмотрению и без предварительного уведомления Пользователя вправе
      передать полностью
      или частично свои права и обязанности, вытекающие из настоящих Условий использования и иных правовых документов,
      применимых
      к правоотношениям сторон, любому третьему лицу. Использование любого Продукта Компании означает, что вы
      соглашаетесь
      с тем, что у Компании имеется право, предусмотренное абзацем выше, а также с тем, что у вас отсутствует право
      передавать
      свои права и обязанности в соответствии с заключёнными документами и/или передавать права на использование
      Продуктов
      Компании.
    </p>
    <h3>Ограничение ответственности</h3>
    <p>Компания, предоставляя Продукты, предпринимает все возможные меры для ожидаемого уровня функциональности и
      поддержки.
      Однако Компания обращает ваше внимание на существующее ограничение ответственности. Вы соглашаетесь и осознаёте,
      что
      пользуетесь Продуктами Компании исключительно на свой риск: это означает, что Продукты Компании, в том числе
      материалы
      и информация, предоставляются «как есть», без гарантий и ручательств какого бы то ни было рода, за исключением
      тех гарантий,
      которые предоставлены Компанией явным и непосредственным образом. В остальном Компания не предоставляет
      косвенных, подразумеваемых,
      обусловленных законодательством или иных гарантий, ручательств, в том числе гарантий относительно возможности
      коммерческого
      использования результатов услуг, пригодности их для каких‑либо определённых целей и ненарушения чьих‑либо
      имущественных
      прав и/или прав на результаты интеллектуальной деятельности. Мы понимаем, что, согласно применимому
      законодательству,
      в некоторых случаях: для потребителя могут быть предусмотрены дополнительные права; может не допускаться
      ограничение
      ответственности. Вместе с тем Компания не отвечает: за несоответствие Продуктов Компании истинным целям
      Пользователя;
      за любой ущерб, связанный с использованием Продуктов Компании; за действия других Пользователей Продуктов
      Компании, в
      том числе в случае несоблюдения Пользователями Компании настоящих Условий использования и/или иных правовых
      документов;
      за качество и/или сроки предоставления Продуктов; за непредоставление услуг, информации или имущества от иных
      Пользователей
      Компании и/или третьих лиц. Компания не обещает и не гарантирует, что информация, полученная посредством
      использования
      Продуктов, будет во всех случаях правильной, новейшей или полной; в Продуктах могут содержаться технические
      неточности
      и типографские опечатки. Компания не даёт никаких заверений или гарантий относительно сроков устранения
      каких‑либо проблем
      и/или их последствий, отмеченных Пользователями. Третьи лица, с которыми Компания сотрудничает в соответствии с
      договорами,
      не предоставляют никаких явных или подразумеваемых гарантий или условий в отношении используемых вами Продуктов
      Компании,
      не несут ответственности за упущенную выгоду, недополученный доход, потерю данных, финансовые убытки, а также за
      косвенный,
      специальный, опосредованный, штрафной или карательный ущерб, если конкретные гарантии или условия не были
      предоставлены
      Пользователю указанными лицами.</p>
    <h3>Коммерческое использование Продуктов Компании</h3>
    <p>Если вы используете Продукты Компании от имени своей компании, это означает, что компания принимает данные
      Условия использования.
      Последняя обязуется защищать Компанию от любых судебных исков, процессов и разбирательств, связанных с
      использованием
      Продуктов Компании и/или нарушением вами данных Условий использования, а также иных правовых документов,
      применимых к
      сторонам, а также от любой ответственности.
    </p>
    <h3>Использование материалов Компании</h3>
    <p>Любое иное использование информации, размещаемой, распространяемой и предоставляемой в Продуктах Компании и/или
      с помощью
      последних разрешается при условии соблюдения применимого к сторонам законодательства и на условиях, определяемых
      соответствующими
      официальными документами Компании. С подробной информацией вы можете ознакомиться на странице
      http://clicker.one/documents
      Тем не менее хотим обратить ваше внимание на то, что запрещается копирование, воспроизведение, переиздание,
      выгрузка,
      размещение, передача, распространение любого Продукта и всего находящегося в нём контента, а также их
      использование для
      создания производных Продуктов без получения предварительного письменного согласия от Компании за исключением
      того, что
      Компания предоставляет вам неисключительное, не подлежащее передаче другим лицам, ограниченное разрешение на
      получение
      доступа к Продукту на условиях, изложенных в настоящих Условиях использования и иных правовых документах,
      применимых
      к сторонам. Все ссылки на сайт Компании должны быть утверждены Компанией в письменной форме, за исключением того,
      что
      Компания даёт согласие в отношении ссылок, в которых ссылка и страницы, активируемые этой ссылкой: не создают
      фреймов
      вокруг каких‑либо страниц на данном сайте Компании и не используют никаких иных методов, которые бы каким‑либо
      иным образом
      изменяли визуальное представление или внешний вид контента на данном сайте; не вводят в заблуждение относительно
      ваших
      взаимосвязей с Компанией; не подразумевают, что Компания выражает свое одобрение или даёт рекомендации
      относительно вас,
      вашего веб-сайта либо ваших предложений об услугах или Продуктах; не создают ложное или дезориентирующее
      впечатление
      о Компании или иным образом не наносят ущерб репутации Компании, связанной с названием Компании и/или товарными
      знаками
      Компании. В качестве дополнительного условия получения разрешения на создание ссылок на данный сайт вы должны
      согласиться
      с тем, что Компания может в любой момент исключительно по своему усмотрению аннулировать разрешение на создание
      ссылок
      на данный веб-сайт. При подобных обстоятельствах вы обязуетесь незамедлительно удалить все ссылки на данный
      веб-сайт
      и прекратить использование любых товарных знаков Компании. Некоторые Продукты Компании могут содержать
      информацию, предназначенную
      только для лиц, достигших совершеннолетия и/или иного возраста, позволяющего в соответствии с применимым к
      сторонам законодательством
      использовать Продукты, о чём в соответствующих официальных документах и/или на Продуктах Компании делается
      соответствующее
      предупреждение.
    </p>
    <h3>Конфиденциальная информация</h3>
    <p>Подробнее о том, какую информацию Компания собирает о Пользователях, как обрабатывает и защищает, можно
      прочитать в
      нашей Политике конфиденциальности: http://clicker.on/documents. Обращаем ваше внимание на то, что в настоящие
      Условия
      использования включены не все положения Политики конфиденциальности, но ключевые из них приведены ниже: Вы
      осознаёте
      и соглашаетесь с тем, что использование любого из Продуктов Компании означает, что вы даёте Компании право на
      просматривание,
      сохранение, копирование и разглашение всей предоставленной информации, если это обусловлено законными
      требованиями или
      добросовестным предположением о том, что хранение, копирование или разглашение всей или части предоставленной
      информации
      действительно необходимо для: соответствия каким‑либо действующим законам, положениям, судебным процессам или
      требованиям
      правительства, имеющим исковую силу; обеспечения соблюдения настоящих Условий использования, включая отслеживание
      его
      возможных нарушений; обеспечения соблюдения иных правовых документов, применимых к сторонам, регламентирующим
      правоотношения
      сторон; обнаружения, предотвращения или принятия каких‑либо иных мер в связи с проблемами мошенничества,
      безопасности,
      в том числе, но не ограничиваясь, терроризма, экстремизма, разжигания межнациональной розни или техническими
      проблемами,
      включая, помимо прочего, фильтрацию спама, противодействия DoS-атакам; защиты от возможных нарушений прав и угроз
      собственности
      и/или безопасности Компании, Пользователей и общественности, требуемой или разрешённой применимым
      законодательством.
      Вы осознаёте, подтверждаете и соглашаетесь с тем, что техническая обработка и передача информации Продуктов
      Компании,
      в том числе предоставленной вами информации, может включать в себя передачу данных по различным сетям, в том
      числе по
      незашифрованным каналам связи сети Интернет, которая никогда не является полностью конфиденциальной и безопасной;
      соглашаетесь
      с такой передачей в рамках сотрудничества с Компанией. Вы также понимаете, что любое сообщение и/или информация,
      отправленные
      посредством Продуктов Компании, могут быть несанкционированно прочитаны и/или перехвачены третьими лицами даже
      при наличии
      специального уведомления о факте того, что пересылка информации является зашифрованной, и даёте согласие на любую
      передачу
      информации за пределы страны, в которой данная информация была получена, и/или страны, чей закон применим к
      возникшим
      правоотношениям. Вы также понимаете и соглашаетесь, что в случае предоставления вам доступа к учётной записи
      третьими
      лицами доступ к учётной записи и его содержанию имеется также у лица, предоставившего доступ, которое также
      вправе приостанавливать
      доступ к учётной записи и располагает возможностью изменять его содержимое, а также настройки. Какие данные
      собираются
      Компания собирает все предоставленные Пользователем данные, а также данные, полученные от третьих лиц, при
      условии согласия
      Пользователей и/или в допустимых применимым к сторонам законодательством рамках без согласия Пользователя.
      Компания собирает
      данные о Пользователях с целью предоставления доступа к Продуктам Компании, управления и совершенствования
      Продуктов,
      информирования Пользователей о Продуктах и иной информации от имени Компании, а также защиты интересов Компании и
      в иных
      целях, не запрещённых применимым законодательством и/или согласованных с Пользователем. Используя Продукты
      Компании,
      вы осознаёте и соглашаетесь с тем, что: Компания собирает автоматически определённые сведения о Пользователях, не
      ограничиваясь
      такими, как сведения о вашем компьютере, производительности Продуктов и о том, как вы используете Продукты;
      Компания
      имеет право размещать файлы cookie на вашем компьютере с целью сбора таких сведений. Поскольку наши Продукты
      могут использоваться
      Пользователями со всего мира, собираемая Компанией информация может храниться и обрабатываться в любой стране,
      отличной
      от страны, в которой вы предоставили информацию, а также в которой есть серверы и иные носители информации,
      принадлежащие
      Компании и/или третьим лицам, с которыми у Компании заключён требуемый договор. С подробной информацией вы можете
      ознакомиться
      на странице http:/clicker.one/documents. В каких случаях Компания разглашает данные о Пользователях третьим
      лицам? Используя
      Продукты Компании, вы осознаёте и соглашаетесь с тем, что Компания вправе разглашать ваши данные третьим лицам в
      случаях:
      законных требований и запросов правоохранительных и/или судебных органов, и/или иных государственных органов в
      соответствии
      с применимым к сторонам законодательством; законных требований физических и/или юридических лиц в соответствии с
      Условиями
      использования и/или иными правовыми документами, регламентирующими сотрудничество с Компанией, и/или применимым к
      сторонам
      законодательством; если предоставляемые сведения могут иметь отношение к предполагаемой/возможной подготовке к
      совершению
      преступления / совершённому преступлению / иному правонарушению или подготовке к гражданскому процессу / в ходе
      гражданского
      процесса и, как правило, запрашиваются в соответствии с обычными процедурами, используемыми применимым
      законодательством
      и/или установленными Компанией; если требуется защита интересов Компании в случае угрозы нарушения прав и
      законных интересов,
      и/или фактического нарушения прав и законных интересов Компании, и/или Пользователей, и/или подрядчиков Компании.
      Обращаем
      ваше внимание на то, что Компания может быть обязана предоставлять запрашиваемую информацию и в иных случаях, не
      оговорённых
      в настоящем документе, но полномочным в рамках применимого к сторонам законодательства. Резервное копирование,
      неполадки
      в работе Продуктов Используя Продукты Компании, вы осознаёте и соглашаетесь с тем, что Продукты могут быть
      подвержены
      сбоям и простоям, вследствие которых Пользователям могут быть нанесены убытки, Компания не несёт ответственности
      за какие‑либо
      сбои и последующую потерю данных и иные последствия в случае сбоев и простоев Продуктов Компании. Компания
      предпринимает
      все возможные меры по недопущению сбоев и простоев Продуктов, тем не менее вам следует регулярно создавать
      резервные
      копии содержимого, хранящегося в Продуктах, которые, возможно, позволят предотвратить потерю содержимого. Ссылки
      на Продукты
      третьих лиц В Продуктах Компании могут содержаться ссылки на Продукты, которые не имеют отношения к Компании.
      Компания
      не делает никаких заявлений, не даёт никаких гарантий и не берёт на себя никаких иных обязательств какого бы то
      ни было
      рода относительно Продуктов других компаний (не Компании) или ресурсов, принадлежащих третьим сторонам. Ссылка на
      сайты,
      Продукты другой компании (не Компании) не означает, что Компания одобряет содержимое или рекомендует
      использование этих
      сайтов, либо поддерживает его владельца. Кроме того, Компания не будет являться стороной никаких сделок и не
      будет отвечать
      ни за какие сделки, которые вы можете заключить с третьими сторонами, даже если вы узнали о таких сторонах (или
      воспользовались
      ссылкой на такие стороны) на сайте Компании. Соответственно, вы признаёте и согласны с тем, что Компания не
      отвечает
      за доступность таких внешних сайтов или ресурсов и не несёт никаких обязательств ни за какой контент, услуги,
      Продукты
      и иные материалы, которые находятся на таких сайтах или в составе таких ресурсов, или которые можно оттуда
      получить.
      Перейдя на сайты третьих лиц (не Компании), даже если на них содержится логотип Компании, пожалуйста, учитывайте,
      что
      эти сайты существуют независимо от Компании и Компания никак не контролирует содержимое таких сайтов, если иное
      не зафиксировано
      на сайте Компании. Вы сами должны принимать меры предосторожности, которые вы считаете необходимыми, чтобы
      обеспечить
      защиту вашей информации от элементов деструктивного характера. Перевод Часть текста в Продуктах Компании может
      быть представлена
      не только на русском языке. Текст может быть переведён человеком или компьютерной программой без проверки
      человеком.
      Такие переводы представлены для вашего удобства, и Компания не делает никаких заявлений и не берёт на себя
      никаких обязательств
      относительно точности или полноты перевода, независимо от того, был ли перевод сгенерирован компьютером или
      выполнен
      человеком. В отношении отдельных Продуктов Компании могут действовать дополнительные или другие положения,
      условия и
      замечания. При любых противоречиях такие дополнительные или другие положения, условия и замечания будут иметь
      приоритет
      перед данными Условиями использования.
    </p>
    <h3>Применимое право и заключительные положения</h3>
    <p>Недействительность отдельных условий настоящих Условий использования, а также иных правовых документов,
      применимых к
      правоотношениям сторон, не влияет на действительность других условий правовых документов в целом. Если какое‑либо
      условие
      настоящих Условий использования, а также иных правовых документов, применимых к правоотношениям сторон, или их
      часть
      становятся недействительными полностью или частично в соответствии с каким‑либо нормативным актом или положением
      закона,
      такое условие или их часть не будут считаться частью настоящих Условий использования, а также иных правовых
      документов,
      применимых к правоотношениям сторон, и при этом не затронут юридической силы остальной части правовых документов,
      применимых
      к правоотношениям сторон. В случае если вы проживаете в Российской Федерации и/или осуществляете
      предпринимательскую
      (коммерческую) деятельность, имея зарегистрированный офис на территории Российской Федерации, то настоящие
      Условия использования
      и/или иные правовые документы, применимые к правоотношениям сторон, подлежат толкованию в соответствии с
      законодательством
      Российской Федерации, если иное не оговорено дополнительно в текстах документов, применимых к сторонам. Все иски
      в связи
      с нарушением настоящих Условий использования и иных правовых документов, применимых к правоотношениям сторон, а
      также
      иные иски в отношении защиты прав потребителей, нечестной конкуренции рассматриваются в соответствии с
      законодательством
      Российской Федерации. По всем вопросам, неурегулированным в настоящих Условиях использования и иных правовых
      документах,
      применимых к правоотношениям сторон, применяется законодательство Российской Федерации, если иное не оговорено
      сторонами
      и/или не применяется в соответствии с международным законодательством. Иные документы, размещённые по ссылке:
      http://clicker.one/documents/,
      являются приложениями к настоящим Условиям использования, применяются к правоотношениям сторон, если не оговорено
      обратное.
    </p>
  </div>
</app-landing-page>