<app-landing-menu [closable]="true"></app-landing-menu>
<app-landing-page>
  <div class="doc_container">
    <h1>Правовые документы</h1>
    <a class="point"
       [routerLink]="['privacy-policy']"> Политика защиты персональных данных</a>
    <a class="point"
       [routerLink]="['processing-information-provided']"> Заявление-согласие на обработку предоставленной информации</a>
    <a class="point"
       [routerLink]="['terms-of-use-company-products']"> Условия использования продуктов компании</a>
  </div>
</app-landing-page>