<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/dy.svg"
               alt=""></div>
        <h1>Универсальный пульт управления</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Одно мобильное приложение вместо всех пультов в доме.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/good_application.svg"
                   alt="">
              <p class="workit-icon_descr">Удобное мобильное приложение </p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/timetable.svg"
                   alt="">
              <p class="workit-icon_descr">Управляет техникой по расписанию</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/all_gadget.svg"
                   alt="">
              <p class="workit-icon_descr">Работает с телевизорами, ресиверами и прочей мультимедийной техникой</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/conditioner.svg"
                   alt="">
              <p class="workit-icon_descr">А еще с кондиционерами</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем универсальный пульт управления компании Orvibo — обладателя
          нескольких наград Red Dot Design и премии iF Design Award 2017 года.</p>
        <img class="obor"
             src="..//assets/img/orvibo.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="remote4"
               (click)="gallery.open()"></a>
            <a class="remote1"
               (click)="gallery.open()"></a>
            <a class="remote3"
               (click)="gallery.open()"></a>
          </div>

          <a class="remote5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Больше никаких пультов</h2>
          <p class="service-equipment_descr">Их заменит удобное мобильное приложение и кубик 6х6 сантиметров, который
            запомнит сигналы пультов от вашей домашней техники. Управлять телевизором, кондиционером и другими
            приборами вы сможете со смартфона.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/orvibo.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Для семьи и друзей</h2>
          <p class="service-equipment_descr">При необходимости к приложению могут подключиться ваши домашние и гости —
            и пульты искать не надо!</p>
          <img class="size_protect"
               src="..//assets/img/service_img/orvibo_phone.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Включайте кондиционер по дороге домой</h2>
          <p class="service-equipment_descr">Можно управлять не только телевизорами, ресиверами и другими мультимедиа
            устройствами. Очень удобно управлять кондиционером. А самое интересное, что приложение работает даже тогда,
            когда вас нет дома. Теперь можно включить кондиционер по дороге домой.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/orvibo_cond.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Работа по расписанию</h2>
          <p class="service-equipment_descr">Можно настроить работу устройств по расписанию, например включить
            телевизор или музыку утром вместо будильника.</p>
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 3 800 рублей. Итоговая цена зависит от количества комнат, где нужно
          управление.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько гаджетов мне нужно?'">
          <p>Гаджет может сохранять в памяти до 20 разных устройств. Обычно одного гаджета хватает на одну комнату —
            главное, чтобы он находился в прямой видимости вашей техники, ведь управляет он ей по принципу обычного
            пульта управления, отправляя инфракрасный сигнал. Дальность такого сигнала — 8 метров. Если сомневаетесь —
            мы можем взять с собой дополнительный Magic Cube. Если не понадобится — заберем обратно.</p>

        </app-accordion>
        <app-accordion [title]="'Можно ли комбинировать универсальный пульт с другими решениями?'">
          <p>Конечно! Универсальный пульт отлично дополнит систему кинотеатра на базе саундбара и Apple TV.
            Видеонаблюдение или защита от воров, пожара и протечки, напрямую с мультимедиа не связаны, но делают ваш
            дом более безопасным местом.
          </p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>