<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/soundbar_dom.svg"
               alt=""></div>
        <h1>Саундбар</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Превратит телевизор в домашний кинотеатр c эффектом присутствия: теперь только
          отчетливые диалоги, насыщенные фоновые звуки и глубокие басы спецэффектов. Саундбар не потребует прокладки
          проводов, займет немного места и впишется в любой интерьер.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/high_quality.svg"
                   alt="">
              <p class="workit-icon_descr">Отличное качество звука</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/realy_loud.svg"
                   alt="">
              <p class="workit-icon_descr">Внушительная громкость</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/many_chanell.svg"
                   alt="">
              <p class="workit-icon_descr">Эффект многоканального звука</p>
            </div>
          </div>
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/link.svg"
                   alt="">
              <p class="workit-icon_descr">Работа в связке с беспроводной аудиосистемой</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/airdrop.svg"
                   alt="">
              <p class="workit-icon_descr"> Связь с iPhone через Airplay</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/link_bluetooth.svg"
                   alt="">
              <p class="workit-icon_descr">Связь с Android по Bluetooth</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем акустическую систему Yamaha Music Cast — бренда, одно название
          которого гарантирует отличное качество звука и удобство беспроводного использования. </p>
        <img class="obor"
             src="..//assets/img/Yamaha.svg"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="soundbar4"
               (click)="gallery.open()"></a>
            <a class="soundbar1"
               (click)="gallery.open()"></a>
            <a class="soundbar3"
               (click)="gallery.open()"></a>
          </div>

          <a class="soundbar5"
             (click)="gallery.open()"></a>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Качество Yamaha</h2>
          <p class="service-equipment_descr">Особая конструкция саундбара обеспечивает идеальный баланс средних и
            верхних частот и глубокого баса. Безупречный звук теперь — заслуга небольшой коробки под телевизором, а не
            дорогой системы домашнего кинотеатра из семи напольных колонок.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/soundbar_black.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Впишется в любой интерьер</h2>
          <p class="service-equipment_descr">Длина саундбара — 95 сантиметров, он выпускается в двух цветах — черном и
            белом, и его можно установить на стену или тумбу под телевизор. Бонус — на сетчатом гриле не видна пыль.
          </p>
          <img class="size_protect"
               src="..//assets/img/service_img/soundbar_white.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Не только фильмы</h2>
          <p class="service-equipment_descr">Если подключить к саундбару телефон, планшет или ноутбук по Bluetooth или
            Airplay, он откроет доступ к огромным библиотекам российских и зарубежных исполнителей, подкастов и
            аудиокниг. Для прослушивания музыки телевизор можно не включать.</p>
          <img class="size_protect2"
               src="..//assets/img/logo_sound.png"
               alt="">
          <img class="size_protect1"
               src="..//assets/img/logo_sound_mob.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Связка с беспроводными колонками</h2>
          <p class="service-equipment_descr">Если, помимо саундбара, у вас установлены беспроводные колонки, их можно
            объединить в мобильном приложении для объемного звука во всем доме.</p>
          <img class="size_protect"
               src="../assets/img/service_img/yamaha_sound_phone.png"
               alt="">
        </div>
        <div class="service-equipment">
          <h2 class="title_block">Добавьте басов</h2>
          <p class="service-equipment_descr">У Yamaha отличные встроенные низкочастотные динамики — для квартиры
            достаточно. Но если вы любите чувствовать бас не только ушами, но и телом, к саундбару можно добавить
            мощный беспроводной сабвуфер JAMO. Он закроет все оставшиеся вопросы по звуку и легко впишется в интерьер —
            в черном или белом цвете.</p>
          <img class="size_protect"
               src="../assets/img/service_img/sub.png"
               alt="">
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 36 400 рублей. Итоговая цена зависит от количества телевизоров и наличия
          сабвуфера.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Можно ли комбинировать саундбар с другими решениями?'">
          <p>Конечно! Беспроводная аудиосистема и саундбар построены на одном оборудовании Yamaha и образуют единую
            систему. Видеонаблюдение или защита от воров, пожара и протечек напрямую с аудиосистемой не связаны, но
            сделают ваш дом безопаснее.</p>

        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>