:host {
    border: 1px solid #D0021B;
    color: #fff;
    background: #D0021B;
    border-radius: 50px;
    transition: all 0.3s ease;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 13px;
    padding-left: 13px;
    display: block;
    cursor: pointer;
    &:hover {
        background: transparent;
        border: 1px solid #D0021B;
        color: #D0021B;
        .icon {
            background: transparent;
            border: 1px solid #D0021B;
            color: #D0021B;
        }
    }
}

:host(.big_btn) {
    width: 17rem;
    height: 3rem;
    padding: 0;
    padding-top: 0.7rem;
    font-size: 1.3rem;
    border: 1px solid #D0021B;
    margin-top: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media(max-width: 397px) {
    :host {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 0.9rem;
    }
}
