<app-landing-menu>
  <a (click)="scroll(resheniya)">О решении</a>
  <a (click)="scroll(preimushestva)">Преимущества</a>
  <a (click)="scroll(how_much)">Стоимость</a>
  <a (click)="scroll(people)">Кто это сделает?</a>
  <a (click)="scroll(other)">Другие решения</a>
</app-landing-menu>
<app-landing-page>
  <div class="page-container">
    <main>

      <section class="service-header"
               #resheniya>
        <div class="protechka-img"><img src="/assets/img/background_ill/wifi.svg"
               alt=""></div>
        <h1>Усиление сигнала wi-fi</h1>
      </section>
      <!-- /.service-header -->
      <div class="service-how_workit">
        <p class="how-workit_descr">Обеспечивает стабильный и быстрый интернет даже в самых удаленных от роутера
          уголках вашего дома.</p>
        <div class="how-workit_icons">
          <div class="service_cont">
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/high_speed.svg"
                   alt="">
              <p class="workit-icon_descr"> Высокая скорость </p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/stable_work.svg"
                   alt="">
              <p class="workit-icon_descr">Стабильная работа</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/hit_side.svg"
                   alt="">
              <p class="workit-icon_descr">Пробивает стены</p>
            </div>
            <div class="how-workit_icon">
              <img src="/assets/img/service_icons/guest_network.svg"
                   alt="">
              <p class="workit-icon_descr">Предоставляет гостевую сеть</p>
            </div>
          </div>
        </div>
        <!-- /.how-workit_icon -->
      </div>
      <div class="service-equipment">
        <h2 class="title_block">Оборудование</h2>
        <p class="service-equipment_descr">Мы используем wi-fi оборудование Zyxel Keenetic — отличный вариант по
          соотношению цены и качества с красивым дизайном. </p>
        <img class="obor"
             src="..//assets/img/zyxel.png"
             alt="">
        <div class="cont_block">
          <div class="klone">
            <a class="wifi4"
               (click)="gallery.open()"></a>
            <a class="wifi1"
               (click)="gallery.open()"></a>
            <a class="wifi3"
               (click)="gallery.open()"></a>
            <a class="wifi5"
               (click)="gallery.open()"></a>
          </div>
        </div>
      </div>
      <section #preimushestva>
        <div class="service-equipment">
          <h2 class="title_block">Wi-fi, который просто работает</h2>
          <p class="service-equipment_descr">Комфортный wi-fi – тот, о котором не вспоминают. Потому что он просто
            работает — стабильно и быстро, без исключений. Вам до такого wi-fi — всего один звонок нам.</p>
          <img class="size_protect"
               src="..//assets/img/service_img/zyxel_wifi.png"
               alt="">
        </div>
      </section>
      <!-- /.service-equipment -->
      <section #how_much
               class="service-how_need">
        <h2 class="title_block">Сколько это стоит</h2>
        <p class="how-need_descr">Базовый комплект с установкой, настройкой, гарантией на оборудование и технической
          поддержкой от Clicker на год стоит 4 290 рублей. Итоговая цена зависит от размера квартиры или дома.</p>
        <app-calculate-price-button></app-calculate-price-button>
      </section>
      <!-- /.service-how_need -->
      <h2 #quest
          class="title_block">Отвечаем</h2>
      <section class="accordion">

        <app-accordion [title]="'Сколько роутеров и точек wi-fi мне нужно?'">
          <p>Для квартиры с двумя-тремя комнатами или дома площадью до 100 кв. метров хватит одного роутера. Для
            квартиры или дома побольше могут потребоваться одна, две или три дополнительных точки wi-fi. Напишите или
            позвоните нам, и мы поможем вам разобраться. А если сомневаетесь, привезем оборудование с запасом. Не
            понадобится — заберем обратно.</p>

        </app-accordion>
        <app-accordion [title]="'Можно ли комбинировать усиление wi-fi с другими решениями?'">
          <p>Конечно! Стабильный wi-fi — это база, к которой можно добавить пару камер или домашний кинотеатр на базе
            саундбара и Apple TV. А защита от воров, пожара и протечки сделает ваш дом безопаснее.</p>
        </app-accordion>
        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p>Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На монтаж выезжают
            только аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Что входит в стоимость?'">
          <p>Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение года. Если вы
            находитесь за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <a class="all_question"
           type="button"
           [routerLink]="['../','faq']">Все вопросы</a>
      </section>
      <section #people
               class="service-whodoit">
        <h2 class="title_block">Кто все это сделает?</h2>
        <p class="descr_of_title1">Все наши парни (мы называем их Кликерами) - проверены временем и строгими
          экзаменами.
          Они без лишних слов приедут к вам, установят и настроят гаджеты и научат ими пользоваться.</p>
        <app-workers></app-workers>
        <!-- /.slider-workers -->
      </section>
      <!-- /.service-hwodoit -->
      <!-- /.service-hwodoit -->
      <h2 class="title_block">Как сделать заказ?</h2>
      <p class="descr_of_title1">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
        проконсультируем
        по всем вопросам, поможем с выбором и назначим время приезда Кликера.</p>
      <app-calculate-price-button></app-calculate-price-button>
      <section id="other"
               class="cards">
        <div class="cards-header">
          <h2>Другие решения</h2>
        </div>

      </section>
      <!--/.cards-->
      <section #other
               class="cards">
        <app-categories-of-services></app-categories-of-services>
      </section>
    </main>
  </div>
</app-landing-page>

<app-media-gallery #gallery
                   [items]="items"></app-media-gallery>