:host{
    background: #f8f8f8;
}
.question_conteiner{
    display: flex;
    flex-direction: column;
    max-width: 55rem;
    margin: 0 auto;
    padding:2rem;
}

.cards__text {
    margin: 0;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    text-align: left;
    padding-bottom: 22px;
}
.title_block_remodal {
    font-size: 2.5rem;
    margin-top: 3rem;
    text-align: center;
}

@media (max-width: 555px){
.title_block_remodal {
    font-size: 2rem;
}
}
@media (max-width: 300px){
.title_block_remodal {
    font-size: 1.5rem;
}
}