<app-landing-menu [closable]="true"></app-landing-menu>
<app-landing-page>
  <div class="question_conteiner">
    <h2 class="title_block_remodal">Частые вопросы</h2>

    <app-tab-control>
      <app-tab-item header="{{'Как работает Кликер'}}">

        <app-accordion [title]="'В каких городах вы работаете?'">
          <p class="cards__text">В Москве и Подмосковье.</p>
        </app-accordion>

        <app-accordion [title]="'А график?'">
          <p class="cards__text">Служба поддержки дает консультации по телефону и в чате каждый день с 9.00 до 22.00.
            Выездные специалисты
            Clicker работают по тому же графику.</p>
        </app-accordion>

        <app-accordion [title]="'Какие гаджеты вы устанавливаете?'">
          <p class="cards__text">Совместимые между собой и лучшие по соотношению «цена-качество». Мы проверяли их на
            надежность,
            функциональность,
            простоту использования и выбрали для каждого решения один лучший вариант. Чтобы вам не пришлось разбираться
            в
            потоках
            информации: просто заказываете и пользуетесь.</p>
        </app-accordion>

        <app-accordion [title]="'Как оформить заказ?'">
          <p class="cards__text">Рассчитайте стоимость в калькуляторе, оставьте свой телефон, мы вам перезвоним,
            проконсультируем по всем вопросам, поможем с выбором и назначим время приезда кликера.
          </p>
        </app-accordion>

        <app-accordion [title]="'Как изменить заказ, перенести или отменить установку?'">
          <p class="cards__text">Позвоните нам в любой день или напишите в чат с 9.00 до 22.00. Постарайтесь сделать
            это заранее — хотя бы за
            несколько часов до монтажа.</p>
        </app-accordion>

        <app-accordion [title]="'Работаете ли вы с частными домами и коттеджами?'">
          <p class="cards__text">Да, но только с теми, что расположены в Москве и Подмосковье.</p>
        </app-accordion>

        <app-accordion [title]="'Работаете ли вы с малым бизнесом?'">
          <p class="cards__text">Да. Скоро у нас появится специальный сайт, а пока можете воспользоваться формой
            оформления заказа для квартир
            и частных домов.</p>
        </app-accordion>

        <app-accordion [title]="'У меня уже есть гаджет. Установите?'">
          <p class="cards__text">Мы устанавливаем и несем ответственность только за оборудование, которое сами выбрали
            и в котором уверены. А вот с настройкой другой домашней техники можем вам помочь.
          </p>
        </app-accordion>

      </app-tab-item>
      <app-tab-item header="{{'Процесс установки'}}">

        <app-accordion [title]="'Насколько квалифицированы ваши монтажники?'">
          <p class="cards__text">Прежде чем приступить к работе наши сотрудники проходят обучение и серию экзаменов. На
            монтаж выезжают только
            аттестованные кликеры — так мы называем обученных специалистов.</p>
        </app-accordion>

        <app-accordion [title]="'Монтажники приезжают со своими инструментами?'">
          <p class="cards__text">Мы вам больше скажем — у них даже тапочки свои.</p>
        </app-accordion>

        <app-accordion [title]="'Сколько времени занимает процесс установки?'">
          <p class="cards__text">От часа до восьми в зависимости от сложности заказа.</p>
        </app-accordion>

        <app-accordion [title]="'Нужно ли мне быть дома во время монтажа?'">
          <p class="cards__text">Дома обязательно должен быть человек, который встретит нашего специалиста и научится
            обращаться с
            оборудованием после установки. Будете это вы или ваше доверенное лицо, решайте сами.</p>
        </app-accordion>

        <app-accordion [title]="'Что, если мне нужны ещё гаджеты, но это стало понятно уже во время выполнения заказа?'">
          <p class="cards__text">У наших сотрудников всегда с собой дополнительные комплекты популярного оборудования.
            Если нужных гаджетов не
            окажется, они помогут оформить новый заказ.</p>
        </app-accordion>

        <app-accordion [title]="'Могу ли я вызвать того же кликера, что и в прошлый раз?'">
          <p class="cards__text">Конечно, просто сообщите об этом при оформлении повторного заказа.</p>
        </app-accordion>
      </app-tab-item>

      <app-tab-item header="{{'Поддержка и гарантия'}}">
        <app-accordion [title]="'А если в квартире что-то пропадет или сломается?'">
          <p class="cards__text">Мы уверены в своих исполнителях, но на всякий случай держим страховой фонд. В случае
            необходимости ущерб мы
            возместим самостоятельно, без участия страховых компаний, которые могут надолго затянуть процесс.</p>
        </app-accordion>

        <app-accordion [title]="'Есть ли у вас гарантия?'">
          <p class="cards__text">Стандартная гарантия от производителя на используемое нами оборудование — от года до
            двух лет, в зависимости от бренда. Также в стоимость входит гарантия на работы и техническая поддержка от
            Clicker на один год. В течении этого времени вы можете связаться с нами по телефону или в чате в любой день
            с 9.00 до 22.00, и мы решим все вопросы. Если поломка связана оборудованием, то мы сами заберем у вас
            гаджет, сдадим его в сервисный центр, отследим статус ремонта и заново установим. Гарантийные случаи мы
            устраним бесплатно, за негарантийные возьмем дополнительно 3000 рублей + стоимость ремонта в сервисном
            центре. Сроки при этом будут зависеть от сервисного центра, мы не сможем на них повлиять.
          </p>
        </app-accordion>

        <app-accordion [title]="'А если поломка случится по истечении гарантийного срока?'">
          <p class="cards__text">Мы также заберем у вас гаджет, сдадим его в сервисный центр, отследим статус ремонта и
            заново установим.
            Ремонт вы оплачиваете сами. За выезд кликера мы возьмем 3000 рублей.</p>
        </app-accordion>

        <app-accordion [title]="'Мне не нравится, как работает гаджет, и я не хочу им пользоваться. Что делать?'">
          <p class="cards__text">У вас есть две недели, чтобы передумать. Если гаджеты работают и выглядят так же, как
            в момент установки, мы
            заберем их без лишних вопросов. Бесплатно.</p>
        </app-accordion>
      </app-tab-item>

      <app-tab-item header="{{'Оборудование'}}">
        <app-accordion [title]="'Ваши гаджеты точно будут работать без сбоев?'">
          <p class="cards__text">Точно. Мы провели массу проверок и гарантируем качество. Если вам оно не понравится, у
            вас будут две недели на
            отказ. Бесплатно демонтируем и вернем деньги.</p>
        </app-accordion>

        <app-accordion [title]="'Сложно ли будет разобраться в системе?'">
          <p class="cards__text">Нет, у всех гаджетов очень простой интерфейс. И наш кликер не уедет, пока не даст вам
            подробные инструкции.
            Также на связи служба поддержки: по телефону или в чате ежедневно с 9.00 до 22.00.</p>
        </app-accordion>

        <app-accordion [title]="'Что будет с гаджетами, если отключат электричество?'">
          <p class="cards__text">Многие решения не пострадают — они работают от батареек. Те, что требуют
            электропитания, выключатся, но
            сохранят настройки и вернутся к нормальной работе вместе с электричеством.</p>
        </app-accordion>

        <app-accordion [title]="'А как часто придется менять батарейки?'">
          <p class="cards__text">Нечасто. Конкретный срок зависит от гаджета. Ориентировочно от года до четырех лет.</p>
        </app-accordion>
      </app-tab-item>
      <app-tab-item header="{{'Оплата'}}">
        <app-accordion [title]="'Что входит в стоимость?'">
          <p class="cards__text">Необходимое оборудование, выезд, монтаж, настройка и техническая поддержка в течение
            года. Если вы находитесь
            за МКАД, мы добавим к стоимости 500 рублей.</p>
        </app-accordion>

        <app-accordion [title]="'А абонентская плата?'">
          <p class="cards__text">Ее нет.</p>
        </app-accordion>

        <app-accordion [title]="'Есть ли минимальная стоимость заказа?'">
          <p class="cards__text">Нет.</p>
        </app-accordion>

        <app-accordion [title]="'Как можно оплатить услуги кликера?'">
          <p class="cards__text">По карте или наличными. У наших специалистов всегда с собой терминал для приема карт и
            кассовый аппарат.</p>
        </app-accordion>
      </app-tab-item>
    </app-tab-control>
  </div>
</app-landing-page>