<div (click)="toggle()"
     class="accordion_cont">
  <app-expand-down class="expand-down"></app-expand-down>
  <h3 class="title">{{title}}</h3>
</div>
<div @sizeInOut
     *ngIf="open"
     class="content">
  <ng-content></ng-content>
</div>