.accordion_cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.expand-down {
  margin-right: 1rem;
  margin-bottom: 2px;
  flex: 0 0 auto;
}

.ng-star-inserted {
  padding-left: 2.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 600;
  color: #050da8;
  font-size: 1.3rem;
  text-decoration: underline;
}

.content {
  overflow: hidden;
}
