.doc_container {
    padding-top: 0.5rem;
    z-index: 21;
    max-width: 62.5rem;
    padding-bottom: 4rem;
    margin: 3rem auto;
    color: #000;
}

@media (max-width: 1100px) {
    .doc_container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 400px) {
    .doc_container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}