body {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    font-size: 16px;
    font-family: 'Proxima Nova RG';
}

h3,
h2 {
    font-weight: 700;
    font-size: auto;
}

a {
    // color: black;
    text-decoration: none;
}

.page-header__logo {
    font-family: 'Proxima Nova Bl';
    font-size: 32px;
    line-height: 32px;
    color: #D0021B;
    margin-left: 4rem;
    z-index: 4;
}

.main-nav__toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    background-image: url('/assets/img/toggle-close.svg');
    border: none;
    width: 33px;
    height: 26px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .main-nav__toggle {
        display: none;
    }
}

/* Calculator */

.calculator__page {
    display: none;
    background-color: #f8f8f8;
    width: 100%;
    min-height: 9000px;
    position: absolute;
    top: 0px;
    z-index: 20;
}

.calculator__logo {
    font-family: 'Proxima Nova Bl';
    font-size: 32px;
    line-height: 32px;
    color: #D0021B;
    margin-left: 20px;
    z-index: 4;
}

.calculator__page.open {
    display: block;
}

.calculator__header {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.calculator__close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url("/assets/img/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 4rem;
}

.calculator__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    // height: 600px;
}

.calculator__section {
    font-size: 1rem;
    font-weight: normal;
}

.calculator__container-card {
    position: relative;
}

.calculator__card {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border: 1px dashed #979797;
    margin-top: 75px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
}

.calculator__card.active {
    position: relative;
    display: block;
    background-color: #fff;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.calculator__card.card-wish {
    border: none;
}

.calculator__card.card-wish h2 {
    text-align: center;
}

.calculator__card .card-wish__form {
    margin-bottom: 15px;
}

.calculator__add {
    position: absolute;
    top: -50px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: url("/assets/img/calc-add.svg");
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
}

.calculator__add:hover {
    background-image: url("/assets/img/calc-add-hover.svg");
}

.calculator__add.active {
    width: 40px;
    height: 40px;
    background-image: url("/assets/img/calc-add-active.svg");
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border: none;
    border-radius: 50%;
    background-color: #52B4EA;
}

.calculator__inclusion {
    padding: 0;
    margin: 0;
    font-size: 14px;
    opacity: 0;
}

.calculator__card.active .calculator__inclusion {
    opacity: 1;
}

.calculator__icon {
    display: block;
}

.calculator__title {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.calculator .card-1,
.calculator .card-2,
.calculator .card-3,
.calculator .card-4,
.calculator .card-5,
.calculator .card-6,
.calculator .card-7,
.calculator .card-8,
.calculator .card-9,
.calculator .card-10,
.calculator .card-11,
.calculator .card-12 {
    position: relative;
}

.calculator .card-1::after,
.calculator .card-2::after,
.calculator .card-3::after,
.calculator .card-4::after,
.calculator .card-5::after,
.calculator .card-6::after,
.calculator .card-7::after,
.calculator .card-8::after,
.calculator .card-9::after,
.calculator .card-10::after,
.calculator .card-11::after,
.calculator .card-12::after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 35px;
    background-repeat: no-repeat;
    top: 20px;
    right: 34px;
}

.calculator .card-1::after {
    background-image: url("/assets/img/icon/fire.svg");
}

.calculator .card-2::after {
    background-image: url("/assets/img/ic2-burglar.svg");
}

.calculator .card-3::after {
    background-image: url("/assets/img/ic3-water.svg");
}

.calculator .card-4::after {
    background-image: url("/assets/img/ic4-video.svg");
}

.calculator .card-5::after {
    background-image: url("/assets/img/ic5-battary.svg");
}

.calculator .card-6::after {
    background-image: url("/assets/img/ic6-boiler.svg");
}

.calculator .card-7::after {
    background-image: url("/assets/img/ic7-warmfoor.svg");
}

.calculator .card-8::after {
    background-image: url("/assets/img/ic8-audio.svg");
}

.calculator .card-9::after {
    background-image: url("/assets/img/ic9-appletv.svg");
}

.calculator .card-10::after {
    background-image: url("/assets/img/ic9-appletv.svg");
}

.calculator .card-11::after {
    background-image: url("/assets/img/ic11-light.svg");
}

.calculator .card-12::after {
    background-image: url("/assets/img/ic12-wifi.svg");
}

.calculator__text {
    margin-bottom: 10px;
}

.calculator__content.hidden {
    display: none;
}

.calculator__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-transition: 3s;
    transition: 3s;
}

.calculator__content--left {
    width: 0;
}

.calculator__content--right {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.calculator__item {
    margin-bottom: 30px;
}

.calculator__subtitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    max-width: 50%;
}

.calculator__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3px;
}

.calculator__description {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    margin: 0;
}

.calculator__counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 55px;
    margin-right: 5px;
    margin-left: auto;
}

.calculator__plus-minus {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #52B4EA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.calculator__plus-minus:hover {
    background-color: #D0021B;
}

.calculator__plus-minus.minus {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 6px;
}

.calculator__check {
    background-color: transparent;
    border: none;
    padding: 0;
    padding-right: 5px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    margin-bottom: auto;
    cursor: pointer;
}

.calculator__check:hover {
    color: #D0021B;
}

.calculator__price {
    font-weight: bold;
    font-size: 14px;
    min-width: 72px;
    margin-left: 10px;
}

.calculator__aboutprice {
    padding-right: 4px;
}

.calculator__aboutprice.hidden {
    display: none;
}

.calculator__price.hab {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-left: auto;
}

.calculator__hab-check {
    font-size: 14px;
    margin-top: 20px;
}

.calculator__smarthab-check {
    font-size: 14px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 16px;
}

.calculator__link {
    color: #52B4EA;
    font-size: 14px;
}

.calculator__link:hover {
    color: #52B4EA;
}

.calculator__form {
    width: 100%;
    height: 70px;
    font-size: 20px;
    bottom: 69px;
    left: 0px;
    margin-bottom: 0;
}

.calculator__phone {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 70px;
    font-size: 24px;
    text-align: center;
    background-color: #52B4EA;
    color: #fff;
}

.calculator__phone::-webkit-input-placeholder {
    color: #fff;
}

.calculator__phone::-moz-placeholder {
    color: #fff;
}

.calculator__button {
    padding: 0;
    margin: 0;
    padding-right: 20px;
    background-color: #52B4EA;
    border: none;
    color: #fff;
    font-size: 24px;
    border-top: 1px solid #fff;
    height: 70px;
    width: 100%;
}

.calculator__button:hover {
    background-color: #D0021B;
}

.calculator__bottom-shadow {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 248, 248, 0)), to(#f6f8f8));
    background: linear-gradient(to bottom, rgba(248, 248, 248, 0), #f6f8f8);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 70px;
}

.calculator__cutdown {
    display: none;
}

.calculator__cutdown.open {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: gray;
    border: none;
    outline: none;
    padding: 0;
    height: 50px;
    margin-top: -20px;
    cursor: pointer;
}

.calculator .toorder {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.calculator .toorder.hidden {
    opacity: 0;
}

.calculator .tocount {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: -65px;
}

.calculator .tocount.hidden {
    opacity: 0;
}

.calculator__checkbox-hab {
    padding-top: 3px;
    margin-left: -10px;
}

@media (min-width: 781px) {
    .calculator__close {
        margin-right: 4rem;
    }
    .calculator__container {
        width: 90%;
    }
    .calculator .card-1::after,
    .calculator .card-2::after,
    .calculator .card-3::after,
    .calculator .card-4::after,
    .calculator .card-5::after,
    .calculator .card-6::after,
    .calculator .card-7::after,
    .calculator .card-8::after,
    .calculator .card-9::after,
    .calculator .card-10::after,
    .calculator .card-11::after,
    .calculator .card-12::after {
        top: 34px;
        left: 34px;
    }
    .calculator__section {
        padding-left: 48px;
    }
    .calculator__card {
        padding: 32px;
        padding-left: 80px;
        margin-right: 50px;
        margin-left: 100px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .calculator__card:hover {
        border: 1px dashed #0086ff;
        -webkit-transition: 1.5s;
        transition: 1.5s;
    }
    .calculator__card.card-wish:hover {
        border: 0;
    }
    .calculator__card.active {
        position: relative;
        display: block;
        background-color: #fff;
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .calculator__add {
        top: 45px;
        left: 40px;
        cursor: pointer;
    }
    .calculator__add.active {
        top: 25px;
        left: 40px;
    }
    .calculator__add:hover.active:hover {
        background-color: #D0021B;
    }
    .calculator__title {
        width: 15%;
    }
    .calculator__inclusion {
        position: absolute;
        margin-top: 10px;
        margin-bottom: 10px;
        top: 85px;
    }
    .calculator__description {
        width: 60%;
    }
    .calculator__text {
        width: 45%;
        padding-left: 0;
    }
    .calculator__subtitle {
        font-size: 14px;
        position: relative;
        max-width: 1;
        display: inline-block;
    }
    .calculator__subtitle--stroke {
        margin: 0;
        padding: 0;
        display: block;
        height: 1px;
        flex: 2;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
    }
    .calculator__subtitle--stroke::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        left: 0;
        top: 10px;
        background-color: lightgray;
    }
    .calculator__counter {
        width: 60px;
        margin-right: 0.5rem;
    }
    .calculator__counter--item {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }
    .calculator__price {
        // text-align: right;
        font-weight: bold;
        font-size: 14px;
        margin-left: auto;
        // padding-left: 10px;
    }
    .calculator__hab-check {
        margin-left: 180px;
    }
    .calculator__form {
        bottom: 0;
    }
    .calculator__phone {
        float: left;
        width: 50%;
    }
    .calculator__button {
        border-top: none;
        border-left: 1px solid #fff;
        width: 50%;
    }
    .calculator__add:hover~.calculator__card {
        border: 1px dashed #0086ff;
    }
    calculator__add.active:hover {
        background-color: #D0021B;
    }
    .calculator__add:hover~.calculator__card.active {
        border: none;
    }
}

@media (min-width: 1000px) {
    .calculator__container {
        width: 1000px;
    }
    .calculator__content--left {
        width: 14%;
    }
    .calculator__intro {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: flex-start;
    }
    .calculator__title {
        margin-bottom: 0;
        width: 18%;
    }
    .calculator__inclusion {
        position: absolute;
        margin-top: 10px;
        margin-bottom: 10px;
        top: 97px;
        width: 80px;
    }
    .calculator__title::before {
        width: 40px;
        height: 45px;
    }
    .calculator__subtitle {
        padding-left: 0;
    }
    .calculator__content--right {
        width: 84%;
        padding-left: 40px;
    }
    .calculator__img {
        width: 40px;
    }
    .calculator__intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .calculator__text {
        width: 60%;
        padding-left: 0;
    }
    .calculator__text p {
        padding-left: 0px;
    }
    .calculator__hab-check {
        margin-left: 220px;
    }
    .calculator__checkbox-hab {
        padding-top: 3px;
    }
}

#email-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #505050;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

.filter-wish-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.filter-input-checkbox {
    opacity: 0;
}

.filter-input-checkbox+label {
    position: relative;
    cursor: pointer;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    border: 2px solid #0086ff;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    box-sizing: initial;
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 15px;
    top: 3px;
    left: -27px;
    background-image: url("/assets/img/checkbox.svg");
    background-repeat: no-repeat;
}

.service-list {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.card-hab .calculator__title::after,
.card-14 .calculator__title::after {
    content: "";
}

.card-wish {
    margin-top: 40px;
}

.wish-item {
    line-height: 20px;
    margin-bottom: 10px;
}

.check__page {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.check__item {
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
}

.check__item::before {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    top: -50px;
}

.check__item.item-1::before {
    background-image: url("/assets/img/ic1-fire.svg");
}

.check__item.item-2::before {
    background-image: url("/assets/img/ic2-burglar.svg");
}

.check__title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.check__subtitle {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.check__list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 28px;
}

.check__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.check__line.first-line {
    margin-top: 20px;
    margin-bottom: 10px;
}

.check__item-title {
    margin: 0;
    padding: 0;
}

.check__qt {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 5px;
}

.check__item-price {
    font-size: 18px;
    font-weight: bold;
}

.check__subitem-price {
    font-weight: bold;
}

.check__subtitle--stroke {
    margin: 0;
    padding: 0;
    display: block;
    height: 1px;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    background-color: lightgray;
}

.check__subtitle--stroke::after {
    width: 100%;
}

.check__price {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.check__link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0086ff;
    text-decoration: underline;
}

.check__block {
    position: relative;
}

.check__block::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    bottom: 70px;
    height: 1px;
    background-color: #cccccc;
}

@media (min-width: 768px) {
    .check__page {
        width: 768px;
        padding: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .check__block {
        margin-left: auto;
        margin-right: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 32px;
        padding-right: 32px;
        width: 625px;
        border: 1px solid #eeeded;
        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        margin-top: 40px;
        margin-bottom: 60px;
        position: relative;
    }
    .check__block::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        left: 0;
        bottom: 70px;
        height: 1px;
        background-color: #cccccc;
    }
    .check__item::before {
        position: absolute;
        content: "";
        display: block;
        background-repeat: no-repeat;
        width: 30px;
        height: 50px;
        top: -5px;
        left: -50px;
    }
}

.thanks__title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    margin-top: 60px;
}

.thanks__subtitle {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .thanks__block {
        margin-left: auto;
        margin-right: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 625px;
        border: 1px solid #eeeded;
        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .calculator__phone {
        height: 50px;
    }
    .calculator__button {
        height: 50px;
    }
    .calculator__form {
        height: auto; // position: fixed;
        bottom: 0;
        margin-bottom: 0;
    }
    .calculator__phone input {
        width: 11rem;
    }
}

.service-list li {
    font-weight: bold;
}

@media(max-width:1000px){
    .calculator__text p{
        padding-left: 0 !important;
        font-size: 0.9rem !important;
    }
    .calculator__text{
        width: 30rem;
    }
    .calculator__intro{
        display: flex;
    }
    .calculator__card{
        padding-left: 60px;
    }
    .calculator .card-1::after,
    .calculator .card-2::after,
    .calculator .card-3::after,
    .calculator .card-4::after,
    .calculator .card-5::after,
    .calculator .card-6::after,
    .calculator .card-7::after,
    .calculator .card-8::after,
    .calculator .card-9::after,
    .calculator .card-10::after,
    .calculator .card-11::after,
    .calculator .card-12::after {
        left: 16px;
        top: 28px;
    }
 
    .calculator__allprice{
        width: 10rem;
        margin-left: 1.4rem !important;
    }
    .calculator__inclusion{
        top: 269px;
    }
    .service-list {
        margin-top: 0.5rem;
}   
    .calculator__inclusion{
        display: none;
    }
    .calculator__inclusion__phone{
        margin-top: 1rem;
        margin-bottom: 0;
        font-size:0.9rem;
    }
    .calculator__item{
        margin-bottom: 20px;
    }
}
@media(max-width: 780px){
.calculator .card-1::after,
.calculator .card-2::after,
.calculator .card-3::after,
.calculator .card-4::after,
.calculator .card-5::after,
.calculator .card-6::after,
.calculator .card-7::after,
.calculator .card-8::after,
.calculator .card-9::after,
.calculator .card-10::after,
.calculator .card-11::after,
.calculator .card-12::after
    {
    left: 251px;
    top: 13px;
    }
    .calculator__card {
        padding-left: 1rem;
    }
    .calculator__text {
        margin-top: 1rem;
        width: auto;
    }
    .calculator__intro {
        flex-direction: column;
    }
    .calculator__allprice {
        margin-bottom: 0;
        margin-left:0 !important;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 1.2rem;
        margin-bottom: 0 !important;
    }
    .page-header__logo {
        margin-left: 2rem;
    }
    .calculator__close{
        margin-right: 2rem;
    }

}
@media ( min-width: 1000 px){
    .calculator__inclusion__phone{
        display: none;
    }
} 