.card {
  width: 260px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px 16px;
  transition: 300ms box-shadow ease-out;
  cursor: pointer;
  &:hover {
    transition: 300ms box-shadow ease-in;
    box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.14);
  }
}

.title {
  margin: 0;
  font-size: 20px;
  text-align: left;
  margin-right: 40px;
  color: #000;
  font-weight: 700;
}

.price {
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-size: 20px;
  color: #050da8;
  margin-bottom: 10px;
}

.description {
  margin: 0;
  color: #000;
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  text-align: left;
}

img {
  width: 239px;
  height: 230px;
  align-self: center;
}
