<div class="card">
  <img [src]="img">
  <div style="margin: 8px 0px 0px 0px">
    <div class="title">{{title}}</div>
    <div class="price">от {{price | localeCurrencyConverter}}₽</div>
  </div>
  <div class="description">{{description}}</div>
</div>