<div class="check__line">{{title}}
  <div class="check__subtitle--stroke"></div>
  <div class="cont_price" style="display: flex;">
    <span class="check__qt"
          *ngIf="!isSingle">{{count}} х</span>
    <span class="check__subitem-price">{{price}} ₽</span>
  </div>
</div>