<div style="min-height: 54px; background: #1a9fcb; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); display: flex; flex-direction: row; align-items: center;">
  <button (click)="back()" style="margin-left: 8px; width: 48px; height: 48px; border: none; padding:0px; border-radius: 50%; background: transparent;">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="48"
         height="48"
         fill="white"
         viewBox="0 0 48 48">
      <path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z" />
    </svg>
  </button>
  <div style="color: white; font-size: 24pt; margin-left: 8px;">
    История заказа
  </div>
</div>
<div style="margin-top: 14px;"
     *ngFor="let historyItem of orderHistory">
  <div>{{historyItem.author}}</div>
  <div>{{historyItem.changeDate | localeDateConverter}}</div>

  <table>
    <tr>
      <th>Имя</th>
      <th>Цена</th>
    </tr>
    <tr *ngFor="let device of historyItem.orderHistoryDeviceses">
      <td>{{device.name}}</td>
      <td>{{device.price}}</td>
    </tr>
  </table>
</div>